<!-- INCLUDE overall_header.html -->

<br />

<!-- IF S_IS_PASSWORD_RESET -->

<!-- Password Reset Form (setting new password) -->
<form method="post" action="{U_RESET_PASSWORD_ACTION}">

<table cellpadding="0" cellspacing="0" border="0" bgcolor="#3E4637" width="100%" align="center"><tr><td>
<table cellpadding="4" cellspacing="1" border="0" width="100%">
<tr>
	<td bgcolor="#3E4637" colspan="2"><font face="verdana, arial, helvetica" size="2" color="#D8DED3" class="thtcolor"><b>
	{L_RESET_PASSWORD}</b></font></td>
</tr>
<!-- IF PASSWORD_RESET_ERRORS -->
<tr>
	<td bgcolor="#545F4E" colspan="2"><font face="verdana, arial, helvetica" size="2" color="#FF0000">
	{{ PASSWORD_RESET_ERRORS | join('<br>') }}
	</font></td>
</tr>
<!-- ENDIF -->
<tr>
	<td bgcolor="#545F4E" valign="top"><font face="verdana, arial, helvetica" size="2">{L_CHANGE_PASSWORD_EXPLAIN}</font></td>
</tr>
<!-- IF USERNAME_REQUIRED -->
<tr>
	<td bgcolor="#626d5c" align="center" nowrap="nowrap"><font face="verdana, arial, helvetica" size="2"><b>{L_USERNAME}: &nbsp;&nbsp;&nbsp;
	<input type="text" class="bginput" name="username" size="35" maxlength="90" value="{USERNAME}" /></b></font></td>
</tr>
<!-- ENDIF -->
<tr>
	<td bgcolor="#626d5c" align="center" nowrap="nowrap"><font face="verdana, arial, helvetica" size="2"><b>{L_NEW_PASSWORD}: &nbsp;&nbsp;&nbsp;
	<input type="password" class="bginput" name="new_password" size="35" maxlength="255" /></b></font></td>
</tr>
<tr>
	<td bgcolor="#626d5c" align="center" nowrap="nowrap"><font face="verdana, arial, helvetica" size="2"><b>{L_CONFIRM_PASSWORD}: &nbsp;&nbsp;&nbsp;
	<input type="password" class="bginput" name="new_password_confirm" size="35" maxlength="255" /></b></font></td>
</tr>
</table>
</td></tr></table>

<br />

<table cellpadding="2" cellspacing="0" border="0" width="100%" align="center">
<tr>
	<td align="center"><font face="verdana, arial, helvetica" size="2">
	{S_HIDDEN_FIELDS}
	{S_FORM_TOKEN}
	<input type="submit" class="bginput" name="submit" value="{L_SUBMIT}" />
	</font></td>
</tr>
</table>

</form>

<!-- ELSE -->

<!-- Password Recovery Form (request reset via email) -->
<form method="post" action="{U_RESET_PASSWORD_ACTION}">

<table cellpadding="0" cellspacing="0" border="0" bgcolor="#3E4637" width="100%" align="center"><tr><td>
<table cellpadding="4" cellspacing="1" border="0" width="100%">
<tr>
	<td bgcolor="#3E4637" colspan="2"><font face="verdana, arial, helvetica" size="2" color="#D8DED3" class="thtcolor"><b>
	Password Recovery Form</b></font></td>
</tr>
<!-- IF USERNAME_REQUIRED -->
<tr>
	<td bgcolor="#545F4E" colspan="2"><font face="verdana, arial, helvetica" size="2" color="#FF0000">Multiple accounts are associated with your email address. Please also enter your username.</font></td>
</tr>
<!-- ENDIF -->
<tr>
	<td bgcolor="#545F4E" valign="top"><font face="verdana, arial, helvetica" size="2">If you have forgotten your username or password, you can request to have your username emailed to you and to reset your password. When you fill in your registered email address, you will be sent instructions on how to reset your password.</font></td>
</tr>
<tr>
	<td bgcolor="#626d5c" align="center" nowrap="nowrap"><font face="verdana, arial, helvetica" size="2"><b>Your Email Address: &nbsp;&nbsp;&nbsp;
	<input type="text" class="bginput" name="email" size="35" maxlength="100" value="{EMAIL}" /></b></font></td>
</tr>
<!-- IF USERNAME_REQUIRED -->
<tr>
	<td bgcolor="#626d5c" align="center" nowrap="nowrap"><font face="verdana, arial, helvetica" size="2"><b>{L_USERNAME}: &nbsp;&nbsp;&nbsp;
	<input type="text" class="bginput" name="username" size="35" maxlength="90" value="{USERNAME}" /></b></font></td>
</tr>
<!-- ENDIF -->
</table>
</td></tr></table>

<br />

<table cellpadding="2" cellspacing="0" border="0" width="100%" align="center">
<tr>
	<td align="center"><font face="verdana, arial, helvetica" size="2">
	{S_HIDDEN_FIELDS}
	{S_FORM_TOKEN}
	<input type="submit" class="bginput" name="submit" value="Request Username / Password Now" />
	</font></td>
</tr>
</table>

</form>

<!-- ENDIF -->

<!-- INCLUDE overall_footer.html -->
