<html><head>
<title>Counter-Strike?: Source? Latest News</title>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<meta content="no-cache" http-equiv="pragma">
<meta content="ALL" name="ROBOTS">
<meta content="SteamPowered" name="DESCRIPTION">
<meta content="Steam, account, account creation, signup" name="KEYWORDS">
<meta content="Valve LLC" name="AUTHOR">
<link href="steampowered.css" rel="stylesheet" type="text/css">
<!-- css2 -->
<link href="webicon.png" rel="Shortcut Icon" type="image/png">
<script language="JavaScript" src="nav.js"></script><style type="text/css" id="operaUserStyle"></style>
<link href="rss.xml" rel="alternate" title="Valve RSS News Feed" type="application/rss+xml">
</head>
<body>
<!-- begin header -->
{{ header() }}
<!-- end header -->
<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
<tbody><tr>
<td align="center" valign="top"><br>
<table background="./images/ProductBanner_CSS02.gif" border="0" cellpadding="0" cellspacing="0" height="172" width="800">
<tbody><tr height="171">
<td height="171" width="799"></td>
<td height="171" width="1"><spacer height="171" type="block" width="1"></spacer></td>
</tr>
<tr height="1">
<td height="1" width="799"><spacer height="1" type="block" width="799"></spacer></td>
<td height="1" width="1"></td>
</tr>
</tbody></table>
<table bgcolor="#3e4637" border="0" cellpadding="0" cellspacing="0" width="800">
<tbody><tr height="24">
<td colspan="3" height="24" width="799"><spacer height="24" type="block" width="799"></spacer></td>
<td height="24" width="1"><spacer height="24" type="block" width="1"></spacer></td>
</tr>
<tr>
<td width="26"><spacer height="1" type="block" width="26"></spacer></td>
<td align="left" content="" valign="top" width="736">
<div align="left" style="line-height: 17px; width: 70%; text-align: left; margin-left: 54px;">
{{ content|raw }}
<br>
<br>
<div><br>&nbsp;</div><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br></div>
</td>
<td width="37"><spacer type="block" width="37"></spacer></td>
<td width="1"><spacer type="block" width="1"></spacer></td>
</tr>
<tr cntrlrow="" height="1">
<td height="1" width="26"><spacer height="1" type="block" width="26"></spacer></td>
<td height="1" width="736"><spacer height="1" type="block" width="736"></spacer></td>
<td height="1" width="37"><spacer height="1" type="block" width="37"></spacer></td>
<td height="1" width="1"><spacer height="1" type="block" width="1"></spacer></td>
</tr>
</tbody></table>
</td>
</tr>
</tbody></table>
<div class="footer">
</div>
<!-- begin footer -->
<div class="footer">
<table cellpadding="0" cellspacing="0">
<tbody><tr>
<td><a href="http://www.valvesoftware.com"><img src="img/valve_greenlogo.gif"></a></td>
<td>&nbsp;</td>
<td><span class="footerfix">{{ footer() }}<a href="http://www.valvesoftware.com/privacy.htm">Privacy Policy</a>. <a href="http://www.valvesoftware.com/legal.htm">Legal</a>. <a href="index.php?area=subscriber_agreement">Steam Subscriber Agreement</a>.</span></td>
<td width="15%">&nbsp;</td>
</tr>
</tbody></table>
</div>
<!-- end footer -->

</body></html>