<h1>GET STEAM NOW</h1>
<h2>IN MINUTES, <em>YOU'LL BE PLAYING YOUR FAVORITE GAMES</em></h2><img alt="" height="6" src="images/Graphic_box.jpg" width="24"><br>
<div class="narrower">
<br>
<!-- <h3>DOWNLOAD LOCATIONS</h3><br> -->

{# Render main content downloads using our new render system #}
{% for file in main_content_files %}
{{ cms_render_download_file(file, '2004')|raw }}
{% endfor %}

<!--
mirrors removed.
 -->
<br>
<br>

{# Render any additional main content files #}
{% for file in main_content_files|slice(1) %}
{{ cms_render_download_file(file, '2004')|raw }}
{% endfor %}

<hr>
<h3>SYSTEM REQUIREMENTS</h3>
<ul>
<li>Windows 98, ME, 2000 or XP</li>
<li>64 MB RAM</li>
<li>400 Mhz processor</li>
<li>1GB HD space (recommended)</li>
<li>Broadband Internet connection (recommended but not required)</li>
</ul>
(If you are not sure your computer meets these system requirements, please check with your computer manufacturer.)<br>
<hr>
After you've started your Steam download from one of the locations listed above, select the option to 'Open' the install program.<br><br>
</div>
