{% extends 'layout/default.twig' %}
{% block content %}
<div id="contest-container">
    {% include 'partials/map_contest_page1.twig' %}
    {% include 'partials/map_contest_page2.twig' %}
    {% include 'partials/map_contest_page3.twig' %}
</div>
<script src="{{ THEME_URL }}/js/jquery.min.js"></script>
<script src="{{ THEME_URL }}/js/map_contest.js"></script>
{% endblock %}
