{% extends 'layout/default.twig' %}
{% block content %}
<h1>INVALID AREA</h1>
<h2>PERHAPS <em>YOU MISTYPED?</em></h2><img src="/img/Graphic_box.jpg" height="6" width="24" alt=""><br>
<div class="narrower">
<br>
Please select an option from the top menu.
</div>
{% endblock %}
