<tr><td height="100%">
    <table align="center" cellspacing="0" cellpadding="0" style="height:100%;">
    <tr>
        <td bgcolor="#FFFFFF" valign="top" style="width:10px;height:10px"><img src="img/storefront/sp_top_left.gif"></td>
        <td bgcolor="#FFFFFF" valign="top" rowspan="3">
            <table align="center" width="736" cellspacing="0" cellpadding="0" border="0" style="height:100%;">
            <tr>
                <td width="10" valign="top" align="left" nowrap></td>
                <td width="118" valign="top" align="left" nowrap>
                    <table cellspacing="0" cellpadding="0">
                    <tr><td height="10"></td></tr>
                    <tr><td nowrap>
                        <span><a href="index.php?" class="menu_item">Home</a></span><br>
                        <div class="menu_spacer">&nbsp;</div>
                        <span><a href="index.php?area=browse&amp;" class="menu_item">Browse Games</a></span><br>
                        <span><a href="index.php?area=all&amp;" class="menu_item">All Games</a></span><br>
                        <span><font face="Wingdings 3"><span class="menu_pointer">&#132;</span></font> <a href="index.php?area=search&amp;" class="menu_item_current">Search</a></span><br>
                        <div class="menu_spacer">&nbsp;</div>
                        <span><a href="index.php?area=media&amp;" class="menu_item">Media</a></span><br>
                    </td></tr>
                    </table>
                </td>
                <td width="8"><nobr>&nbsp;&nbsp;</nobr></td>
                <td width="100%" valign="top" align="left">
                    <table cellpadding="0" cellspacing="0">
                    <tr><td width="600" height="50" background="img/title_grey.jpg"><span class="page_title">&nbsp;&nbsp;Search</span></td></tr>
                    <tr><td height="10"></td></tr>
                    <tr><td>
                    <span class="normal_text">
                        <form action="index.php" method="get">
                            <input type="hidden" name="area" value="search">
                            <table width="100%" cellpadding="0" cellspacing="0">
                            <tr>
                                <td width="10" height="10" background="img/search_blue_left_top.gif" nowrap></td>
                                <td bgcolor="#009ca5" width="100%"></td>
                                <td width="10" height="10" background="img/search_blue_right_top.gif" nowrap></td>
                            </tr>
                            <tr>
                                <td width="10" background="img/search_blue_left.gif" nowrap></td>
                                <td bgcolor="#009ca5" width="100%">
                                    <table width="100%" cellpadding="0" cellspacing="0">
                                    <tr><td width="100%">
                                        <table width="100%" cellpadding="0" cellspacing="0">
                                        <tr><td width="100%"><span class="search_form_text">Search Term(s)</span></td></tr>
                                        <tr><td width="100%"><input type="text" name="term" value="<?php echo htmlspecialchars($term); ?>" maxlength="64" style="width:100%;"></td></tr>
                                        <tr><td height="5"></td></tr>
                                        <tr><td width="100%">
                                            <table width="100%" cellpadding="0" cellspacing="0">
                                            <tr>
                                                <td width="33%"><span class="search_form_text">Developer</span></td>
                                                <td width="10" nowrap></td>
                                                <td width="33%"><span class="search_form_text">Category</span></td>
                                                <td width="10" nowrap></td>
                                                <td width="33%"><span class="search_form_text">Price</span></td>
                                            </tr>
                                            <tr>
                                                <td width="33%">
                                                    <select name="developer" style="width:100%;">
                                                        <option value="" selected>-</option>
                                                        <?php foreach($developers as $d): ?>
                                                        <option value="<?php echo htmlspecialchars($d); ?>"<?php if($developer==$d) echo ' selected'; ?>><?php echo htmlspecialchars($d); ?></option>
                                                        <?php endforeach; ?>
                                                    </select>
                                                </td>
                                                <td width="10" nowrap></td>
                                                <td width="33%">
                                                    <select name="category" style="width:100%;">
                                                        <option value="" selected>-</option>
                                                        <?php foreach($categories as $c): ?>
                                                        <option value="<?php echo $c['id']; ?>"<?php if($category==$c['id']) echo ' selected'; ?>><?php echo htmlspecialchars($c['name']); ?></option>
                                                        <?php endforeach; ?>
                                                    </select>
                                                </td>
                                                <td width="10" nowrap></td>
                                                <td width="33%">
                                                    <select name="price" style="width:100%;">
                                                        <?php foreach($prices as $val=>$label): ?>
                                                        <option value="<?php echo $val; ?>"<?php if($val!=='' && $price==$val) echo ' selected'; ?>><?php echo $label; ?></option>
                                                        <?php endforeach; ?>
                                                    </select>
                                                </td>
                                            </tr>
                                            </table>
                                        </td></tr>
                                        </table>
                                    </td></tr>
                                    </table>
                                </td>
                                <td width="10" nowrap></td>
                                <td><input type="submit" value="Search"></td>
                            </tr>
                            </table>
                        </form>
                        <br>
                        <?php if(!$apps): ?>
                            <div align="center"><em>Please specify a search term or select a developer or price from the search options.</em></div>
                        <?php else: ?>
                        <table cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td width="5" height="20" nowrap background="img/endcap_blue_l.gif"></td>
                            <td class="h" nowrap width="100%" bgcolor="#5A6A50"><?php echo sort_link('Name','Name',$base_params,$sort_last,$sort_order); ?></td>
                            <td width="5" height="20" nowrap background="img/endcap_blue_r.gif"></td>
                            <td width="5" nowrap></td>
                            <td width="5" height="20" nowrap background="img/endcap_blue_l.gif"></td>
                            <td class="h" nowrap bgcolor="#5A6A50"><?php echo sort_link('Developer','Developer',$base_params,$sort_last,$sort_order); ?></td>
                            <td width="5" height="20" nowrap background="img/endcap_blue_r.gif"></td>
                            <td width="5" nowrap></td>
                            <td width="5" height="20" nowrap background="img/endcap_blue_l.gif"></td>
                            <td class="h" nowrap bgcolor="#5A6A50"><?php echo sort_link('Metascore','Metascore',$base_params,$sort_last,$sort_order); ?></td>
                            <td width="5" height="20" nowrap background="img/endcap_blue_r.gif"></td>
                            <td width="5" nowrap></td>
                            <td width="5" height="20" nowrap background="img/endcap_blue_l.gif"></td>
                            <td class="h" nowrap bgcolor="#5A6A50"><?php echo sort_link('Price','Price',$base_params,$sort_last,$sort_order); ?></td>
                            <td width="5" height="20" nowrap background="img/endcap_blue_r.gif"></td>
                        </tr>
                        <tr><td colspan="15" height="2"></td></tr>
                        <?php
                        $i=0;
                        foreach($apps as $a):
                            $bg = ($i++ % 2) ? '#f4f5f0' : '#ffffff';
                            $rowid = 'row_'.$a['appid'];
                            $price_txt = $a['price']>0 ? '$'.number_format($a['price'],2) : 'Third-party';
                        ?>
                        <tr class="h" onclick=" location.href='index.php?area=game&AppId=<?php echo $a['appid']; ?>&browse=1' " id="<?php echo $rowid; ?>" bgcolor="<?php echo $bg; ?>" onMouseOver="HiLiteRow('<?php echo $rowid; ?>', '#ECF39D');" onMouseOut="HiLiteRow('<?php echo $rowid; ?>', '<?php echo $bg; ?>');" >
                            <td nowrap width="5" height="20"></td>
                            <td class="h" nowrap width="100%"><?php echo htmlspecialchars($a['name']); ?></td>
                            <td colspan="3" width="15"></td>
                            <td class="h" nowrap><?php echo htmlspecialchars($a['developer']); ?></td>
                            <td colspan="3" width="15"></td>
                            <td class="h" nowrap align="center"><span class="ReleaseDateAvailable"><?php echo htmlspecialchars($a['availability']); ?></span></td>
                            <td colspan="3" width="15"></td>
                            <td class="h" nowrap align="right"><span class="price_text"><?php echo $price_txt; ?></span></td>
                            <td colspan="3" width="5"></td>
                        </tr>
                        <?php endforeach; ?>
                        </table>
                        <?php endif; ?>
                    </span>
                    </td></tr>
                    </table>
                </td>
            </tr>
            </table>
        </td>
        <td bgcolor="#FFFFFF" valign="top" style="width:10px;height:10px"><img src="img/storefront/sp_top_right.gif"></td>
    </tr>
    <tr><td bgcolor="#FFFFFF"></td><td bgcolor="#FFFFFF"></td></tr>
    <tr>
        <td bgcolor="#FFFFFF" valign="bottom" style="width:10px;height:10px"><img src="img/storefront/sp_bottom_left.gif"></td>
        <td bgcolor="#FFFFFF" valign="bottom" style="width:10px;height:10px"><img src="img/storefront/sp_bottom_right.gif"></td>
    </tr>
    </table>
