body {
	font-family:verdana, arial, sans-serif;
	font-size:8pt;
	line-height:12pt;
	background:#3E4637;
	color:#969F8E;
	margin-top:8px;
	margin-left:8px;
}
ul {
	margin-left:16px;
	margin-top:0px;
	margin-bottom:4px;
	text-indent:0px;
	list-style-type:square;
}
th {
	font-family:verdana, arial, sans-serif;
	font-size:8pt;
	vertical-align:top;
	text-align:left;
	width:80px;
	background:#4C5844;
	padding-left:4px;
}
td {
	font-family:verdana, arial, sans-serif;
	font-size:8pt;
	vertical-align:top;
	padding-left:4px;
}
pre	{
	font-family:verdana, arial, sans-serif;
	font-size:8pt;
}
strong { 
	font-weight:bold; 
}
hr	{
	height:1px;
	width:50%;
	color:#969F8E;
}
.linky {
	cursor: hand;
	font-family: Courier New;
	font-size: 9pt;
	font-weight: bold;
	color: #C6B652;
	margin-bottom: 20px;
}
a {
}
a:visited {
	color: #D8DED3; text-decoration:none;
}
a:link {
	color: #D8DED3; text-decoration:none;
}
a:hover {
	color: #ffffff; text-decoration:none;
}
a:active {
	color: #ffffff; text-decoration:none; background:#958831;
}
.headerimg {
	float: right;
	margin-right: 0px;
}
.header {
	color: #C6B652;
	text-transform: capitalize;
	font-weight: bold;
}
.note {
	color: #dddddd;
}