<!-- INCLUDE overall_header.html -->

<!-- Main Forum Index -->
<table cellpadding="0" cellspacing="0" border="0" bgcolor="#3E4637" width="100%" align="center">
<tr>
    <td>
        <table cellpadding="4" cellspacing="1" border="0" width="100%">
        <tr align="center">
            <td bgcolor="#3E4637"><font face="verdana,arial,helvetica" size="1">&nbsp;</font></td>
            <td bgcolor="#3E4637" width="80%" align="left">
                <font face="verdana,arial,helvetica" size="1" color="#D8DED3"><b>{L_FORUM}</b></font>
            </td>
            <td bgcolor="#3E4637">
                <font face="verdana,arial,helvetica" size="1" color="#D8DED3"><b>{L_POSTS}</b></font>
            </td>
            <td bgcolor="#3E4637">
                <font face="verdana,arial,helvetica" size="1" color="#D8DED3"><b>{L_TOPICS}</b></font>
            </td>
            <td bgcolor="#3E4637" nowrap="nowrap">
                <font face="verdana,arial,helvetica" size="1" color="#D8DED3"><b>{L_LAST_POST}</b></font>
            </td>
            <td bgcolor="#3E4637" width="20%">
                <font face="verdana,arial,helvetica" size="1" color="#D8DED3"><b>{L_MODERATORS}</b></font>
            </td>
        </tr>

        <!-- BEGIN forumrow -->
        <!-- IF forumrow.S_IS_CAT -->
        <tr class="cat">
            <td bgcolor="#3E4637" colspan="6">
                <a href="{forumrow.U_VIEWFORUM}">
                    <font face="verdana, arial, helvetica" size="2" color="#B4BA50"><b>{forumrow.FORUM_NAME}</b></font>
                </a>
                <!-- IF forumrow.FORUM_DESC -->
                <br /><font face="verdana,arial,helvetica" size="1" color="#B4BA50">{forumrow.FORUM_DESC}</font>
                <!-- ENDIF -->
            </td>
        </tr>
        <!-- ELSE -->
        <tr align="center">
            <td bgcolor="<!-- IF forumrow.S_ROW_COUNT is odd -->#626d5c<!-- ELSE -->#545F4E<!-- ENDIF -->" valign="top">
                <!-- IF forumrow.FORUM_FOLDER_IMG -->
                <img src="{forumrow.FORUM_FOLDER_IMG}" border="0" alt="{forumrow.FORUM_FOLDER_IMG_ALT}" />
                <!-- ELSE -->
                <img src="{T_THEME_PATH}/images/<!-- IF forumrow.S_LOCKED -->offlock<!-- ELSEIF forumrow.S_HAS_UNREAD -->on<!-- ELSE -->off<!-- ENDIF -->.gif" border="0" alt="" />
                <!-- ENDIF -->
            </td>
            <td bgcolor="<!-- IF forumrow.S_ROW_COUNT is even -->#626d5c<!-- ELSE -->#545F4E<!-- ENDIF -->" align="left">
                <a href="{forumrow.U_VIEWFORUM}">
                    <font face="verdana, arial, helvetica" size="2"><b>{forumrow.FORUM_NAME}</b></font>
                </a>
                <!-- IF forumrow.FORUM_DESC -->
                <br /><font face="verdana,arial,helvetica" size="1">{forumrow.FORUM_DESC}</font>
                <!-- ENDIF -->
            </td>
            <td bgcolor="<!-- IF forumrow.S_ROW_COUNT is odd -->#626d5c<!-- ELSE -->#545F4E<!-- ENDIF -->">
                <font face="verdana, arial, helvetica" size="2">{forumrow.POSTS}</font>
            </td>
            <td bgcolor="<!-- IF forumrow.S_ROW_COUNT is even -->#626d5c<!-- ELSE -->#545F4E<!-- ENDIF -->">
                <font face="verdana, arial, helvetica" size="2">{forumrow.TOPICS}</font>
            </td>
            <td bgcolor="<!-- IF forumrow.S_ROW_COUNT is odd -->#626d5c<!-- ELSE -->#545F4E<!-- ENDIF -->">
                <font face="verdana,arial,helvetica" size="1">
                <!-- IF forumrow.LAST_POST_TIME -->
                    <table cellpadding="0" cellspacing="0" border="0" width="100%">
                    <tr align="right">
                        <td nowrap="nowrap">
                            <font face="verdana,arial,helvetica" size="1">
                            {forumrow.LAST_POST_TIME}
                            <!-- IF forumrow.LAST_POST_AUTHOR -->
                            <br />by <a href="{forumrow.U_LAST_POST_AUTHOR}">{forumrow.LAST_POST_AUTHOR}</a>
                            <!-- ENDIF -->
                            </font>
                        </td>
                        <td nowrap="nowrap">
                            &nbsp;<a href="{forumrow.U_LAST_POST}">
                                <img src="{T_THEME_PATH}/images/lastpost.gif" border="0" alt="{L_VIEW_LATEST_POST}" />
                            </a>
                        </td>
                    </tr>
                    </table>
                <!-- ELSE -->
                    {L_NO_POSTS}
                <!-- ENDIF -->
                </font>
            </td>
            <td bgcolor="<!-- IF forumrow.S_ROW_COUNT is even -->#626d5c<!-- ELSE -->#545F4E<!-- ENDIF -->">
                <font face="verdana,arial,helvetica" size="1">
                <!-- IF forumrow.MODERATORS -->
                    {forumrow.MODERATORS}
                <!-- ELSE -->
                    &nbsp;
                <!-- ENDIF -->
                </font>
            </td>
        </tr>
        <!-- ENDIF -->
        <!-- END forumrow -->

        <!-- IF .forumrow -->
        <!-- Currently Active Users Section -->
        <tr class="cat">
            <td bgcolor="#3E4637" colspan="6">
                <a href="{U_VIEWONLINE}">
                    <font face="verdana, arial, helvetica" size="2" color="#B4BA50"><b>{L_WHO_IS_ONLINE}</b>
                </a>
                <!-- IF TOTAL_USERS_ONLINE -->: {TOTAL_USERS_ONLINE}<!-- ENDIF -->
                </font>
            </td>
        </tr>
        <tr>
            <td bgcolor="#545F4E" colspan="6">
                <font face="verdana,arial,helvetica" size="1">
                <!-- IF TOTAL_USERS_ONLINE -->
                    {LOGGED_IN_USER_LIST}
                    <br />
                    {RECORD_USERS}
                <!-- ELSE -->
                    {L_NO_ONLINE_USERS}
                <!-- ENDIF -->
                </font>
            </td>
        </tr>

        <!-- IF BIRTHDAY_LIST -->
        <tr>
            <td bgcolor="#545F4E" colspan="6">
                <font face="verdana,arial,helvetica" size="1">
                {L_BIRTHDAYS}: {BIRTHDAY_LIST}
                </font>
            </td>
        </tr>
        <!-- ENDIF -->
        <!-- ENDIF -->

        </table>
    </td>
</tr>
</table>

<!-- INCLUDE overall_footer.html -->