/* CSS Document */
* { padding: 0px; margin: 0px;}
/* =================================================================================== */
/* COMMON BACKGROUND ATTRIBUTES */
.contentBG_2, .contentBG_3, .contentBG_5, .contentBG_6 {
	width: 910px;
	background-attachment: scroll;
	background-repeat: repeat-y;
	background-position: 0px 0px;
	text-align:left;
}
/* Used in browse_ext, free_ext, game_ext, getsteamnow, news, archives */
.contentBG_2 {
	background-image: url('img/content/img_contentBG_2.jpg');
	margin-top: 15px;
	clear: both;
	height: auto;
}
/* Used in Package_ext */
.contentBG_3 {
	background-image: url('img/content/img_contentBG_3.jpg');
	margin-top: 15px;
}
/* Used on Content Server Stats page (content_stats) */
.contentBG_4 {
	width: 706px;
	background-attachment: scroll;
	background-image: url('img/content/img_contentBG_4.jpg');
	background-repeat: repeat-y;
	background-position: 0px 0px;
	margin-top: 15px;
	text-align:left;
}
/* Used on Package Internal (package_int) */
.contentBG_5 {
	background-image: url('img/content/img_contentBG_3.jpg');
	padding: 0px;
	margin: 0px;
	clear: both;
	height: auto;
}
/* Used on browse_int, free_int, game_int */
.contentBG_6 {
	background-image: url('img/content/img_contentBG_2.jpg');
}
/* =================================================================================== */
/* HEADERS */
.headerBG_2, .headerBG_3, .headerBG_4, .headerBG_game_int, .headerBG_browse_int {
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	min-height:35px;
	height: auto;
}
/* Used on archives, browse, free_ext, game_ext, getsteamnow, news */
.headerBG_2 {
	background-image: url('img/headers/img_headerBG_2.jpg');
}
/* Used on package_ext */
.headerBG_3 {
	background-image: url('img/headers/img_headerBG_3.jpg');
}
/* Used on content_stats */
.headerBG_4 {
	background-image: url('img/headers/img_headerBG_4.jpg');
}
.headerBG_game_int {
	background-image: url('img/headers/img_headerBG_game_int.jpg');
}
.headerBG_browse_int {
	background-image: url('img/headers/img_headerBG_game_int.jpg');
}
.headerBG_ep1Stats {
	background-attachment: scroll;
	background-image: url('img/headers/img_headerBG_ep1Stats.jpg');
	background-repeat: no-repeat;
	background-position: 0px 0px;
	min-height:110px;
	height: auto;
}
/* =================================================================================== */
#headerTable_tabbedGames {
	background-image:url('img/headers/header_tabbedGames.jpg');
}
#headerTable_freeStuff {
	background-image:url('img/headers/header_free.jpg');
}
#headerTable_allMedia {
	background-image:url('img/headers/header_media.jpg');
}
/* =================================================================================== */
.ico_mod_hl, .ico_mod_hl2 {
	width:26px;
	height:16px;
	border:none;
	padding:2px;
	margin:0;
	vertical-align:middle;
	background-repeat:no-repeat;
}
.ico_mod_hl {
	background-image:url('img/ico/ico_mod_hl.gif');
}
.ico_mod_hl2 {
	background-image:url('img/ico/ico_mod_hl2.gif');
}
.ico_mouse, .ico_film {
	width:28px;
	height:17px;
	border:none;
	padding:1px;
	margin:0;
	vertical-align:middle;
	background-repeat:no-repeat;
}
.ico_mouse {
	background-image:url('img/ico/ico_mouse.gif');
}
.ico_film {
	background-image:url('img/ico/ico_film.gif');
}

	
/* =================================================================================== */
.leftMenu_2 {
	margin: 15px 0px 0px 0px;
	padding-left: 15px;
	float:left;
	width:165px !important; /* FF */
	width:180px; /* IE */
	text-align: left;
}
/* ======================================================== */
.leftCol_2 {
	float:left;
	width:471px;
	padding: 0px;
}
.leftCol_2 h1 {
	margin-top: 25px;
	margin-right: 10px;
	margin-left: 0px;
	text-align: left;
	margin-bottom: 5px;
	font-family: "Trebuchet MS", "Arial Narrow", HelveticaNeue-Thin, Helvetica-Light;
	font-size: 1.4em;
	font-weight: bold;
	text-transform: uppercase;
	color: #FFFFFF;
	letter-spacing: 3px;
}
.leftCol_2 h2 {
	margin: 25px 10px -5px 0px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-transform: none;
	color: #DCDFD2;
	letter-spacing: 1px;
	line-height: 12px;
}
.leftCol_2 p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.1em;
	line-height: 1.4em;
	font-weight: normal;
	color: #C5CAB6;
	text-decoration: none;
	text-align: left;
	padding: 0px;
	margin: 10px 20px 15px 0px;
}
.leftCol_2 ul {
	list-style-position: outside;
	list-style-image: url('img/ico/ico_arrow_yellow.gif');
	padding: 0px;
	margin-left: 15px;
	margin-top: 0px;
	margin-right: 20px;
	margin-bottom: 0px;
}
.leftCol_2 li {
	list-style-position: outside;
	margin: 10px 0px 0px;
	padding: 0px;	
}
.leftCol_2 .legal {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #666666;
	line-height: 11px;	
}
.leftCol_3 {
	float:left;
	width:720px;
	padding: 0px;
}
.leftCol_4 {
	padding-left: 5px;
	float:left;
	width:auto;
	padding-top: 5px;
}
.leftCol_4 hr {
	width: 840px;
	border-top-width: 4px;
	border-top-style: dashed;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #282828;
	height: 4px;
	margin-left: 25px;
	margin-top: 10px;
}
.leftCol_5 {
	float:left;
	width:730px;
	padding: 0px;
}
.leftCol_6 {
	float:left;
	width:651px;
	padding: 0px;
}
.leftCol_6 p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.1em;
	line-height: 1.4em;
	font-weight: normal;
	color: #C5CAB6;
	text-decoration: none;
	text-align: left;
	padding: 0px;
	margin: 10px 20px 15px 0px;
}
.leftCol_6 ul {
	list-style-position: outside;
	list-style-image: url('img/ico/ico_arrow_blue.gif');
	padding: 0px;
	margin-left: 60px;
	margin-top: 0px;
	margin-right: 60px;
	margin-bottom: 0px;
}
.leftCol_6 li {
	list-style-position: outside;
	margin: 10px 0px 0px;
	padding: 0px;	
}
.leftCol_6_head {
	height: 50px;
	width: 620px;
	padding-top: 35px;
	padding-right: 1px;
	padding-left: 10px;
	padding-bottom: 1px;
	font-family: "Trebuchet MS", "Arial Narrow", HelveticaNeue-Thin, Helvetica-Light;
	font-size: 2.3em.em;
	font-weight: bold;
	color: #FFFFFF;
	letter-spacing: 3px;
	font-size: 2.3em;
	margin-left: 10px;
	background-attachment: scroll;
	background-image: url('img/headers/img_header_getSteam.gif');
	background-repeat: no-repeat;
	background-position: 0px 0px;
}
 /* */
 /* ========================================================== */
.leftCol_news {
	float:left;
	width: 471px;
	padding: 0px;
	margin: 0px;
}
.leftCol_news h1 {
	margin-top: 40px;
	margin-right: 10px;
	margin-left: 0px;
	text-align: left;
	margin-bottom: 0px;
	font-family: "Trebuchet MS", "Arial Narrow", HelveticaNeue-Thin, Helvetica-Light;
	font-size: 1.4em;
	font-weight: bold;
	text-transform: uppercase;
	color: #EDA312;
	letter-spacing: 2px;
}
.leftCol_news h1 sup {
	font-size: 7px;
	letter-spacing: 0px;
}
.leftCol_news h2 {
	margin-top: 0px;
	margin-left: 0px;
	text-align: left;
	margin-bottom: 0px;
	font-family: "Trebuchet MS", "Arial Narrow", HelveticaNeue-Thin, Helvetica-Light;
	font-size: .9em;
	color: #808183;
	letter-spacing: 1px;
}
.leftCol_news p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.1em;
	line-height: 1.4em;
	font-weight: normal;
	color: #C5CAB6;
	text-decoration: none;
	text-align: left;
	padding: 0px;
	margin: 10px 20px 15px 0px;
}
.leftCol_news p sup {
	font-size: 7px;
	text-transform: uppercase;
}
.leftCol_news hr {
	border-top-width: 2px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #808183;
	width: 440px;
}
.leftCol_news ul {
	list-style-position: outside;
	list-style-image: url('img/ico/ico_arrow_yellow.gif');
	padding: 0px;
	margin-left: 15px;
	margin-top: 0px;
	margin-right: 20px;
	margin-bottom: 0px;
}
.leftCol_news li {
	list-style-position: outside;
	margin: 10px 0px 0px;
	padding: 0px;	
}
.leftCol_news_header {
	letter-spacing: 2px;
	font-family: "Trebuchet MS", "Arial Narrow", HelveticaNeue-Thin, Helvetica-Light;
	font-size: 28px;
	font-weight: bold;
	color: #FFFFFF;
	line-height: 28px;
	text-align: left;
	padding: 0px;
	margin-left: 25px;
	margin-top: 10px;
	margin-bottom: 7px;
}
/* */
/* ================================================================== */
.leftCol_browse {
	float:left;
	width: 471px;
	padding: 0px;
}
.leftCol_browse h2 {
	margin: 5px 10px 5px 0px;
	text-align: left;
	font-family: "Trebuchet MS", "Arial Narrow", HelveticaNeue-Thin, Helvetica-Light;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	color: #FFFFFF;
	letter-spacing: 3px;
	padding-top: 10px;
}
/* ============================================================================================== */
/* ============================================================================================== */
.rightCol_2 {
	padding-right: 0px;
	float:left;
	width:254px;
	margin-top: 30px !important;
	margin-top: 30px;
}
.rightCol_2 p {
	color: #808183;
	margin-right: 10px;
	margin-left: 15px;
	text-align: left;
	font-size: 1.1em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	line-height: 14px;
	font-weight: normal;
}
.rightCol_2 p a {
	color: #808183;
}
.rightCol_2 ul li {
	color: #808183;
	font-size: 9px;
	list-style-position: outside;
	list-style-type: square;
}
.rightCol_2 strong {
	color: #8BC53F;
	font-weight: normal;
}
.rightCol_2 h1 {
	margin: 10px 0px 0px 0px;
	padding: 8px 10px 8px 15px;
	text-align: left;
	font-family: "Trebuchet MS", "Arial Narrow", HelveticaNeue-Thin, Helvetica-Light;
	font-size: 1.4em;
	font-weight: bold;
	text-transform: uppercase;
	color: #FFFFFF;
	letter-spacing: 3px;
	background-color: #151515;
}
.rightCol_2_top_mc {
	font-family: "Trebuchet MS", "Arial Narrow", HelveticaNeue-Thin, Helvetica-Light;
	font-size: 26px;
	font-weight: bold;
	color: #8BC53F;
	text-align: right;
	padding-top: 34px;
	height: 41px !important;
	height: 85px;
	background-image: url('img/headers/rightCol_mc.jpg');
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	padding-right: 42px;
	width: 200px !important;
	width: 242px;
}
.rightCol_2_top_soon {
	height:70px;
	background-image: url('img/headers/rightCol_soon.jpg');
	width: 242px;
	font-family: "Trebuchet MS", "Arial Narrow", HelveticaNeue-Thin, Helvetica-Light;
	font-size: 20px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 2px;
	padding-top: 15px;
	background-repeat: no-repeat;
}
.rightCol_2_top_date {
	font-family: "Trebuchet MS", "Arial Narrow", HelveticaNeue-Thin, Helvetica-Light;
	font-size: 13px;
	font-weight: bold;
	color: #BBBDBF;
	text-align: center;
	letter-spacing: 2px;
}

.rightCol_2_top_media {
	height:75px;
	background-image: url('img/headers/rightCol_media.jpg');
	width: 242px;
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: 0px 0px;
}
.rightCol_2_top_steam {
	height:75px;
	background-image: url('img/headers/rightCol_steam.jpg');
	width: 242px;
}
.rightCol_2_specBox {
	padding: 3px;
	height: auto;
	width: 225px;
	margin-top: 1px;
	margin-left: 10px;
	color: #808183;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	border-top: 1px solid #333333;
	border-right: none;
	border-bottom: none;
	border-left: none;
}
.rightCol_2_specBox table {
	color: #808183;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.rightCol_2_vid {
	margin-top: 10px;
	margin-left: 11px;
	margin-bottom: 0px;
}
.rightCol_4 {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 0px;
	margin: 0px;
	padding-right: 0px;
	background-color: #333333;

}
.rightCol_4 h1 {
	font-family: "Trebuchet MS", "Arial Narrow", HelveticaNeue-Thin, Helvetica-Light;
	font-size: 12px;
	color: #77AFBC;
	margin-left: 10px;
	margin-top: 0px;
	letter-spacing: 0em;
	font-weight: bold;
	text-transform: none;
	padding: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.rightCol_4 h2 {
	font-family: "Trebuchet MS", "Arial Narrow", HelveticaNeue-Thin, Helvetica-Light;
	font-size: 12px;
	color: #A3DB30;
	margin-left: 10px;
	margin-top: 0px;
	letter-spacing: 0em;
	font-weight: bold;
	padding: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.rightCol_4 p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 1.4em;
	font-weight: normal;
	color: #C5CAB6;
	text-decoration: none;
	text-align: left;
	padding: 0px;
	margin: 3px 10px 10px;
}
/* ================================================================== */
/* ================================================================== */
.rightLink {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	display:block;
	margin: 0px 10px 0px 0px;
	padding: 6px 0px 1px 0px;
	text-transform: capitalize;
	color: #6F9FC8;
	text-decoration:none;
	background-image: url('img/btn_right_wd.jpg');
	line-height: 9px;
	height: 17px !important;
	height: 24px;
	background-position: 11px;
	background-repeat: no-repeat;
}
a:hover.rightLink {
	color: #FFFFFF;
	background-image: url('img/btn_right_wd.jpg');
}
.rightLink_search {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	display:block;
	margin: 0px 10px 0px 0px;
	padding: 4px 0px 1px 0px;
	text-transform: capitalize;
	color: #6F9FC8;
	text-decoration:none;
	background-image: url('img/btn_right_wd.jpg');
	line-height: 9px;
	height: 19px !important;
	height: 26px;
	background-position: 11px;
	background-repeat: no-repeat;
}
.rightLink_search input {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	width: 200px;
	margin: 0px;
	padding: 0px;
}
.rightLink_vid {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	display:block;
	margin: 0px 12px 0px 0px;
	padding: 4px 0px 3px 0px;
	text-transform: capitalize;
	color: #6F9FC8;
	text-decoration:none;
	background-image: url('img/btn_right_wd.jpg');
	line-height: 9px;
	height: auto;
	background-position: 11px;
	background-repeat: no-repeat;
}
a:hover.rightLink_vid {
	color: #FFFFFF;
	background-image: url('img/btn_right_wd.jpg');
}
/* - */
.rightLink_game {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	display:block;
	margin: 1px 10px 0px 11px;
	padding: 7px 0px 6px 6px;
	text-transform: uppercase;
	color: #6F9FC8;
	text-decoration:none;
	line-height: 12px;
	height: auto;
	background-color: #1c1c1c;
}
a:hover.rightLink_game {
	color: #FFFFFF;
	background-color: #333333;
}
.rightLink_gameTitle {
	color: #EDA312;
	font-size: 12px;
}
/* - */
.rightLink_newDate {
	color: #9C9EA0;
	font-size: 9px;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: capitalize;
}
.rightLink_newDate_gr {
	color: #666666;
	font-size: 9px;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
}
.rightLink_update_area {
	width: 240px;
	clear: both;
	margin-top: 5px;
}
.rightLink_update_area p {
	margin-bottom: 0px;
}
.rightLink_update_area p strong {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #626366;
	margin: 0px;
}
.rightLink_update_area hr {
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: dotted;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
}
.rightLink_update_area ul {
	margin: 0px;
}
.rightLink_update_area li {
	list-style-position: outside;
	margin: 0px;
	margin-left: 30px !important;
	margin-left: 22px;
	margin-top: 3px;
	padding: 0px;
	text-indent: -1px !important;
	text-indent: 0px;
	line-height: 12px;
	list-style-image: url('img/ico/ico_diamond_grey.gif');
}
/* - */
.rightColHr {
	margin: 1px 0px 1px 0px;
}
.rightCol_2_Hr {
	margin: 1px 0px 1px 0px;
}
.rightCol_2_Hr_vid {
	margin: 1px 12px 1px 12px;
}
/* ============================================================ */
/* ============================================================ */
.detail_brandArea {
	background-color: #000000;
	width: 460px;
	padding: 0px 1px 1px 1px;
}
.detail_screenArea {
	background-color: #000000;
	padding: 5px;
	width: 452px !important;
	width: 462px;
}
.detail_purchase {
	height: 62px;
	width: 460px;
	margin-top: 10px;
}
a.detail_purchase {
	text-decoration:none;
}
.detail_purchaseTitle {
	font-family: "Trebuchet MS", "Arial Narrow", HelveticaNeue-Thin, Helvetica-Light;
	font-size: 20px;
	font-weight: bold;
	color: #EDA312;
	text-align: left;
	line-height: 18px;
	text-decoration:none;
}
.detail_purchaseSuper {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #9C9EA0;
	letter-spacing: 1px;
	text-align: left;
	text-decoration:none;
	vertical-align: top;
}
.detail_purchaseSuperWhite {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #FFFFFF;
	letter-spacing: 1px;
	text-align: left;
	text-decoration:none;
}
.detail_purchaseCost {
	font-family: "Trebuchet MS", "Arial Narrow", HelveticaNeue-Thin, Helvetica-Light;
	font-size: 20px;
	font-weight: bold;
	color: #EDA312;
	text-align: left;
	margin-right: 6px;
	text-decoration:none;
}
.detail_purchaseCostOld {
	font-family: "Trebuchet MS", "Arial Narrow", HelveticaNeue-Thin, Helvetica-Light;
	font-size: 14px;
	font-weight: bold;
	color: #7A7A7A;
	text-align: left;
	margin-right: 6px;
	text-decoration: line-through;
	line-height: 12px;
}

.detail_purchaseDiscount {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: White;
	letter-spacing: 1px;
	text-align: left;
	text-decoration:none;
	vertical-align: top;
}

.detail_pkg_sav_green {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #8BC53F;
}
/* ============================================ */
/* used for install button on getsteamnow page */
.detail_install {
	background-image:   url('img/btn/btn_installNow.jpg');
	height: 62px;
	width: 227px;
	margin-top: 15px;
	margin-left: 6px;
	margin-bottom: 15px;
}
.detail_install_Title {
	font-family: "Trebuchet MS", "Arial Narrow", HelveticaNeue-Thin, Helvetica-Light;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	color: #FFFFFF;
}
.statsOverview table {
	margin-left: 25px;
	font-family: "Trebuchet MS", "Arial Narrow", HelveticaNeue-Thin, Helvetica-Light;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;

}
.statsOverview table a {
	text-decoration: underline;
	color: #FFFFFF;

}
.statsOverview table a:hover {
	text-decoration: underline;
	color: #B6C5CA;

}
.statsSub table {
	margin-left: 25px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #787878;

}
.statsSub td {
	padding-top: 2px;
	padding-bottom: 3px;

}
/* ======================================================================== */
/* FOR Alfred's magic depot building tool */
/* */
.depotBuild table {
	margin-left: 25px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #999999;
}
.depotBuild a {
	color: #cccccc;
}
.depotBuild a:hover {
	color: #B6C5CA;
}
.depotBuild td {
	padding-top: 5px;
	padding-bottom: 3px;
	padding-left: 4px;

}
/* ======================================================================== */
/*  */
.btn_browse {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	display:block;
	margin: 1px 5px 0px 0px;
	padding: 9px 0px 5px 15px;
	height: 23px !important;
	height: 33px;
	width: 210px !important;
	width: 225px;
	text-transform: uppercase;
	color: #FFFFFF;
	text-decoration:none;
	background-image: url('img/btn/btn_browse.jpg');
	line-height: 9px;
	
	float: left;
}
a:hover.btn_browse {
	background-image: url('img/btn/btn_browse_ovr.jpg');
}
.btn_genre {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	display:block;
	margin: 1px 5px 0px 0px;
	padding: 9px 0px 5px 15px;
	height: 13px !important;
	height: 23px;
	width: 210px !important;
	width: 225px;
	text-transform: uppercase;
	color: #FFFFFF;
	text-decoration:none;
	background-image: url('img/btn/btn_browse.jpg');
	line-height: 9px;
	
	float: left;
}
a:hover.btn_genre {
	background-image: url('img/btn/btn_browse_ovr.jpg');
}
.btn_preLoad, .btn_preLoad a, .btn_preLoad a:hover {
	margin: 0px 0px 0px 0px;
	padding: 4px 0px 0px 3px;
	width: 141px;
	height: 22px !important;
	height: 22px;
	text-align:center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: uppercase;
	color: #000000;
	letter-spacing: 0em;
	text-decoration: none;
}
.tab {
	float: left;
	margin: 0px 0px 0px 6px;
	cursor: pointer;
}
/* ======================================================================== */
/* ================================================================================================ */
/* LANGUAGE-SPECIFIC FONT SIZES */
/* These can be removed when new tabs are implemtned */
.tab_text a {
	font-family: "Trebuchet MS", "Arial Narrow", HelveticaNeue-Thin, Helvetica-Light;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	color: #FFFFFF;
	text-decoration:none;
}
.tab_text a:hover {
	color: #FFFFFF;
}
/* ============================ */
/* ============================ */
.search_sm {
	margin: 0px 10px 0px 0px;
}
a.btn_search {
	color: #6F9FC8;
	background-color: #333333;
	text-decoration: none;
	padding: 3px 6px;
	margin: 0px;
}
a.btn_search:hover {
	color: #FFFFFF;
	background-color: #333333;
	text-decoration: none;
	padding: 3px 6px 3px 6px;
}
/* ==================================================================================== */
.messageRequiredApp {
	background-color: #303030;
	color: #c0c0c0;
	border: 2px Solid Orange;
	padding: 5px;
	width: 446px !important;
	width: 460px;
	margin-top: 5px;
	margin: 0px 0px 10px 0px !important;
	margin: 0px 0px 0px 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.messageRequiredApp a { color: White; }

.messageRequiredApp a:hover { color: Silver; }
/* ==================================================================================== */
.tabAllScreenshots {
	height: 16px;
	padding: 0px;
	margin: 0px;
}
.tabAllScreenshots a {
	color: #6F9FC8;
	text-decoration: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 8px;
	padding: 0px;
	margin: 0px;
}
.tabAllScreenshots a:hover {
	color: #FFFFFF;
	text-decoration: none;
}

/* storefront.css carry over - used on package page */
.generic_spacer {
	width: 100%;
	height:2px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	margin-top: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #626366;
	padding: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
	text-align: left;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #424242;
	border-left-color: #424242;
}
