/* CSS Document */
BODY	   {
	font-size: 10pt;
	font-family: verdana, arial, sans-serif;
	background-color: #4C5844;
	margin: 0;
	background-image: url(img/background2.gif);
	background-repeat: repeat-y;
	background-position: center top;
	text-align: center;
	color: #CFCBC2;
}
A:visited      { color: #44617A; text-decoration: underline }

A:link         { color: #6F9FC8; text-decoration: underline}

A:hover        { color: #FFFFFF; text-decoration: underline }

A:active  { color: #FFFFFF; text-decoration: underline }

.steamMessage {
	width: 520px;
	text-align: left;
}
h1 {
	font-family: "Trebuchet MS", "Arial Narrow", HelveticaNeue-Thin, Helvetica-Light, sans-serif;
	font-size: 24px;
	color: #FFFFFF;
	margin-left: 0px;
	margin-top: 15px;
	margin-bottom: 0px;
	padding: 0px;
	margin-right: 0px;
	text-align: left;
}

.legal {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666666;
	margin: 12px 0px 3px 0px;
	text-align: left;
	width: 520px;
}
HR	{
	size:1px;
	color:#4A4945;
	border-style:dotted;
	margin: 12px 0px 12px 0px;
	}
IMG	{
	border:0px;
	margin:0px;
	}
