BODY	{ 
	color: black; 
	font-size: 11pt; 
	font-weight:bold;
	font-family: georgia, verdana, arial, sans-serif;
	margin: 0px;
	background:#3e4533 url(message/815/img/Background.jpg);
	background-repeat: no-repeat;
	margin:24px 32px 0px 24px;
	}
DIV	{
	padding:0px;
	margin:0px;
	}
H1	{
	font-family:trebuchet ms;
	font-size:12pt;
	font-weight:bold;
	color:#BFBA50;
	margin:0px;
	letter-spacing:0.1em;
	}
HR	{
	size:1px;
	color:#282E22;
	border-style:dotted;
	margin:12px 0 12px 0;
	}
IMG	{
	border:0px;
	margin:0px;
	}
TD 	{
	font-size:8pt;
	color:#A0AA95;
	text-align:center;
	background:#585F4F;
	}
.footer { color: #777; 
	font-size: 7pt; 
	line-height: 8pt; 
	background-image: none; 
	background-repeat: repeat; 
	background-attachment: scroll; 
	background-position: 0 0; 
	position: absolute;
	top:520px;
	width:500px;
	float: center     
	}
a	{
	color:white;
	}
.steamMessage {
	width:540px;
	height:516px;
	}
.shipBody {
	margin:0px 128px 0px 210px;
	}