
#v4headerBar {
	text-align:left;
	margin:0;
	padding:0;
	background-color:#111111;
	width:100%;
	color:#545454;
	font-family:tahoma, helvetica, arial, trebuchet ms, sans-serif;
	font-size:10px;
	margin-bottom:7px;
	height: 64px;
	*height: 54px;
}

a.v4headerLink,a.v4headerLink:active,a.v4headerLink:visited,a.v4headerLink:hover {
	font-family:tahoma, helvetica, arial, trebuchet ms, sans-serif;
	font-size:10px;
	text-decoration:none;
	color:#959595;
	font-weight:normal;
	line-height: 32px;
	*line-height: 0px;
}

#v4headerRight {
	float:right;
	padding:0;
	margin:0;
	padding-right:27px;
}

#v4headerLinks>p {
	margin-bottom:0;
	padding-bottom:0;
}

#v4headerRight .personaName {
	color:#cfcfcf;
}

.v4headerLinkActive, .v4headerLinkActive:hover {
	color:#cfcfcf;
	font-weight:bold;
}

#steamLogo {
	float:left;
	margin:0;
	padding:0;
	width:105px;
	height:54px;
}

#steamText {
	margin:0;
	padding:0;
	height:35px;
}

#v4headerLinks {
	margin:0;
	padding:0;
	height:19px;
}

#v4headerLinks>p {
	padding-left:6px;
}
