#
# phpBB Imageset Configuration
# ChatBear 2002 v2 Theme - Green/Brown
#
# @copyright (c) 2024 Valve Corporation
# @license GPL-2.0-only
# @version 1.0.0
#

# General Information
name = ChatBear 2002 v2
copyright = &copy; Valve Corporation, 2002
version = 1.0.0