p {
	font-family: Verdana;
	font-size: 12px;
	color: #eeeeee;
}

BODY {
	background-color:#293021;
	color:#FFFFFF; 
	margin:0px;
	font-family: Verdana;
	font-size: 12px;
	padding-bottom:32px;
	scrollbar-face-color: #4C5844;
	scrollbar-shadow-color: #4C5844;
	scrollbar-highlight-color: #4C5844;
	scrollbar-3dlight-color: #818D7C;
	scrollbar-darkshadow-color: #1C261E;
	scrollbar-track-color: #5A6A50;
	scrollbar-arrow-color: #969F8E;
	text-align:center;
}
IMG {
	border:none;
}
H3 {
	font-size:12px;
	font-weight:bold;
	font-family:verdana,arial;
	margin:8px 0px 4px 0px;
	padding:0px;
	text-transform:uppercase;
}
TD {
	padding:0px;
	font-family:verdana,arial;
	font-size:10px;
	vertical-align:top;
	font-weight:bold;
}
TD.pricing {
	vertical-align:bottom;
	text-align:right;
	padding-left:20px;
}
TD.pricing2 {
	vertical-align:top;
	text-align:right;
	padding-left:20px;
}
HR {
	height:2px;
	color:#293021;
}
HR.gamerule {
	color:#4A5942;
}
LI {
}
UL {
	line-height:14px;
	margin-left:18px;
	margin-top:0px;
	margin-bottom:0px;
	list-style-type:square;
	list-style-image: url(gfx/bullet.gif);
}
A {
	color:white;
	text-decoration:none;
}
.tab_active {
	vertical-align:middle;
	width:140px;
	height:29px;
	background:url(gfx/tab_active.gif) no-repeat bottom left;
	padding-left:8px;
}
.tab_active_sm {
	vertical-align:middle;
	width:70px;
	height:29px;
	background:url(gfx/tab_active_sm.gif) no-repeat bottom left;
	padding-left:8px;
}
.tab_enabled {
	vertical-align:middle;
	width:140px;
	height:29px;
	background:url(gfx/tab_enabled.gif) no-repeat bottom left;
	border-bottom: 2px Solid #889180;
	padding-left:6px;
	padding-top:4px;
}
.maize {
	color:#BDBE52;
	line-height:14px;
}
.arithmetic {
	padding-top:4px;
	padding-bottom:6px;
	padding-right:16px;
}
.total {
	color:#BDBE52;
	font-size:16px;
	font-family:trebuchet ms,verdana,arial;
}
.purchase {
	background: url(gfx/button_purchase.gif) no-repeat top left;
	height:28px;
	vertical-align:middle;
	padding-left:8px;
}
.purchase2 {
	background: url(gfx/button_purchase.gif) no-repeat top right;
}
.purchase3 {
	background: url(gfx/button_purchase2.gif) no-repeat top left;
	height:28px;
	vertical-align:middle;
	padding-left:8px;
}
.purchase4 {
	background: url(gfx/button_purchase2.gif) no-repeat top right;
}
.purchase5 {
	background: url(gfx/button_purchase3.gif) no-repeat top left;
	height:28px;
	vertical-align:middle;
	padding-left:8px;
}
.purchase6 {
	background: url(gfx/button_purchase3.gif) no-repeat top right;
}
.purchased {
	background: #000000;
	padding-left:8px;
	padding-right:8px;
	padding-top:8px;
	padding-bottom:8px;
	text-align: center;
	vertical-align:right;
}
.capsule {
	background:#4A5942;
	max-width:720px;
	width:expression(document.body.clientWidth > 768? "720px": "95%" );
	xmargin:12px 24px 8px 24px;
	margin:12px 0px 8px 0px;
}
.capsule2 {
	max-width:720px;
	width:expression(document.body.clientWidth > 768? "720px": "95%" );
	margin:12px 0px 8px 0px;
}
.capsule3 {
	background:#4c4230;
	max-width:720px;
	width:expression(document.body.clientWidth > 768? "720px": "95%" );
	xmargin:12px 24px 8px 24px;
	margin:12px 0px 8px 0px;
}
.game {
	xmax-width:720px;
	width:expression(document.body.clientWidth > 768? "720px": "95%" );
	margin:12px 24px 8px 24px;
	margin:12px 0px 8px 0px;
	text-align:left;
}
.discount {
	text-align:center;
	position:relative;
	margin-top:-28px;
	width:164px;
	height:104px;
	background: url(gfx/violator.gif);
}

.discount2 {
	text-align: left;
	position:relative;
	margin-top: 0px;
	height:104px;
}
.captop2 div  { font-size:16px; padding-top:4px; padding-bottom:4px; text-align:left;}
.captop div  { background: url(gfx/tl.gif) no-repeat top left; font-size:16px; padding-top:4px; padding-bottom:4px; text-align:left;}
.captop      { background: url(gfx/tr.gif) no-repeat top right; }
.capbot div  { height: 7px;background: url(gfx/bl.gif) no-repeat bottom left; }
.capbot      { height: 7px;background: url(gfx/br.gif) no-repeat bottom right; }
.capcontent  { margin: 0 7px;}

.captop3 div  { background: url(gfx/tl_3.gif) no-repeat top left; font-size:16px; padding-top:4px; padding-bottom:4px; text-align:left;}
.captop3      { background: url(gfx/tr_3.gif) no-repeat top right; }
.capbot3 div  { height: 7px;background: url(gfx/bl_3.gif) no-repeat bottom left; }
.capbot3      { height: 7px;background: url(gfx/br_3.gif) no-repeat bottom right; }


.inner {
	width: 100%;
	height: 100%;
	padding: 10px;
	background: #2b3026;
	border-left: 1px Solid #282e22;
	border-bottom: 1px Solid #889180;
	border-right: 1px Solid #889180;
	overflow: auto;
	color: #eeeeee;
	scrollbar-face-color: #4C5844;
	scrollbar-shadow-color: #4C5844;
	scrollbar-highlight-color: #4C5844;
	scrollbar-3dlight-color: #818D7C;
	scrollbar-darkshadow-color: #1C261E;
	scrollbar-track-color: #5A6A50;
	scrollbar-arrow-color: #969F8E;
}
