BODY	   { font-size: 62.5%; font-family: verdana, arial, sans-serif; background: #444d3a; margin: 0 }
DIV	{
	padding:0px 20px;
	margin:0px;
	}
A:visited      { color: #FFFFFF; text-decoration: none }

A:link         { color: #FFFFFF; text-decoration: none }

A:hover        { color: #000000; text-decoration: none }

A:active  { color: #000000; text-decoration: none }

.legal {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	margin-bottom: 3px;
	padding-left: 10px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 8px;
	text-align: left;
	width: 559px;
	margin-top: 6px;
}
.comingDate {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	font-weight: normal;
	text-transform: uppercase;
	color: #FF6600;
	margin-right: 5px;
	margin-bottom: 5px;
}
.L1 {
	font-family:"trebuchet ms", "arial narrow", "helvetica narrow";
	font-size: 25px;
	font-weight: bold;
	text-transform: uppercase;
	color: #000000;
	margin-top: 10px;
	margin-left: 10px;
	letter-spacing: 4px;
	margin-bottom: 0px;
}
.L2 {
	font-family:"trebuchet ms", "arial narrow", "helvetica narrow";
	margin-left: 11px;
	font-size: 14px;
	color: #000000;
	letter-spacing: 0px;
	margin-top: -8px;
	font-weight: bold;
	padding: 0px;
	margin-bottom: 0px;
}
.L3 {
	font-family:"trebuchet ms", "arial narrow", "helvetica narrow";
	margin-left: 10px;
	font-size: 14px;
	font-weight: bold;
	color: #000000;
	margin-top: -2px;
}
.btn {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 21px;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: bold;
	margin: 0px;
	padding: 12px 0px 0px;
	height: 41px !important;
	height: 53px;
	width: 321px;
	background-attachment: scroll;
	background-image: url(message/830/img/btn.jpg);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}
.btn a, .btn a:hover {
	color: #FFFFFF;
}
H2	{
	color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:21px;
	font-weight:bold;
	letter-spacing: 1px;
	margin: 20px 0px 5px 30px;
	padding: 0px;
	line-height: 14px;
	/* letter-spacing:0.1em; */
	}
H3	{
	color:#999999;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:normal;
	line-height: 16px;
	margin: 0px 0px 0px 30px;
	padding: 0px;
	/* letter-spacing:0.1em; */
}
.nowAvailable {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 22px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	padding-top: 10px;
	letter-spacing: 1px;
}
h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 42px;
	color: #FFFFFF;
	margin-left: 30px;
	margin-top: 15px;
	margin-bottom: 0px;
	padding: 0px;
	margin-right: 0px;
}
.text1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #FFFFFF;
}
.text2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #999999;
	line-height: 22px;
}
.text3 {
	font-family: "Trebuchet MS", "Arial Narrow", HelveticaNeue-Thin, Helvetica-Light, sans-serif;
	font-size: 22px;
	font-weight: bold;
	color: #da782d;
	line-height: 22px;
}
.strike {
	font-family: "Trebuchet MS", "Arial Narrow", HelveticaNeue-Thin, Helvetica-Light, sans-serif;
	font-size: 14px;
	color: #666666;
	text-decoration: line-through;
}
