BODY	{ 
	color: white; 
	font-size: 10pt; 
	font-family: verdana, arial, sans-serif;
	margin: 0px;
	background:#3e4533 url(img/background.gif);
	background-repeat: no-repeat;
	background-position:top center;
	margin:24px 32px 0px 24px;
	}
DIV	{
	padding:0px;
	margin:0px;
	}
H1	{
	font-family:trebuchet ms;
	font-size:12pt;
	font-weight:bold;
	color:#BFBA50;
	margin:0px;
	letter-spacing:0.1em;
	}
HR	{
	size:1px;
	color:#282E22;
	border-style:dotted;
	margin:0px 0 0px 0;
	}
IMG	{
	border:0px;
	margin:0px;
	}
TD 	{
	font-size:8pt;
	color:#A0AA95;
	text-align:center;
	background:#585F4F;
	}
.footer { color: #555; 
	font-size: 7pt; 
	line-height: 8pt; 
	background-image: none; 
	background-repeat: repeat; 
	background-attachment: scroll; 
	background-position: 0 0; 
	position: relative; 
	width: 100%; 
	float: center     
	}
a	{
	color:white;
	}
.steamMessage {
	text-align:left;
	width:524px;
	height:492px;
	}
ul {
	list-style-type: square
	}
