BODY	{ 
	color: white; 
	font-size: 11px; 
	font-family: verdana, arial, sans-serif;
	font-weight:bold;
	margin: 0px;
	background:#505050 url(img/background.jpg);
	background-repeat: no-repeat;
	margin:24px 32px 0px 24px;
	}
DIV	{
	padding:0px;
	margin:0px;
	}
H1	{
	font-family:VERDANA;
	font-size:10pt;
	font-weight:bold;
	color:white;
	margin:0px 0px 0px 106px;
	}
HR	{
	size:1px;
	color:silver;
	border-style:dotted;
	margin:12px 0 12px 0;
	}
IMG	{
	border:0px;
	margin:0px;
	}
TD 	{
	font-size:8pt;
	color:#A0AA95;
	text-align:center;
	background:#585F4F;
	}
.footer { color: #555; 
	font-size: 8px;
	}
a	{
	color:white;
	text-decoration:none;
	}
.steamMessage {
	position:relative;
	width:272px;
	height:488px;
	left:272px;
	top:148px;
	}
.button {
	background:url(img/button.gif);
	width:256px;
	height:28px;
	padding:8px;
	background-repeat: no-repeat;
	cursor:hand;
	}