#
# phpBB Style Configuration
# Steam 2006 v1 Theme
#
# @copyright (c) 2024 Valve Corporation
# @license GPL-2.0-only
# @version 1.0.0
#

# General Information
name = Steam 2006 v1
copyright = &copy; Valve Corporation, 2006
style_version = 1.0.0
phpbb_version = 3.3.0
parent = prosilver

# Defining a different template bitfield
# template_bitfield = lNg=

# The following options will be overwritten by the admin panel style configurator
# Examples: if you want to set a variable value, this can be done via the file inc/config.php
# or via the style configurator admin panel