<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>CMS Admin</title>
    <link rel="stylesheet" type="text/css" href="{{ theme_url }}/styles/greensteam/greensteam.css">
</head>
<body>
<main>
    {{ sidebar|raw }}
    {{ content|raw }}
</main>
</body>
</html>
