#
# phpBB Style Configuration
# ChatBear 2002 v1 Theme - Blue/Gray
#
# @copyright (c) 2024 Valve Corporation
# @license GPL-2.0-only
# @version 1.0.0
#

# General Information
name = ChatBear 2002 v1
copyright = &copy; Valve Corporation, 2002
style_version = 1.0.0
phpbb_version = 3.3.0
parent =

# Defining a different template bitfield
# template_bitfield = lNg=

# The following options will be overwritten by the admin panel style configurator
# Examples: if you want to set a variable value, this can be done via the file inc/config.php
# or via the style configurator admin panel