/* CSS Document */
.contentBG {
	width: 860px;
	background-attachment: scroll;
	/* background-image: url('img/img_contentBG_4.jpg'); */
	background-color:#424242;
	background-repeat: repeat-y;
	background-position: 0px 0px;
	margin-top: 24px;
	text-align:left;
	font-size: 1.1em;
	line-height: 1.45em;
}
/* - */
.headerBG {
	background-attachment: scroll;
	background-image: url('img/img_headerBG.jpg');
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 110px;
}
/* ======================================================== */
.leftMenu_2 {
	padding-left: 5px;
	float:left;
	width:175px;
	padding-top: 5px;
}
/* ======================================================== */
.leftCol_1 {
	padding-left: 5px;
	float:left;
	width:590px;
	padding-top: 5px;
}
.leftCol_2 {
	float:left;
	width:471px;
	padding: 0px;
}
.leftCol_2 h1 {
	margin-top: 25px;
	margin-right: 10px;
	margin-left: 0px;
	text-align: left;
	margin-bottom: 5px;
	font-family: "Trebuchet MS", "Arial Narrow", HelveticaNeue-Thin, Helvetica-Light;
	font-size: 1.4em;
	font-weight: bold;
	text-transform: uppercase;
	color: #FFFFFF;
	letter-spacing: 3px;
}
.leftCol_2 p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.1em;
	line-height: 1.4em;
	font-weight: normal;
	color: #C5CAB6;
	text-decoration: none;
	text-align: left;
	padding: 0px;
	margin: 10px 20px 15px 0px;
}
.leftCol_2 ul {
	list-style-position: outside;
	list-style-image: url('http://www.steampowered.com/status/tf2/img/ico/ico_arrow_yellow.gif');
	padding: 0px;
	margin-left: 15px;
	margin-top: 0px;
	margin-right: 20px;
	margin-bottom: 0px;
}
.leftCol_2 li {
	list-style-position: outside;
	margin: 10px 0px 0px;
	padding: 0px;	
}
.leftCol_3 {
	float:left;
	width:720px;
	padding: 0px;
}
.leftCol_4 {
	padding-left: 0px;
	width:auto;
	margin-left: 25px;
}
.leftCol_4 hr {
	width: 840px;
	border-top-width: 4px;
	border-top-style: dashed;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #282828;
	height: 4px;
	margin-left: 25px;
	margin-top: 10px;
}
.leftCol_5 {
	float:left;
	width:auto;
	padding: 0px;
}
.leftBody {
	padding-left: 15px;
	padding-right: 15px;
}
.leftBody h1 {
	font-family: "Trebuchet MS", "Arial Narrow", HelveticaNeue-Thin, Helvetica-Light;
	font-size: 1.6em;
	font-weight: bold;
	text-transform: uppercase;
	color: #6F9FC8;
	text-decoration: none;
	padding-top: 15px;
	letter-spacing: 1px;
	text-align: left;
	padding-bottom: 0px;
	margin: 0px;
}
.leftBody hr {
	width: 100%;
	height:1px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	margin-top: 0px;
	border-bottom-style: none;
	padding: 0px;
	margin-right: 0px;
	margin-bottom: 15px;
	margin-left: 0px;
	text-align: left;
	border-right-style: none;
	border-left-style: none;
}
/* ============================================================ */
/* ============================================================ */
.rightCol_1 {
	float:left;
	width:310px;
	margin-top: 120px;
}
.rightCol_1 p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1em;
	font-weight: normal;
	color: #808183;
	margin: 10px 20px 10px 15px;
	line-height: 14px;
	text-align: left;
	/*width: 285px;*/
	clear: both;
}
.rightCol_1 p a {
	color: #EDA312;
}
.rightCol_1 p a:hover {
	color: #FFFFFF;
}
.rightCol_1 h1 {
	margin-top: 15px;
	margin-right: 10px;
	margin-left: 15px;
	text-align: left;
	margin-bottom: 5px;
	font-family: "Trebuchet MS", "Arial Narrow", HelveticaNeue-Thin, Helvetica-Light;
	font-size: 1.4em;
	font-weight: bold;
	text-transform: uppercase;
	color: #EDA312;
	letter-spacing: 3px;
}
.rightCol_2 {
	float:left;
	width:254px;
	margin-top: 30px;
}
.rightCol_2 p {
	color: #808183;
	margin-right: 10px;
	margin-left: 15px;
	text-align: left;
	font-size: 1.1em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	line-height: 14px;
	font-weight: normal;
}
.rightCol_2 p a {
	color: #808183;
}
.rightCol_2 strong {
	color: #6F9FC8;
	font-weight: normal;
}
.rightCol_2 h1 {
	margin-top: 15px;
	margin-right: 10px;
	margin-left: 15px;
	text-align: left;
	margin-bottom: 5px;
	font-family: "Trebuchet MS", "Arial Narrow", HelveticaNeue-Thin, Helvetica-Light;
	font-size: 1.4em;
	font-weight: bold;
	text-transform: uppercase;
	color: #FFFFFF;
	letter-spacing: 3px;
}
.rightCol_2_top_mc {
	height:51px;
	background-image: url('http://www.steampowered.com/status/tf2/img/rightCol_2_mc.jpg');
	width: 200px;
	font-family: "Trebuchet MS", "Arial Narrow", HelveticaNeue-Thin, Helvetica-Light;
	font-size: 26px;
	font-weight: bold;
	color: #8BC53F;
	text-align: right;
	padding-top: 34px;
	padding-right: 42px;
}
.rightCol_2_top_soon {
	height:70px;
	background-image: url('http://www.steampowered.com/status/tf2/img/rightCol_2_soon.jpg');
	width: 242px;
	font-family: "Trebuchet MS", "Arial Narrow", HelveticaNeue-Thin, Helvetica-Light;
	font-size: 20px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	letter-spacing: 2px;
	padding-top: 15px;
}
.rightCol_2_top_date {
	font-family: "Trebuchet MS", "Arial Narrow", HelveticaNeue-Thin, Helvetica-Light;
	font-size: 13px;
	font-weight: bold;
	color: #BBBDBF;
	text-align: center;
	letter-spacing: 2px;
}
.rightCol_2_specBox {
	padding: 3px;
	height: auto;
	width: 225px;
	margin-top: 1px;
	margin-left: 10px;
	border: 1px solid #666666;
	color: #808183;
}
.rightCol_2_vid {
	margin-top: 10px;
	margin-left: 12px;
	margin-bottom: 10px;
}
.rightCol_4 {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 0px;
	margin: 0px;
	padding-right: 0px;
	background-color: #333333;

}
.rightCol_4 h1 {
	font-family: "Trebuchet MS", "Arial Narrow", HelveticaNeue-Thin, Helvetica-Light;
	font-size: 12px;
	color: #77AFBC;
	margin-left: 10px;
	margin-top: 0px;
	letter-spacing: 0em;
	font-weight: bold;
	text-transform: none;
	padding: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.rightCol_4 h2 {
	font-family: "Trebuchet MS", "Arial Narrow", HelveticaNeue-Thin, Helvetica-Light;
	font-size: 12px;
	color: #A3DB30;
	margin-left: 10px;
	margin-top: 0px;
	letter-spacing: 0em;
	font-weight: bold;
	padding: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
.rightCol_4 p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 1.4em;
	font-weight: normal;
	color: #C5CAB6;
	text-decoration: none;
	text-align: left;
	padding: 0px;
	margin: 3px 10px 10px;
}
/* ================================================================== */
/* ================================================================== */
.rightLink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	display:block;
	margin-top: 1px;
	padding-top: 5px;
	padding-left: 15px;
	text-transform: uppercase;
	color: #BBBDBF;
	text-decoration:none;
	background-image: url('http://www.steampowered.com/status/tf2/img/btn_right_wd.jpg');
	height: auto;
	line-height: 9px;
}
a:hover.rightLink {
	background-image: url('http://www.steampowered.com/status/tf2/img/btn_right_wd_over.jpg');
}
/* - */
.rightLink_find_area {
	float: left;
	width: 140;
}
.rightLink_newDate {
	color: #
}
.rightLink_find {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	display:block;
	width:140px;
	height: 15px;
	margin-top: 1px;
	padding-top: 7px;
	padding-left: 15px;
	text-transform: uppercase;
	color: #BBBDBF;
	text-decoration:none;
	background-image: url('http://www.steampowered.com/status/tf2/img/btn_right_wd.jpg');
}
a:hover.rightLink_find {
	background-image: url('http://www.steampowered.com/status/tf2/img/btn_right_wd_over.jpg');
}
/* - */
.rightLink_news_area {
	overflow: auto;
	width: 310px;
	height: 140px;
	scrollbar-face-color: #424242;
	scrollbar-shadow-color: #424242;
	scrollbar-highlight-color: #424242;
	scrollbar-3dlight-color: #666666;
	scrollbar-darkshadow-color: #000000;
	scrollbar-track-color: #232323;
	scrollbar-arrow-color: #EDA312;
}
.rightLink_news {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	display:block;
	width:278px;
	height: 15px;
	margin-top: 1px;
	padding-top: 7px;
	padding-left: 15px;
	text-transform: uppercase;
	color: #BBBDBF;
	text-decoration:none;
	background-image: url('http://www.steampowered.com/status/tf2/img/btn_right_wd.jpg');
}
a:hover.rightLink_news {
	background-image: url('http://www.steampowered.com/status/tf2/img/btn_right_wd_over.jpg');
}
/* - */
.rightColHr {
	height:1px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #484949;
	padding: 0px;
	margin-top: 1px;
	margin-right: 0px;
	margin-bottom: 1px;
	margin-left: 0px;
	line-height: 1px;
}
.rightCol_2_Hr {
	width: 254px;
	height:1px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #484949;
	padding: 0px;
	margin-top: 1px;
	margin-right: 0px;
	margin-bottom: 1px;
	margin-left: 0px;
}
/* ============================================================ */
/* ============================================================ */
.fullCol {

	float:left;
	width:900px;
	padding-top: 0px;
	padding-right: 10px;
}
.fullContentBG {

	width: 910px;
	background-attachment: scroll;
	background-image: url('http://www.steampowered.com/status/tf2/img/img_content_bg_full.jpg');
	background-repeat: repeat-y;
	background-position: 0px 0px;
	margin-top: 15px;
	text-align:left;
}
.fullHeaderBG {

	background-attachment: scroll;
	background-image: url('http://www.steampowered.com/status/tf2/img/img_content_header_full.jpg');
	background-repeat: no-repeat;
	background-position: 0px 0px;
	height: 120px;
}
/* ============================================================ */
/* ============================================================ */
.detail_brandArea {
	background-color: #000000;
	height: 215px;
	width: 460px;
	padding-top: 0px;
	padding-right: 1px;
	padding-left: 1px;
	padding-bottom: 1px;
}
.detail_screenArea {
	background-color: #000000;
	padding: 5px;
	/*height: 80px;*/
	width: 452px;
}
.detail_purchase {
	height: 62px;
	width: 460px;
}
a.detail_purchase {
	text-decoration:none;
}
.detail_purchase_pkg {
	background-image:   url('http://www.steampowered.com/status/tf2/img/btn_purchase_pkg.jpg');
	height: 62px;
	width: 460px;
}
a.detail_purchase_pkg {
	text-decoration:none;
}
.detail_purchaseTitle {
	font-family: "Trebuchet MS", "Arial Narrow", HelveticaNeue-Thin, Helvetica-Light;
	font-size: 20px;
	font-weight: bold;
	color: #EDA312;
	text-align: left;
	line-height: 18px;
	text-decoration:none;
}
.detail_purchaseSuper {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #9C9EA0;
	letter-spacing: 1px;
	text-align: left;
	text-decoration:none;
}
.detail_purchaseCost {
	font-family: "Trebuchet MS", "Arial Narrow", HelveticaNeue-Thin, Helvetica-Light;
	font-size: 20px;
	font-weight: bold;
	color: #EDA312;
	text-align: left;
	margin-right: 6px;
	text-decoration:none;
}
.detail_purchaseTax {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8px;
	text-transform: uppercase;
	color: #7A7A7A;
	margin-right: 6px;
	line-height: 4px;
	letter-spacing: 2px;
	text-decoration:none;
}
.detail_pkg_bg {
	background-image:   url('http://www.steampowered.com/status/tf2/img/btn_pkg_bg.jpg');
	height: 16px;
	width: 450px;
	padding-top: 2px;
	padding-right: 5px;
	padding-left: 5px;
}
a.detail_pkg_link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-transform: uppercase;
	color: #BBBDBF;
	text-decoration:none;
}
a:hover.detail_pkg_link {
	color: #FFFFFF;
}
/* ============================================ */
/* new */
.detail_installTitle {
	font-family: "Trebuchet MS", "Arial Narrow", HelveticaNeue-Thin, Helvetica-Light;
	font-size: 20px;
	font-weight: bold;
	color: #8BC53F;
	text-align: left;
	line-height: 18px;
	text-decoration:none;
}
.detail_mediaTitle {
	font-family: "Trebuchet MS", "Arial Narrow", HelveticaNeue-Thin, Helvetica-Light;
	font-size: 20px;
	font-weight: bold;
	color: #6F9FC8;
	text-align: left;
	line-height: 18px;
	text-decoration:none;
}
.statsOverview table {
	margin-left: 25px;
	font-family: "Trebuchet MS", "Arial Narrow", HelveticaNeue-Thin, Helvetica-Light;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;

}
/* ================================================== */
/* ================================================== */
					FANCY TABS
/* ================================================== */
/* ================================================== */
.pagetabs {
	float:left;
}
.pagetabs ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.pagetabs li {
	float:left;
	color: #BCBCBC;
	font-weight: bold;
	background:url('img/norm_right.gif') no-repeat right top;
	margin: 0px 12px 0px 0px;
	padding: 0px;
	list-style-type: none;
	text-transform: uppercase;
	font-size:0.9em;
}
.pagetabs a {
    display:block;
	color: #BCBCBC;
	text-decoration: none;
	background:url('img/norm_left.gif') no-repeat left top;
    padding:5px 12px 1px 12px;
}
.pagetabs a:hover{
	color:white;
}
.pagetabs #current {
    background-image:url('img/norm_right_on.gif');
    }
.pagetabs #current a {
	text-decoration: none;
    background-image:url('img/norm_left_on.gif');
}
.what {
	background-color:#242529;
}
.what th {
	background-color:#424242;
	padding:8px;
}
.what td {
	padding:8px;
}


a.achievement{
    position:relative; /*this is the key*/
    z-index:2; background-color:#ccc;
    color:#000;
    text-decoration:none;
    cursor:default;
}

a.achievement:hover{z-index:3; background-color:#ff0;
    cursor:default;
}

a.achievement span{display: none}

a.achievement:hover span{ /*the span will display just on :hover state*/
    display:block;
    position:absolute;
    top:1em; left:2em;
    border:1px solid #424242;
    background-color:#000; color:#000;
    text-align: center
}