BODY	{ 
	color: white; 
	font-size: 10pt; 
	font-family: verdana, arial, sans-serif;
	margin: 0px;
	background:#3e4533 url(img/background.gif);
	background-repeat: no-repeat;
	margin:24px 32px 0px 24px;
	}
/* this is a fix to get IE and FF to intrepret padding in a consistent manner */
/*
DIV {
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	margin:0;
	padding:0;
}
*/
H1	{
	font-family:trebuchet ms;
	font-size:12pt;
	font-weight:bold;
	color:#BFBA50;
	margin:0px;
	letter-spacing:0.1em;
	}
HR	{
	size:1px;
	color:#282E22;
	border-style:dotted;
	margin:6px 0 6px 0;
	}
IMG	{
	border:0px;
	margin:0px;
	}
TD 	{
	font-size:8pt;
	color:#A0AA95;
	text-align:center;
	background:#585F4F;
	}
.footer { color: #555; 
	font-size: 7pt; 
	line-height: 8pt; 
	background-image: none; 
	background-repeat: repeat; 
	background-attachment: scroll; 
	background-position: 0 0; 
	position: relative; 
	width: 100%; 
	float: center     
	}
a	{
	color:white;
	}
.steamMessage {
	width:540px;
	height:516px;
	}