<h1>GET STEAM NOW</h1>
{% if files %}
    {% set file = files[0] %}
    <ul>
    {% for m in file.mirrors %}
        <li><a class="maize" href="{{ m.url }}">{{ loop.index }}: {{ m.host }}</a></li>
    {% endfor %}
    </ul>
{% endif %}
