body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	background-color: #494e49;
	margin: 0px;
	padding: 0px;
}
h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	color: #FFFFFF;
	margin: 0px;
	padding: 10px 0px 0px 15px;
}
h2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	font-weight: normal;
	margin: 0px 0px 0px 15px;
	padding: 0px;
}
.header {
	height: 46px;
	background-image: url('img/header_bg_0.jpg');
	background-repeat: repeat-x;
	margin: 0px;
	padding: 0px;
}
.headerImg {
	background-attachment: scroll;
	background-image: url('img/header_0.jpg');
	background-repeat: no-repeat;
	background-position: right top;
	height: 46px;
}
.content {
	margin: 0px;
	padding: 15px;
}
.extImg {
	float: right;
	background-image: url('img/extImg_0.jpg');
	background-repeat: no-repeat;
}
.linky {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	cursor: hand;
}
ul {
	margin: 0px 0px 10px 15px;
	padding: 0px;
	list-style-type: square;
	color: #999999;
}
.details {
	padding: 0px;
	margin-top: 5px;
	margin-right: 15px;
	margin-bottom: 10px;
	margin-left: 20px;
}
a, a:visited, a:link {
	color: #CCCCCC; text-decoration:underline;
}
a:hover, a:active {
	color: #ffffff; text-decoration:underline;
}

.post_title { color: #a0a0a0; }