BODY	{
	font-family:verdana, arial, sans-serif;
	font-size:9pt;
	background:#626D5C;
	color:#969F8E;
	margin-top:16px;
	margin-left:8%;
	margin-right:8%;
	margin-bottom:64px;
	scrollbar-face-color: #4C5844;
	scrollbar-shadow-color: #4C5844;
	scrollbar-highlight-color: #4C5844;
	scrollbar-3dlight-color: #818D7C;
	scrollbar-darkshadow-color: #1C261E;
	scrollbar-track-color: #5A6A50;
	scrollbar-arrow-color: #969F8E;
	}

IMG	{
	border-style:none;
	}

.header{
	padding:8px 16px 8px 8px;
	background:#000000;
	margin-bottom:16px;
	}

.right{
	text-align:right;
	border-style:solid;
	}

TABLE	{
	border-style:none;
	}

.inputSmall{
	width:200px;
	margin:4px 0px 12px 0px;
	background:#3E4637;
	border-style:solid;
	border-width:1px;
	border-top-color:#1C261E;
	border-right-color:#818D7C;
	border-bottom-color:#818D7C;
	border-left-color:#1C261E;
	color:#BFBA50;
	}

.inputLarge{
	width:268px;
	margin:4px 0px 12px 0px;
	background:#3E4637;
	border-style:solid;
	border-width:1px;
	border-top-color:#1C261E;
	border-right-color:#818D7C;
	border-bottom-color:#818D7C;
	border-left-color:#1C261E;
	color:#BFBA50;
	}

.inputSubmit{
	height:24px;
	width:140px;
	text-align:left;
	padding-left:8px;
	margin:4px 0px 0px 0px;
	background:#4C5844;
	border-style:solid;
	border-width:1px;
	border-top-color:#818D7C;
	border-right-color:#1C261E;
	border-bottom-color:#1C261E;
	border-left-color:#818D7C;
	color:#C4CABE;
	}

.inputSubmitClicked{
	height:24px;
	width:140px;
	text-align:left;
	padding-left:8px;
	margin:4px 0px 0px 0px;
	background:#4C5844;
	border-style:solid;
	border-width:1px;
	border-top-color:#1C261E;
	border-right-color:#818D7C;
	border-bottom-color:#818D7C;
	border-left-color:#1C261E;
	color:#C4CABE;
	}

.inputSubmitDisabled{
	height:24px;
	width:140px;
	text-align:left;
	padding-left:8px;
	margin:4px 0px 0px 0px;
	background:#626D5C;
	border-style:solid;
	border-width:1px;
	border-top-color:#1C261E;
	border-right-color:#818D7C;
	border-bottom-color:#818D7C;
	border-left-color:#1C261E;
	color:#C4CABE;
	}


IMG	{
	margin:0 0 0 0;
	}

.head1{
	color:#C4CABE;
	font-family:arial,verdana,tahoma,helvetica;
	font-size:18px;
	font-weight:bold;
	line-height:19px;
	margin-bottom:2px;
	}
	
.content{
	padding:24px 20% 32px 120px;
	margin-bottom:24px;
	background:#4C5844;
	}

.2ndWord{
	color:#FFFFFF;
	}

.bright{
	color:#C4CABE;
	}

.circleR{
	font-family:verdana,arial,helvetica;
	font-size:9px;
	}

HR{	margin:8px 0px 12px 0px;
	border-bottom: 1px solid #818D7C;
	border-top: 1px solid #1C261E;
	}

.trigger{
	cursor: pointer;
	cursor: hand;

	}
.branch{
	display: none;
	margin-left: 20px;
	line-height:16px;
	}
.tree{
      float:	center;
    	width:	100%;
    	padding:4,0,4,8;
      margin-bottom:16px;
	border-left: 1px solid #1C261E;
	border-top: 1px solid #1C261E;
	border-right: 1px solid #818D7C;
	border-bottom: 1px solid #818D7C;
	background:#3E4637;
	}

A {	
	}

A:visited {
	color: #D8DED3; text-decoration:underline;
	}

A:link {
	color: #D8DED3; text-decoration:underline;
	}

A:hover {
	color: #ffffff; text-decoration:underline;
	}

A:active {
	color: #ffffff; text-decoration:underline;
	}

.bodynote { font-family:verdana, arial; font-size:11px; color:#000000; line-height:13pt;}
