#
# phpBB Style Imageset Configuration
# Steam 2011 Theme - vBulletin-style Post Icons
#
# @copyright (c) 2024 Valve Corporation
# @license GPL-2.0-only
#
# This file defines post icons and other UI elements for the Steam 2011 theme
#

# Post Icons (vBulletin-style)
img_icon_post_target = icon_post_target.png
img_icon_post_target_unread = icon_post_target_unread.png
img_icon_topic_attach = icon_topic_attach.gif
img_icon_topic_latest = icon_topic_latest.gif
img_icon_topic_newest = icon_topic_newest.gif
img_icon_topic_reported = icon_topic_reported.gif
img_icon_topic_unapproved = icon_topic_unapproved.gif

# vBulletin Post Icons
img_icon_post_exclamation = icon5.gif
img_icon_post_question = icon8.gif
img_icon_post_smile = icon9.gif
img_icon_post_thumbup = icon10.gif
img_icon_post_angry = icon13.gif
img_icon_post_wink = icon3.gif
img_icon_post_tongue = icon4.gif

# Forum Icons
img_forum_link = forum_link.gif
img_forum_read = forum_read.gif
img_forum_read_locked = forum_read_locked.gif
img_forum_read_subforum = forum_read_subforum.gif
img_forum_unread = forum_unread.gif
img_forum_unread_locked = forum_unread_locked.gif
img_forum_unread_subforum = forum_unread_subforum.gif

# Topic Icons
img_topic_moved = topic_moved.gif
img_topic_read = topic_read.gif
img_topic_read_mine = topic_read_mine.gif
img_topic_read_hot = topic_read_hot.gif
img_topic_read_hot_mine = topic_read_hot_mine.gif
img_topic_read_locked = topic_read_locked.gif
img_topic_read_locked_mine = topic_read_locked_mine.gif
img_topic_unread = topic_unread.gif
img_topic_unread_mine = topic_unread_mine.gif
img_topic_unread_hot = topic_unread_hot.gif
img_topic_unread_hot_mine = topic_unread_hot_mine.gif
img_topic_unread_locked = topic_unread_locked.gif
img_topic_unread_locked_mine = topic_unread_locked_mine.gif

# UI Elements
img_button_pm_forward = button_pm_forward.gif
img_button_pm_new = button_pm_new.gif
img_button_pm_reply = button_pm_reply.gif
img_button_topic_locked = button_topic_locked.gif
img_button_topic_new = button_topic_new.gif
img_button_topic_reply = button_topic_reply.gif

# User Status
img_icon_user_online = icon_user_online.gif
img_icon_user_offline = icon_user_offline.gif
img_icon_user_warn = icon_user_warn.gif