#col_genre {
	width: 717px;
	margin-left: 17px;
	margin-bottom: 15px;
	float: left;
}
#col_genre h1 {
	font-family: "Trebuchet MS", "Arial Narrow", HelveticaNeue-Thin, Helvetica-Light, sans-serif;
	font-size: 42px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: left;
	margin: 0px;
}
#col_genre p {
	margin: 0px;
}