/* CSS Document */
#col_center_game {
	width: 476px;
	margin-left: 17px;
	float: left;
	background-image: url('img/col_center_game_bg.jpg');
	background-repeat: no-repeat;
}
#col_center_demo {
	width: 476px;
	margin-left: 17px;
	float: left;
	background-image: url('img/col_center_demo_bg.jpg');
	background-repeat: no-repeat;
}
/* ================================================================================================== */
/* ---- [ Center Column ] ---- */
#game_area_header {
	width: 463px;
	height: 218px;
	margin: 5px;
	background: #000000;
	padding: 3px 0px 0px 3px;
}
#media_area_header {
	width: 463px;
	height: 375px;
	margin: 5px;
	padding: 3px 0px 0px 3px;
}
#game_area_screenshots {
	margin: 5px 5px 5px 0px;
	text-align: right;
}
#game_area_screenshots img {
	float:left;
	margin-left: 5px;
	width: 89px;
}
#game_area_purchase {
	margin-top: 50px;
}
#game_area_purchase h2 
{
	margin-top: 15px;
}
#game_area_purchase h1 {
	font-family: "Trebuchet MS", "Arial Narrow", HelveticaNeue-Thin, Helvetica-Light, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #CFCBC2;
	padding: 5px 0px 0px 10px;
}
#game_area_purchase p {
	padding: 0px 0px 0px 10px;
}
#game_area_purchase p strong {
	color: #8BC53F;
	font-weight: normal;
}
.game_area_purchase_game {
	min-height: 50px;
	background-color: #4A4945;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CFCBC2;
	margin: 7px 0px 40px 0px;
}
.game_area_purchase_button {
	float: right;
	padding: 6px 0px 6px 0px;
	position: relative;
	top: 10px;
}
.game_area_purchase_price {
	float: right;
	color: #000000;
	background-color: #CFCBC2;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 2px 4px 2px 4px;
	font-weight: bold;
	text-align:right;
}
.game_area_purchase_price strike {
	color: #626366;
	font-weight: normal;
	font-size: 10px;
}
.game_area_purchase_savings {
	color: #C26413;
	font-weight: normal;
	float: right;
}
.game_area_description {
	margin: 0px 0px 45px 0px;
}
.game_area_description p {
	font-size: 11px;
	line-height: 18px;
	margin: 7px 0px 2px 0px
}
.game_area_description p strong {
	font-size: 11px;
	line-height: 18px;
	font-weight: bold;
	margin: 7px 0px 2px 0px
}
.game_area_description p a 
{
	font-size: 11px;
	color: #CFCBC2;
	font-weight: normal;
	text-decoration: underline;
}
.game_area_description i {
	color: #CFCBC2;
}
/* =========================== */
.game_area_description strong
{
	font-weight: normal;
	color: #CFCBC2;
}
#game_area_reviews i
{
	color: #808080;
}
.game_area_description ul li
{
	color: #808080;
	font-size: 11px;
	line-height: 18px;
	padding: 4px 0px 0px 0px;
	margin: 0px;
	margin-left: 15px;
	list-style-position: outside;
	list-style-type: square;
}
.game_area_description ul li i
{
	color: #808080;
}
#game_area_sys_req ul li
{
	color: #808080;
	font-size: 11px;
	line-height: 14px;
	padding: 4px 0px 0px 0px;
	margin: 0px;
	list-style-type: none;
}
#game_area_sys_req p
{
	padding-top: 10px;
}
#game_area_sys_req strong
{
	color: #CFCBC2;
}
#game_area_sys_req_leftCol
{
	width: 230px;
	float: left;
}
#game_area_sys_req_rightCol
{
	width: 230px;
	float: right;
}
#game_area_sys_req_full
{
	width: 477px;
	float: left;
}
/* =========================== */

#game_area_reviews p {
	color: #808183;
}
#game_area_reviews p a 
{
	font-size: 11px;
	color: #808183;
}
.game_area_content_link {
	font-size: 9px;
	font-weight: normal;
	color: #6F9FC8;
	text-decoration: none;
	background-image: url('img/h2_under.gif');
	background-repeat: repeat-x;
	background-position: top;
}
.game_area_description h3 {
	font-size: 10px;
	color: #4A4945;
	font-weight: normal;
	margin-bottom: 8px;
}
.game_area_description h2 {
	background-image: url('img/h2_under.gif');
	background-repeat: repeat-x;
	background-position: bottom;
}
.game_area_description h2 strong {
	color: #C26413;
}
#game_area_legal {
	background-image: url('img/h2_under.gif');
	background-repeat: repeat-x;
	background-position: top;
	padding-top:2px;
	margin-top: 30px;
}
#game_area_legal p {
	font-size: 10px;
	line-height: 11px;
	color: #3B3B3B;
}
#game_area_comingsoon 
{
	width: 477px;
	height: 66px;
	background-image: url('img/game_note_soon.jpg');
	background-repeat: no-repeat;
	background-position: bottom;
}
#game_area_comingsoon h1
{
	font-size: 16px;
	color: #000000;
}
#game_area_comingsoon p
{
	font-size: 11px;
	color: #000000;
}
#game_area_note 
{
	width: 477px;
	height: 74px;
	background-image: url('img/game_note_event.jpg');
	background-repeat: no-repeat;
	background-position: bottom;
}
#game_area_note h1
{
	font-size: 16px;
	color: #000000;
}
#game_area_note h2
{
	margin: 0px 0px 5px 10px;
	font-size: 10px;
	color: #4A4945;
}
#game_area_note p
{
	font-size: 11px;
	color: #000000;
}
#game_area_note p a
{
	font-size: 11px;
	color: #000000;
	font-weight: normal;
	text-decoration: underline;
}
#game_area_gift 
{
	width: 477px;
	height: 88px;
	background-image: url('img/game_note_gift.jpg');
	background-repeat: no-repeat;
	background-position: bottom;
}
#game_area_gift h1
{
	margin-left: 72px;
	font-size: 16px;
	color: #000000;
}
#game_area_gift p
{
	margin-left: 72px;
	font-size: 11px;
	color: #000000;
}

/* ================================================================================================== */
/* ---- [ Right Column ] ---- */
#game_area_media {
	margin-bottom: 45px;
}
#game_area_media_list {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #444444;
	padding-top: 5px;
}
#game_area_media_list img 
{
	margin: 0px 7px 0px 5px;
}
#game_area_media ul {
	margin-left: -12px;
	margin-top: 4px;
}
.game_area_media_btn {
	border: 1px solid #6F9FC8;
	padding: 8px 0px 8px 5px;
	height: 24px;
	width: 218px;
	cursor: pointer;
	margin-bottom: 4px;
}
#game_area_details {
	margin-bottom: 45px;
}
#game_area_details p {
	color: #808080;
	font-size: 11px;
	line-height: 16px;
	margin-bottom: 15px;
}
#game_area_details p a 
{
	font-size: 11px;
	color: #808080;
	font-weight: normal;
	text-decoration: underline;
}
#game_area_details p a:hover 
{
	font-size: 11px;
	color: #FFFFFF;
}
#game_area_details p b {
	color: #8BC53F;
	font-size: 11px;
	font-weight: normal;
}
#game_area_details p strong {
	color: #567A27;
	font-size: 11px;
	font-weight: normal;
}
.game_area_details_specs {
	color: #8BC53F;
	font-size: 11px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #444444;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 0px;
}
#game_area_history {
	margin-bottom: 45px;
}
#game_area_awards {
	margin-bottom: 45px;
}
#game_area_metascore {
	background-image: url('img/metacritic_bg.gif');
	height: 35px;
	width: 180px;
	font-family: "Trebuchet MS", "Arial Narrow", HelveticaNeue-Thin, Helvetica-Light, sans-serif;
	font-size: 24px;
	font-weight: bold;
	color: #8BC53F;
	text-align: right;
	padding-right: 43px;
	padding-top: 5px;
	
}
#game_area_metalink {
	margin-bottom: 17px;
	padding:0px;
}
#giftBucket {
	width: 443px;
	height: 106px;
	background-image: url('http://www.steampowered.com/v4/img/gift/gamePageBucket.gif');
	background-repeat: no-repeat;
}
#giftBucket h1 {
	font-family: "Trebuchet MS", "Arial Narrow", HelveticaNeue-Thin, Helvetica-Light, sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-transform: none;
	color: #FFFFFF;
	letter-spacing: 0em;
	margin: 0px 0px 0px 0px;
	padding: 27px 0px 0px 48px;
}
#giftBucket p {
	padding: 0px 0px 0px 5px;
}
#VideoHighlight 
{
	margin-bottom: 35px;
}
/* ==================================================================================== */
.messageRequiredApp {
	background-color: #303030;
	color: #c0c0c0;
	border: 2px Solid Orange;
	padding: 5px;
	width: 446px !important;
	width: 460px;
	margin-top: 5px;
	margin: 0px 0px 10px 0px !important;
	margin: 0px 0px 0px 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.messageRequiredApp a { color: White; }

.messageRequiredApp a:hover { color: Silver; }
/* ==================================================================================== */
#purchase_note 
{
	color: #C26413;
	border-top: 1px solid #C26413;
	border-right: 1px none #C26413;
	border-bottom: 1px solid #C26413;
	border-left: 1px none #C26413;
	padding: 2px 0px 4px 0px;
}
#purchase_note a
{
	color: #C26413;
	text-decoration: underline;
}
