BODY   { color: black; font-size: 9pt; line-height: 14pt; font-family: verdana, tahoma, helvetica, arial; background-color: white; margin: 0px; padding: 0px }

IMG {
margin:0px;
border:none;
}

IMG.screenshot {
width:188px;
height:110px;
margin:12px 6px 12px 6px;
border-width:4px;
border-color:black;
border-style:solid;
}

HR	{
height:1px;
color:#555555;
}

H1	  { color: black; font-size: 14pt; font-family: "Trebuchet MS"; letter-spacing: 1pt }

H2 {
padding-top:8px;
font-size:13px;
font-family:arial, tahoma, verdana;

width:650px;
line-height:20px;
margin:2px 0px 4px 0px;
\\background:#AAA71A;
text-transform:uppercase;
\\letter-spacing:0.1em;
}

UL {
margin:0px 0px 0px 0px;
list-style-type:square;
margin-right:40px;
}

.header {
padding:0px 0px 0px 12px;
height:148px;
background:black;
background-image:url(file:///C:/Documents%20and%20Settings/quintind/Desktop/img/cz_logo_bg.gif);
background-repeat:repeat-x;
background-position:top left;
}

.shots {
background:#555555;
width:640px;
text-align:center;
}
.content  { margin: 0px }
.content1 { color: black; font-size: 8pt; margin: 0px }
.subhed { color: black; font-weight: bold; font-size: 10pt; margin: 0px }
.arrow {
float:left;
\\width:400px;
background:#444444;
padding:8px 0px 8px 32px;
margin:28px -4px 0px 0px;
}

.footnote  { color: #999999; font-size: 9px; line-height: 11px; text-transform: uppercase }
.footnote2  { color: black; font-size: 9px; line-height: 11px; text-transform: uppercase }
.violator {
font-size:14pt;
font-weight:bold;
line-height:28px;
text-decoration:none;
}

A:visited   { color: #e08a01; font-size: 10pt; text-decoration: underline }

A:link   { color: #e08a01; font-size: 10pt; text-decoration: underline }

A:hover   { color: #ffa500; font-size: 10pt; text-decoration: underline }

A:active   { color: #e08a01; font-size: 10pt; text-decoration: underline }
