BODY {
	background: #444d3a;
	margin: 0
	}
.bodyCopy {
	color: #FFFFFF;
	font-size: 10pt;
	font-family:"trebuchet ms", "arial narrow", "helvetica narrow";
	line-height: 16px;
	margin: 0;
	font-weight: normal;
	padding-left: 25px;
	width: 250px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	}
IMG	{
	border-style:none;
	margin:0px;
	}
IMG#steam{
	margin-left:-134px;
	position:relative;
	}
IMG#screenshots{
	margin-left:-36px;
	}
TABLE	{
	border:0px;
	border-style:none;
	padding:0px;
	margin:0px;
	}
TR	{
	border:0px;
	margin:0px;
	padding:0px;
	}
TD	{
	border:0px;
	margin:0px;
	padding:0px;
	}
HR	{
	margin:8px 0px 12px 0px;
	border-bottom: 1px solid #818D7C;
	border-top: 1px solid #000000;
	width:80%;
	text-align:left;
	}
DIV	{
	padding:0px;
	margin:0px;
	}
H1	{
	font-family:trebuchet ms;
	font-size:19pt;
	font-weight:bold;
	line-height:23pt;
	color:white;
	margin:18px 0px 6px 0px;
	letter-spacing:0.2em;
	}
H2	{
	color:#FFFFFF;
	font-family:"trebuchet ms", "arial narrow", "helvetica narrow";

verdana,tahoma,helvetica;
	font-size:18px;
	font-weight:normal;
	line-height:18px;
	margin:0px;
	padding:0px;
	letter-spacing: 1px;
	text-align: center;
	/* letter-spacing:0.1em; */
	}
H2#afterBox{
	margin-top:-24px;
	}
H2#page1{
	margin-top:-48px;
	}
H3	{
	color:#BFBA50;
	font-family:trebuchet ms,arial narrow,helvetica narrow;verdana,tahoma,helvetica;
	font-size:14px;
	font-weight:bold;
	line-height:18px;
	margin:0px 0px 0px 0px;
	padding:0px;
	letter-spacing:0.1em;
	text-transform:uppercase;
	}
P	{
	margin-top:0px;
	}
EM	{
	color:white;
	font-style:normal;
	}
.list{
	width:80%;
	margin:4px 0px 12px 0px;
	background:#3E4637;
	border-style:solid;
	border-width:1px;
	border-top-color:#1C261E;
	border-right-color:#818D7C;
	border-bottom-color:#818D7C;
	border-left-color:#1C261E;
   	padding-top:4;
    	padding-right:4;
    	padding-bottom:4;
    	padding-left:8;
      margin-bottom:16;
	}
.circleR{
	font-family:Verdana, Arial, Helvetica;
	font-size:9px;
	}
A:visited      { color: #FFFFFF; text-decoration: underline }
A:link         { color: #FFFFFF; text-decoration: underline }
A:hover        { color: #CCCCCC; text-decoration: underline }
A:active  { color: #FFFFFF; text-decoration: underline }

A.subText:visited      { color: #4b9545; text-decoration: underline }
A.subText:link         { color: #4b9545; text-decoration: underline }
A.subText:hover        { color: #FFFFFF; text-decoration: underline }
A.subText:active  { color: #4b9545; text-decoration: underline }

.bodynote { font-family:verdana, arial; font-size:11px; color:#000000; line-height:13pt;}
.legal {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666666;
	margin-bottom: 3px;
	padding-right: 5px;
	padding-left: 25px;
}
.subText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #4b9545;
	letter-spacing: 1px;
	line-height: 15px;
	margin-top: 8px;
	text-align: center;
}
.Header {
	font-family:"trebuchet ms", "arial narrow", "helvetica narrow";
	font-size: 18px;
	padding-left: 25px;
	color: #FFFFFF;
}
.blast {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 15px;
	text-transform: uppercase;
	color: #FFFFFF;
}
