body 
{
	background-color : #4C5844;
	padding-bottom : 16px;
	padding-left : 16px;
	padding-right : 16px;
	padding-top : 16px;
	scrollbar-base-color: #4C5844;
}

.content_area 
{
	\\background-color : red;
	background-color : #3E4637;
	border : 1px solid #202020;
	width: 100%;
	height: 100%;
}

td.content
{
	padding-top : 24px;
	padding-left : 24px;
	padding-right : 24px;
	\\padding-bottom : 24px;
}

td.bottom
{
	\\padding-top : 24px;
	padding-left : 24px;
	padding-right : 24px;
	padding-bottom : 24px;
}

p, li 
{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 13;
	font-style : normal;
	font-weight : normal;
	color : #dadada;
}

li
{
	list-style : square;
	list-style-type : square;
	\\line-height : 18pt;
	margin-bottom : 4pt;
}

HR	
{
	margin:0px 0px 0px 0px;
	border-bottom: 1px solid #818D7C;
	border-top: 1px solid #000000;
	\\width:80%;
	text-align:left;
}

a { color: #c0c0c0; }

a.boldlink 
{
	font-weight: bold;
	color: #c0c0c0;
	text-decoration: none;
}

a.boldlink:hover 
{
	font-weight: bold;
	color: #ffffff;
	text-decoration: none;
}

a:hover 
{
	color: #ffffff;
}

h1 
{
	color : #eeeeee;
	font-family : Arial, Verdana;
	font-size : 15px;
	font-style : normal;
	font-weight : bold;
	\\font-variant : small-caps;
	text-transform: uppercase;
	margin-bottom : 4px;
}

.small 
{
    font-family: Tahoma;
    font-size: 12px;
    color: #c1c1c1;
}

.form_100p 
{
    font-family: Verdana;
    font-size: 10px;
    font-color: Black;
    width: 100%;
    background-color: #495141;
    border-style:solid;
    border-width:1px;
    border-top-color:#1C261E;
    border-right-color:#818D7C;
    border-bottom-color:#818D7C;
    border-left-color:#1C261E;
    color:#BFBA50;
    scrollbar-base-color: #4C5844;
}

.form_generic 
{
    font-family: Verdana;
    font-size: 10px;
    font-color: Black;
    background-color: #3E4637;
    border-style:solid;
    border-width:1px;
    border-top-color:#1C261E;
    border-right-color:#818D7C;
    border-bottom-color:#818D7C;
    border-left-color:#1C261E;
    color: White;
    scrollbar-base-color: #4C5844;
}

.maize {
    color: #bdbe52;
}