body {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	background-color: #242322;
	margin: 0px;
	padding: 0px;
}
h1 {
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	color: #FFFFFF;
	margin: 0px;
	padding: 10px 0px 0px 8px;
}
h2 {
	font-size: 10px;
	color: #999999;
	font-weight: normal;
	margin: 0px 0px 0px 8px;
	padding: 0px;
}
.header {
	height: 46px;
	background:#404040;
	margin: 0px;
	padding: 0px;
}
.content {
	margin: 0px;
	padding: 8px;
}
.extImg {
	float: right;
	margin:10px;
	background-image: url('img/extImg_0.jpg');
}
.linky {
	font-size: 11px;
	color: #FFFFFF;
	cursor: hand;
}
ul {
	margin: 0px 0px 10px 16px;
	padding: 0px;
	list-style-type: square;
	color: #999999;
}
.details {
	padding: 0px;
	margin-top: 5px;
	margin-right: 8px;
	margin-bottom: 10px;
	margin-left: 20px;
}
a, a:visited, a:link {
	color: #CCCCCC; text-decoration:underline;
}
a:hover, a:active {
	color: #ffffff; text-decoration:underline;
}

.post_title { color: #888888; }
