<div id="mc-page2" class="mc-page" style="display:none;">
<form id="mc-form2" enctype="multipart/form-data">
<p>Map Name<br><input type="text" name="mapName" size="42"></p>
<p>Map File (.bsp)<br><input type="file" name="mapFile" id="mapFile" accept=".bsp"><progress id="mapProg" value="0" max="100" style="display:none;width:100%"></progress></p>
<p>Source Files (.zip)<br><input type="file" name="sourceFiles" id="sourceFiles" accept=".zip,.rar"><progress id="srcProg" value="0" max="100" style="display:none;width:100%"></progress></p>
<p>Map Description<br><textarea name="mapDescription" rows="4" cols="40"></textarea></p>
<p>Recommended Players<br><select name="recommendedPlayers">
<option value="">Select...</option>
<option value="2-4">2-4</option>
<option value="4-8">4-8</option>
<option value="8-12">8-12</option>
<option value="12-16">12-16</option>
<option value="16+">16+</option>
</select></p>
<p>Game Mode<br><select name="gameMode">
<option value="">Select...</option>
<option value="deathmatch">Deathmatch</option>
<option value="team">Team</option>
<option value="combine_vs_resistance">Combine vs. Resistance</option>
<option value="other">Other</option>
</select></p>
<p>Development Time<br><input type="text" name="developmentTime"></p>
<p>Tools Used<br><input type="text" name="tools" size="42"></p>
<p>Inspiration<br><textarea name="inspiration" rows="3" cols="40"></textarea></p>
<p>Screenshots (maximum of 3)<br>
<input type="file" id="ss-upload" accept="image/*" multiple>
<div id="shotList" class="shot-list"></div>
</p>
<p><button type="button" class="mc-prev" data-prev="1">&laquo; Previous</button> <button type="submit">Next &raquo;</button></p>
</form>
</div>
