<div id="mc-page3" class="mc-page" style="display:none;">
<form id="mc-form3">
<p>Previous Mapping Experience<br><textarea name="previousExperience" rows="3" cols="40"></textarea></p>
<p>Additional Comments<br><textarea name="additionalComments" rows="3" cols="40"></textarea></p>
<p>How did you hear about this contest?<br><select name="howDidYouHear">
<option value="">Select...</option>
<option value="steam">Steam Client</option>
<option value="valve_website">Valve Website</option>
<option value="gaming_forum">Gaming Forum</option>
<option value="friend">Friend</option>
<option value="gaming_site">Gaming Site</option>
<option value="other">Other</option>
</select></p>
<p><label><input type="checkbox" name="originalWork" required> This map is my original work</label></p>
<p><label><input type="checkbox" name="agreeToRules" required> I agree to the contest rules</label></p>
<p><label><input type="checkbox" name="agreeToLicense" required> I grant Valve rights to my submission</label></p>
<p><label><input type="checkbox" name="confirmAge" required> I am at least 13 years old</label></p>
<p><button type="button" class="mc-prev" data-prev="2">&laquo; Previous</button> <button type="submit">Submit Entry</button></p>
</form>
</div>
