<div id="mc-page1" class="mc-page">
<form id="mc-form1">
<input type="hidden" name="area" value="map_contest">
<p>Full legal name<br><input type="text" name="cFullName" size="42" required></p>
<p>Address<br><input type="text" name="cAddress" size="42" required></p>
<p>City<br><input type="text" name="cCity" size="42" required></p>
<p>State/Province<br><input type="text" name="cState" size="16" required></p>
<p>Country<br><input type="text" name="cCountry" size="16" required></p>
<p>Zip or Postal Code<br><input type="text" name="cZip" size="16" required></p>
<p>Date of Birth<br><input type="date" name="cDOB" size="16" required></p>
<p>Phone<br><input type="text" name="cPhone" size="42" required></p>
<p>Email<br><input type="email" name="cEmail" size="42" required></p>
<p>Group Name<br><input type="text" name="cGroupName" size="42"></p>
<p>Group Members<br><input type="text" name="cGroupMemberName1" size="42"><br>
<input type="text" name="cGroupMemberName2" size="42"><br>
<input type="text" name="cGroupMemberName3" size="42"><br>
<input type="text" name="cGroupMemberName4" size="42"></p>
<p><button type="submit">Next &raquo;</button></p>
</form>
</div>
