BODY  { color: white; font-size: 9pt; line-height: 14pt; font-family: verdana, tahoma, helvetica, arial; background-color: #666666; margin: 0px; padding: 0px }

IMG {
margin:0px;
border:none;
}

IMG.screenshot {
width:188px;
height:110px;
margin:12px 6px 12px 6px;
border-width:4px;
border-color:black;
border-style:solid;
}

HR	{
height:1px;
color:#555555;
}

H1	{
font-size:16pt;
}

H2 {
padding-top:8px;
font-size:13px;
font-family:arial, tahoma, verdana;

width:599px;
line-height:20px;
margin:2px 0px 4px 0px;
\\background:#AAA71A;
text-transform:uppercase;
\\letter-spacing:0.1em;
}

UL {
margin:0px 0px 0px 0px;
list-style-type:square;
margin-right:40px;
}

.header {
padding:0px 0px 0px 12px;
height:148px;
background:black;
background-image:url(file:///C:/Documents%20and%20Settings/quintind/Desktop/img/cz_logo_bg.gif);
background-repeat:repeat-x;
background-position:top left;
}

.shots {
background:#555555;
width:599px;
text-align:center;
}
.content {
margin:0px 24px 0px 32px;
}
.contentbold  { font-size: 26px; line-height: 20px; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; margin: 0px }
.contentbold2 { color: #ff0; font-size: 17px; line-height: 20px; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; margin: 0px }
.arrow  { font-size: 10pt; line-height: 14pt; background-color: transparent; float: left; margin: 0px; padding: 0px; \\width: 400px }

.footnote {
color:#999999;
font-size:9px;
line-height:11px;
text-transform:uppercase;
width:560px;
}

.violator {
font-size:14pt;
font-weight:bold;
line-height:28px;
text-decoration:none;
}

A:visited  { color: #ff0; font-size: 10pt; line-height: 14pt; text-decoration: underline }

A:link  { color: #ff0; font-size: 10pt; line-height: 14pt; text-decoration: underline }

A:hover  { color: #ffd700; font-size: 10pt; line-height: 14pt; text-decoration: underline }

A:active  { color: #ff0; font-size: 10pt; line-height: 14pt; text-decoration: underline }
