#
# phpBB Style Imageset Configuration
# Steam 2003 v2 Theme - vBulletin-style Post Icons
#
# @copyright (c) 2024 Valve Corporation
# @license GPL-2.0-only
#

# vBulletin Post Icons
img_icon_post_exclamation = icon5.gif
img_icon_post_question = icon8.gif
img_icon_post_smile = icon9.gif
img_icon_post_thumbup = icon10.gif
img_icon_post_angry = icon14.gif
img_icon_post_wink = icon3.gif
img_icon_post_tongue = icon4.gif

# Post Icons
img_icon_post_target = posticon.gif
img_icon_post_target_unread = posticon.gif

# Forum Icons
img_forum_read = folder.gif
img_forum_unread = newfolder.gif
img_forum_read_locked = lockfolder.gif
img_forum_unread_locked = newhotfolder.gif

# Topic Icons
img_topic_read = off.gif
img_topic_unread = on.gif
img_topic_read_hot = hotfolder.gif
img_topic_unread_hot = hotfolder.gif
img_topic_read_locked = offlock.gif
img_topic_unread_locked = on.gif

# User Status
img_icon_user_online = icon_user_online.gif
img_icon_user_offline = icon_user_offline.gif