<h1>GET STEAM NOW</h1>
<h2>IN MINUTES, <em>YOU'LL BE PLAYING YOUR FAVORITE GAMES</em></h2>
<img src="images/Graphic_box.jpg" width="24" height="6" alt=""><br>
<div class="narrower">
<br>The Steam client initial download is about 500kB. Please select one of the links below to get started. (If you already have Steam, you don't need to download this installer. Steam will update itself automatically.)<br>
<br>
<h2>DOWNLOAD LOCATIONS:</h2><br>
<table><tr><td width="220">
{% for link in links %}
<table cellspacing="0"><tr>
<td><img height="24" src="images/black_button_leftside.gif" width="10"></td>
<td align="middle" bgcolor="#000000"><a class="maize" href="{{ link.url }}">{{ link.label }}</a></td>
<td><img height="24" src="images/black_button_rightside.gif" width="10"></td>
</tr></table>
<br>
{% endfor %}
</td></tr></table>
<hr>
{{ system_requirements|raw }}
</div>
