{{ header() }}
<div class="content" id="container" style="background-image:url({{ THEME_URL }}/img/shieldguy.gif); background-position:top right; background-repeat:no-repeat;">
{{ content|raw }}
</div>
{{ footer() }}
