<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html>
<head>
<title>Welcome to Steam</title>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
<meta content="no-cache" http-equiv="pragma"/>
<meta content="ALL" name="ROBOTS"/>
<meta content="Valve - Steam account signup" name="DESCRIPTION"/>
<meta content="Steam, account, account creation, signup" name="KEYWORDS"/>
<meta content="Valve LLC" name="AUTHOR"/>
<link href="steampowered.css" rel="stylesheet" type="text/css"/>
<script language="JavaScript" src="nav.js"></script>
</head>
<body>
<div class="header">
{{ header() }}
</div>
<div class="content" id="container" style="background-image:url(img/shieldguy.gif); background-position:top right; background-repeat:no-repeat;">
{{ content|raw }}
</div>

{{ footer() }}

</body>
</html>
