<!-- INCLUDE overall_header.html -->

<div align="center">
<table border="0" cellspacing="0" width="100%">
<tr>
<td bgcolor="#424B3C" width="50%">
<p align="left"><font color="#EBEDEA" face="Arial" size="2"><b>Name</b></font></p>
</td>
<center>
<td align="center" bgcolor="#424B3C" width="15%">
<p align="center"><font color="#EBEDEA" face="Arial" size="2"><b>Topics</b></font></p>
</td>
<td align="center" bgcolor="#424B3C" width="15%">
<p align="center"><font color="#EBEDEA" face="Arial" size="2"><b>Posts</b></font></p>
</td>
</center>
<td align="center" bgcolor="#424B3C" width="20%">
<p align="left"><font color="#EBEDEA" face="Arial" size="2"><b>Updated</b></font></p>
</td>
</tr>
</table>
</div>

<!-- BEGIN forumrow -->
<!-- IF not forumrow.S_IS_CAT -->
<div align="center">
<table border="0" cellspacing="0" width="100%">
<tr>
<td bgcolor="<!-- IF forumrow.S_ROW_COUNT is odd -->#424B3C<!-- ELSE -->#4C5844<!-- ENDIF -->" width="50%">
<p align="left"><font face="Arial" size="2"><b><a href="{forumrow.U_VIEWFORUM}">{forumrow.FORUM_NAME}</a><br/>
</b><!-- IF forumrow.FORUM_DESC -->{forumrow.FORUM_DESC}<!-- ENDIF --> </font></p>
</td>
<center>
<td align="center" bgcolor="<!-- IF forumrow.S_ROW_COUNT is odd -->#424B3C<!-- ELSE -->#4C5844<!-- ENDIF -->" width="15%">
<p align="center"><font face="Arial" size="2">{forumrow.TOPICS}</font></p>
</td>
<td align="center" bgcolor="<!-- IF forumrow.S_ROW_COUNT is odd -->#424B3C<!-- ELSE -->#4C5844<!-- ENDIF -->" width="15%">
<p align="center"><font face="Arial" size="2">{forumrow.POSTS}</font></p>
</td>
</center>
<td align="center" bgcolor="<!-- IF forumrow.S_ROW_COUNT is odd -->#424B3C<!-- ELSE -->#4C5844<!-- ENDIF -->" width="20%">
<p align="left"><font face="Arial" size="2"><!-- IF forumrow.LAST_POST_TIME -->{forumrow.LAST_POST_TIME}<br/><font size="1">Last Visit: <!-- IF S_USER_LOGGED_IN -->{LAST_VISIT_DATE}<!-- ELSE -->Never<!-- ENDIF --></font><!-- ELSE -->No Posts<br/><font size="1">Last Visit: Never</font><!-- ENDIF --></font></p></td>
</tr>
</table>
</div>
<!-- ENDIF -->
<!-- END forumrow -->

<!-- INCLUDE overall_footer.html -->