                <!-- Bottom Links and Donation -->
                <p align="center">
                    <font size="2">
                        <b><a href="#" class="donation-link">Please Donate to Chatbear!</a></b> - 
                        1 second(s) - 
                        <a href="#" class="terms-link">Terms and Conditions</a>.
                    </font>
                </p>
                
            </td>
        </tr>
        </table>
    </td>
    <td width="14">&nbsp;</td>
</tr>
</table>

<!-- Page Bottom -->
<img border="0" height="43" src="{T_THEME_PATH}/images/Page-Bottom.gif" width="675" class="page-bottom" />

<!-- Valve Footer -->
<div align="center">
<center>
<table bgcolor="#C0C0C0" border="0" cellpadding="0" cellspacing="0" class="valve-footer">
<tr height="29">
    <td colspan="2" height="29" width="288"></td>
    <td align="left" height="29" valign="top">
        <p align="center">
            <img border="0" height="29" src="{T_THEME_PATH}/images/Bottom-VALVE1.gif" width="81" class="valve-logo" />
        </p>
    </td>
    <td colspan="2" height="29" width="306"></td>
    <td height="29" width="1"></td>
</tr>
<tr height="19">
    <td height="19" width="132"></td>
    <td align="left" colspan="3" height="19" valign="top" width="463">
        <map name="BottomLinks">
            <area coords="6,3,40,15" href="{U_INDEX}" shape="rect" />
            <area coords="44,4,76,15" href="#" shape="rect" />
            <area coords="88,3,167,14" href="#" shape="rect" />
            <area coords="178,5,219,16" href="#" shape="rect" />
            <area coords="234,4,312,15" href="#" shape="rect" />
            <area coords="319,4,346,15" href="{U_FAQ}" shape="rect" />
            <area coords="355,5,401,16" href="mailto:steamsupport@valvesoftware.com" shape="rect" />
        </map>
        <img border="0" height="19" src="{T_THEME_PATH}/images/Bottom-Links.gif" usemap="#BottomLinks" width="412" class="footer-links" />
    </td>
    <td height="19" width="83"></td>
    <td height="19" width="1"></td>
</tr>
<tr>
    <td align="left" colspan="5" valign="top" width="100%">
        <p align="center">
            <img border="0" height="28" src="{T_THEME_PATH}/images/Bottom-COPY1.gif" width="678" class="footer-copyright" />
        </p>
    </td>
    <td width="1"></td>
</tr>
</table>
</center>
</div>

</td>
</tr>
</table>

<!-- IF DEBUG_OUTPUT --><br /><br /><div align="center"><span class="gensmall">{DEBUG_OUTPUT}</span></div><!-- ENDIF -->

<div id="page-footer" style="text-align: center; margin-top: 10px; font-size: 10px; color: #666;">
    Powered by <a href="https://www.phpbb.com/" style="color: #666;">phpBB</a>&reg; Forum Software &copy; phpBB Limited<br />
    Chatbear theme &copy; 2002 Valve Corporation
</div>

</body>
</html>