<!-- INCLUDE ucp_header.html -->

<!-- Personal Preferences Form -->
<form id="ucp" method="post" action="{S_UCP_ACTION}">

<table cellpadding="0" cellspacing="0" border="0" width="100%">
<tr>
    <td>
        <table cellpadding="3" cellspacing="1" border="0" width="100%">
        <tr bgcolor="#424B3C">
            <td colspan="2">
                <font face="verdana,arial,helvetica" size="1" color="#D8DED3"><b>{L_TITLE}</b></font>
            </td>
        </tr>

        <!-- IF ERROR -->
        <tr bgcolor="#4C5844">
            <td colspan="2">
                <font face="verdana,arial,helvetica" size="2" color="#FF6600"><b>{ERROR}</b></font>
            </td>
        </tr>
        <!-- ENDIF -->

        <tr bgcolor="#4C5844">
            <td width="30%">
                <font face="verdana,arial,helvetica" size="2">{L_BOARD_LANGUAGE}:</font>
            </td>
            <td width="70%">
                <select name="lang" class="bginput">{S_LANG_OPTIONS}</select>
            </td>
        </tr>
        <tr bgcolor="#545F4E">
            <td width="30%">
                <font face="verdana,arial,helvetica" size="2">{L_BOARD_STYLE}:</font>
            </td>
            <td width="70%">
                <select name="style" class="bginput">{S_STYLE_OPTIONS}</select>
            </td>
        </tr>
        <tr bgcolor="#4C5844">
            <td width="30%">
                <font face="verdana,arial,helvetica" size="2">{L_TIMEZONE}:</font>
            </td>
            <td width="70%">
                <select name="tz" class="bginput">{S_TZ_OPTIONS}</select>
            </td>
        </tr>
        <tr bgcolor="#545F4E">
            <td width="30%">
                <font face="verdana,arial,helvetica" size="2">{L_DATE_FORMAT}:</font><br />
                <font face="verdana,arial,helvetica" size="1">{L_DATE_FORMAT_EXPLAIN}</font>
            </td>
            <td width="70%">
                <input type="text" name="dateformat" value="{DATE_FORMAT}" class="bginput" size="30" maxlength="30" />
            </td>
        </tr>
        </table>

        <br />
        <table cellpadding="3" cellspacing="0" border="0" width="100%">
        <tr>
            <td align="center">
                {S_HIDDEN_FIELDS}
                <input type="submit" name="submit" value="{L_SUBMIT}" class="bginput" />
                {S_FORM_TOKEN}
            </td>
        </tr>
        </table>
    </td>
</tr>
</table>

</form>

<!-- INCLUDE ucp_footer.html -->
