<!-- INCLUDE ucp_header.html -->

<!-- View Preferences Form -->
<form id="ucp" method="post" action="{S_UCP_ACTION}">

<table cellpadding="0" cellspacing="0" border="0" width="100%">
<tr>
    <td>
        <table cellpadding="3" cellspacing="1" border="0" width="100%">
        <tr bgcolor="#424B3C">
            <td colspan="2">
                <font face="verdana,arial,helvetica" size="1" color="#D8DED3"><b>{L_TITLE}</b></font>
            </td>
        </tr>

        <tr bgcolor="#4C5844">
            <td width="30%">
                <font face="verdana,arial,helvetica" size="2">{L_VIEW_IMAGES}:</font>
            </td>
            <td width="70%">
                <input type="radio" name="viewimg" value="1"<!-- IF S_VIEW_IMAGES --> checked="checked"<!-- ENDIF --> /> <font face="verdana,arial,helvetica" size="2">{L_YES}</font>
                <input type="radio" name="viewimg" value="0"<!-- IF not S_VIEW_IMAGES --> checked="checked"<!-- ENDIF --> /> <font face="verdana,arial,helvetica" size="2">{L_NO}</font>
            </td>
        </tr>
        <tr bgcolor="#545F4E">
            <td width="30%">
                <font face="verdana,arial,helvetica" size="2">{L_VIEW_FLASH}:</font>
            </td>
            <td width="70%">
                <input type="radio" name="viewflash" value="1"<!-- IF S_VIEW_FLASH --> checked="checked"<!-- ENDIF --> /> <font face="verdana,arial,helvetica" size="2">{L_YES}</font>
                <input type="radio" name="viewflash" value="0"<!-- IF not S_VIEW_FLASH --> checked="checked"<!-- ENDIF --> /> <font face="verdana,arial,helvetica" size="2">{L_NO}</font>
            </td>
        </tr>
        <tr bgcolor="#4C5844">
            <td width="30%">
                <font face="verdana,arial,helvetica" size="2">{L_VIEW_SMILIES}:</font>
            </td>
            <td width="70%">
                <input type="radio" name="viewsmilies" value="1"<!-- IF S_VIEW_SMILIES --> checked="checked"<!-- ENDIF --> /> <font face="verdana,arial,helvetica" size="2">{L_YES}</font>
                <input type="radio" name="viewsmilies" value="0"<!-- IF not S_VIEW_SMILIES --> checked="checked"<!-- ENDIF --> /> <font face="verdana,arial,helvetica" size="2">{L_NO}</font>
            </td>
        </tr>
        <tr bgcolor="#545F4E">
            <td width="30%">
                <font face="verdana,arial,helvetica" size="2">{L_VIEW_SIGS}:</font>
            </td>
            <td width="70%">
                <input type="radio" name="viewsigs" value="1"<!-- IF S_VIEW_SIGS --> checked="checked"<!-- ENDIF --> /> <font face="verdana,arial,helvetica" size="2">{L_YES}</font>
                <input type="radio" name="viewsigs" value="0"<!-- IF not S_VIEW_SIGS --> checked="checked"<!-- ENDIF --> /> <font face="verdana,arial,helvetica" size="2">{L_NO}</font>
            </td>
        </tr>
        <tr bgcolor="#4C5844">
            <td width="30%">
                <font face="verdana,arial,helvetica" size="2">{L_VIEW_AVATARS}:</font>
            </td>
            <td width="70%">
                <input type="radio" name="viewavatars" value="1"<!-- IF S_VIEW_AVATARS --> checked="checked"<!-- ENDIF --> /> <font face="verdana,arial,helvetica" size="2">{L_YES}</font>
                <input type="radio" name="viewavatars" value="0"<!-- IF not S_VIEW_AVATARS --> checked="checked"<!-- ENDIF --> /> <font face="verdana,arial,helvetica" size="2">{L_NO}</font>
            </td>
        </tr>
        <tr bgcolor="#545F4E">
            <td width="30%">
                <font face="verdana,arial,helvetica" size="2">{L_VIEW_WORDCENSOR}:</font>
            </td>
            <td width="70%">
                <input type="radio" name="viewcensors" value="1"<!-- IF S_VIEW_CENSORS --> checked="checked"<!-- ENDIF --> /> <font face="verdana,arial,helvetica" size="2">{L_YES}</font>
                <input type="radio" name="viewcensors" value="0"<!-- IF not S_VIEW_CENSORS --> checked="checked"<!-- ENDIF --> /> <font face="verdana,arial,helvetica" size="2">{L_NO}</font>
            </td>
        </tr>
        </table>

        <br />
        <table cellpadding="3" cellspacing="0" border="0" width="100%">
        <tr>
            <td align="center">
                {S_HIDDEN_FIELDS}
                <input type="submit" name="submit" value="{L_SUBMIT}" class="bginput" />
                {S_FORM_TOKEN}
            </td>
        </tr>
        </table>
    </td>
</tr>
</table>

</form>

<!-- INCLUDE ucp_footer.html -->
