<!-- INCLUDE overall_header.html -->

<!-- Password Reset Form -->
<table cellpadding="0" cellspacing="0" border="0" bgcolor="#3E4637" width="100%" align="center">
<tr>
    <td>
        <table cellpadding="4" cellspacing="1" border="0" width="100%">
        <tr>
            <td bgcolor="#3E4637" colspan="2" align="center">
                <font face="verdana,arial,helvetica" size="1" color="#D8DED3"><b>{L_RESET_PASSWORD}</b></font>
            </td>
        </tr>
        <tr>
            <td bgcolor="#545F4E" colspan="2">
                <form action="{U_RESET_PASSWORD_ACTION}" method="post" id="reset_password">

                <!-- IF S_IS_PASSWORD_RESET -->
                <!-- Password Reset - New Password Entry -->
                <!-- IF PASSWORD_RESET_ERRORS -->
                <table cellpadding="3" cellspacing="0" border="0" width="100%">
                <tr>
                    <td bgcolor="#424B3C" align="center">
                        <font face="verdana,arial,helvetica" size="2" color="#FF6600"><b>{PASSWORD_RESET_ERRORS}</b></font>
                    </td>
                </tr>
                </table>
                <br />
                <!-- ENDIF -->

                <table cellpadding="3" cellspacing="1" border="0" width="100%">
                <tr bgcolor="#424B3C">
                    <td colspan="2">
                        <font face="verdana,arial,helvetica" size="1" color="#D8DED3"><b>{L_CHANGE_PASSWORD}</b></font>
                    </td>
                </tr>
                <tr bgcolor="#4C5844">
                    <td width="30%">
                        <font face="verdana,arial,helvetica" size="2">{L_NEW_PASSWORD}:</font><br />
                        <font face="verdana,arial,helvetica" size="1">{L_CHANGE_PASSWORD_EXPLAIN}</font>
                    </td>
                    <td width="70%">
                        <input class="bginput" type="password" name="new_password" id="new_password" size="25" maxlength="255" />
                    </td>
                </tr>
                <tr bgcolor="#545F4E">
                    <td width="30%">
                        <font face="verdana,arial,helvetica" size="2">{L_CONFIRM_PASSWORD}:</font>
                    </td>
                    <td width="70%">
                        <input class="bginput" type="password" name="new_password_confirm" id="new_password_confirm" size="25" maxlength="255" />
                    </td>
                </tr>
                </table>

                <!-- ELSE -->
                <!-- Password Reset - Email Entry -->
                <font face="verdana,arial,helvetica" size="2">
                    {L_EMAIL_REMIND}
                </font>
                <br /><br />

                <!-- IF USERNAME_REQUIRED -->
                <table cellpadding="3" cellspacing="0" border="0" width="100%">
                <tr>
                    <td bgcolor="#424B3C" align="center">
                        <font face="verdana,arial,helvetica" size="2" color="#FF6600"><b>{L_EMAIL_NOT_UNIQUE}</b></font>
                    </td>
                </tr>
                </table>
                <br />
                <!-- ENDIF -->

                <table cellpadding="3" cellspacing="1" border="0" width="100%">
                <tr bgcolor="#424B3C">
                    <td colspan="2">
                        <font face="verdana,arial,helvetica" size="1" color="#D8DED3"><b>{L_SEND_PASSWORD}</b></font>
                    </td>
                </tr>
                <tr bgcolor="#4C5844">
                    <td width="30%">
                        <font face="verdana,arial,helvetica" size="2">{L_EMAIL_ADDRESS}:</font>
                    </td>
                    <td width="70%">
                        <input class="bginput" type="email" name="email" id="email" size="25" maxlength="100" value="{EMAIL}" />
                    </td>
                </tr>
                <!-- IF USERNAME_REQUIRED -->
                <tr bgcolor="#545F4E">
                    <td width="30%">
                        <font face="verdana,arial,helvetica" size="2">{L_USERNAME}:</font>
                    </td>
                    <td width="70%">
                        <input class="bginput" type="text" name="username" id="username" size="25" />
                    </td>
                </tr>
                <!-- ENDIF -->
                </table>
                <!-- ENDIF -->

                <br />
                <table cellpadding="3" cellspacing="0" border="0" width="100%">
                <tr>
                    <td align="center">
                        {S_HIDDEN_FIELDS}
                        <input type="submit" name="submit" id="submit" class="bginput" value="{L_SUBMIT}" />
                        {S_FORM_TOKEN}
                    </td>
                </tr>
                </table>

                </form>
            </td>
        </tr>
        </table>
    </td>
</tr>
</table>

<!-- INCLUDE overall_footer.html -->
