/* CSS Document */

div#main.quiltbg {
	background-image: url(../images/v5/about/bg_quilt.jpg);
	background-position: center top;
	background-repeat: repeat-x;
}


#main_content {
	position: relative;
}

#about_header_area {
	height: 542px;
}

#about_monitor_ctn {
	position: absolute;
	left: -144px;
	top: 108px;
}

#about_monitor_right {
	padding-top: 38px;
	position: relative;
}

#about_monitor_right .block_content {
	color: #626366;
	line-height: 21px;
}

#about_install_steam_block {
	margin-bottom: 18px;
}

#about_install_steam {
	background-image: url( ../images/v5/about/btn_download.png );
	width: 276px;
	height: 68px;
	
	margin-left: auto;
	margin-right: auto;
}

#about_install_steam a#about_install_steam_link {
	display: block;
	line-height: 42px;
	
	margin: 2px auto;
	padding-left: 42px;
	
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
	text-shadow: #547726 -1px -1px 0px;
}

a#about_install_steam_link:hover {
	text-decoration: none;
}

#about_install_steam_desc {
	line-height: 25px;
	padding: 0px 9px;
	color: #B0AEAC;
}

#about_monitor_right #sys_reqs {
	color: #b0aeac;
}


.about_features h4 {
	margin-top: 24px;
}

.about_features h3 {
	margin-top: 32px;
	font-size: 18px;
	font-weight: normal;
}

.about_features p {
	margin-top: 8px;
	color: #898A8C;
	line-height: 23px;
	font-size: 14px;
}

.about_features p.actionline {
	font-size: 12px;
}

.about_features a {
	color: #557dab;
	text-decoration: underline;
}

.about_rule {
	height: 1px;
	background-image: url( ../images/v5/maincol_gradient_rule.png );
	background-align: top left;
	background-repeat: no-repeat;
	margin: 16px 0px;
}

img.about_features_img_left {
	float: left;
	margin-right: 18px;
}

img.about_features_img_right {
	float: right;
	margin-left: 18px;
}


/* mac beta welcome page */


#mac_banner {
	background-image: url( ../images/v5/about/HiMacBanner.png );
	width: 940px;
	height: 195px;
}

#mac_banner_content {
	padding-top: 57px;
	padding-left: 18px;
	color: #000000;	
}

#mac_banner_content h1 {
	margin-bottom: 8px;
}

#mac_banner_content p {
	line-height: 18px;
	color: #3C3D3E;
	font-size: 14px;
}

#mac_store_info p {
	margin-top: 12px;
}

#mac_portal_callout {
	background-image: url( ../images/v5/about/MacBeta_Portal.jpg );
	width: 276px;
	height: 209px;
}

#mac_portal_callout_content {
	padding-top: 112px;
	color: #FFFFFF;
	width: 247px;
	margin: 0px auto;
}

a.mac_portal_btn {
	display: block;
	background-image: url( ../images/v5/about/MacBeta_PortalBtn.png );
	margin: 0px auto;
	width: 247px;
	height: 41px;
	margin-bottom: 8px;
}
/*
     FILE ARCHIVED ON 00:38:01 Oct 03, 2010 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 17:39:39 Nov 15, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 1.179
  exclusion.robots: 0.05
  exclusion.robots.policy: 0.015
  esindex: 0.024
  cdx.remote: 36.379
  LoadShardBlock: 936.034 (3)
  PetaboxLoader3.datanode: 947.64 (4)
  load_resource: 249.602
  PetaboxLoader3.resolve: 192.565
*/