BODY {
background:#666666;
margin:4px 0px 0px 0px;
padding:0px;
color:white;
font-family:verdana, tahoma, helvetica, arial;
font-size:9pt;
line-height:14pt;
}

IMG {
margin:0px;
border:none;
}

IMG.screenshot {
width:188px;
height:110px;
margin:12px 6px 12px 6px;
border-width:4px;
border-color:black;
border-style:solid;
}

HR	{
height:1px;
color:#555555;
}

H1	{
font-size:16pt;
}

H2 {
padding-top:8px;
font-size:13px;
font-family:arial, tahoma, verdana;

width:650px;
line-height:20px;
margin:2px 0px 4px 0px;
\\background:#AAA71A;
text-transform:uppercase;
\\letter-spacing:0.1em;
}

UL {
margin:0px 0px 0px 0px;
list-style-type:square;
margin-right:40px;
}

.header {
padding:0px 0px 0px 12px;
height:148px;
background:black;
background-image:url(img/cz_logo_bg.gif);
background-repeat:repeat-x;
background-position:top left;
}

.shots {
background:#555555;
width:640px;
text-align:center;
}
.content {
margin:0px 24px 0px 32px;
}

.arrow {
float:left;
\\width:400px;
background:#444444;
padding:8px 0px 8px 32px;
margin:28px -4px 0px 0px;
}

.footnote {
color:#999999;
font-size:9px;
line-height:11px;
text-transform:uppercase;
width:650px;
}

.violator {
font-size:14pt;
font-weight:bold;
line-height:28px;
text-decoration:none;
}

A:visited {
	color: #D8DED3; text-decoration:underline;
	}

A:link {
	color: #D8DED3; text-decoration:underline;
	}

A:hover {
	color: #ffffff; text-decoration:underline;
	}

A:active {
	color: #ffffff; text-decoration:underline;
	}
