<!-- INCLUDE overall_header.html -->

<!-- Breadcrumb -->
<table cellpadding="2" cellspacing="0" border="0" width="100%" align="center">
<tr>
    <td><img src="{T_THEME_PATH}/images/vb_bullet.gif" border="0" align="middle" alt="" />
    <font face="verdana, arial, helvetica" size="2"><b><a href="{U_INDEX}">{SITENAME}</a></b> &gt; <b>{L_FAQ_TITLE}</b></font></td>
</tr>
</table>
<br />

<!-- FAQ Index - Table of Contents -->
<!-- BEGIN faq_block -->
<table cellpadding="0" cellspacing="0" border="0" bgcolor="#282E22" width="100%" align="center"><tr><td>
<table class="vb-grid" cellpadding="4" cellspacing="1" border="0" width="100%">
    <tr id="cat">
        <td bgcolor="#3E4637">
            <font face="verdana, arial, helvetica" size="2" color="#C4B550"><b><a href="#faq_block_{faq_block.S_ROW_COUNT}" style="color:#C4B550;">{faq_block.BLOCK_TITLE}</a></b></font>
        </td>
    </tr>
    <tr>
        <td bgcolor="#3E4637">
            <font face="verdana, arial, helvetica" size="1">
            <ul>
            <!-- BEGIN faq_row -->
                <li><a href="#faq_{faq_block.S_ROW_COUNT}_{faq_block.faq_row.S_ROW_COUNT}"><font color="#A0AA95">{faq_block.faq_row.FAQ_QUESTION}</font></a></li>
            <!-- END faq_row -->
            </ul>
            </font>
        </td>
    </tr>
</table>
</td></tr></table>
<br />
<!-- END faq_block -->

<!-- FAQ Answers -->
<!-- BEGIN faq_block -->
<a name="faq_block_{faq_block.S_ROW_COUNT}"></a>
<table cellpadding="0" cellspacing="0" border="0" bgcolor="#282E22" width="100%" align="center"><tr><td>
<table class="vb-grid" cellpadding="4" cellspacing="1" border="0" width="100%">
    <tr id="cat">
        <td bgcolor="#3E4637">
            <font face="verdana, arial, helvetica" size="2" color="#C4B550"><b>{faq_block.BLOCK_TITLE}</b></font>
        </td>
    </tr>
    <!-- BEGIN faq_row -->
    <tr>
        <td bgcolor="#3E4637">
            <a name="faq_{faq_block.S_ROW_COUNT}_{faq_block.faq_row.S_ROW_COUNT}"></a>
            <font face="verdana, arial, helvetica" size="2" color="#D8DED3"><b>{faq_block.faq_row.FAQ_QUESTION}</b></font>
        </td>
    </tr>
    <tr>
        <td bgcolor="#3E4637">
            <font face="verdana, arial, helvetica" size="2">{faq_block.faq_row.FAQ_ANSWER}</font>
            <br /><br />
        </td>
    </tr>
    <!-- END faq_row -->
</table>
</td></tr></table>
<br />
<!-- END faq_block -->

<!-- INCLUDE overall_footer.html -->