<!-- INCLUDE overall_header.html -->

<!-- Main Forum Index -->
<table cellpadding="0" cellspacing="0" border="0" bgcolor="#282E22" width="100%" align="center"><tr><td>
<table class="vb-grid" cellpadding="4" cellspacing="1" border="0" width="100%">
        <tr align="center">
            <td bgcolor="#3E4637"><font face="verdana,arial,helvetica" size="1">&nbsp;</font></td>
            <td bgcolor="#3E4637" width="80%" align="left">
                <font face="verdana,arial,helvetica" size="1" color="#D8DED3"><b>Forum</b></font>
            </td>
            <td bgcolor="#3E4637">
                <font face="verdana,arial,helvetica" size="1" color="#D8DED3"><b>Posts</b></font>
            </td>
            <td bgcolor="#3E4637">
                <font face="verdana,arial,helvetica" size="1" color="#D8DED3"><b>Threads</b></font>
            </td>
            <td bgcolor="#3E4637" nowrap="nowrap">
                <font face="verdana,arial,helvetica" size="1" color="#D8DED3"><b>Last Post</b></font>
            </td>
            <td bgcolor="#3E4637" width="20%">
                <font face="verdana,arial,helvetica" size="1" color="#D8DED3"><b>Moderator</b></font>
            </td>
        </tr>

        <!-- BEGIN forumrow -->
        <!-- IF forumrow.S_IS_CAT -->
        <tr id="cat">
            <td bgcolor="#3E4637" colspan="6">
                <a href="{forumrow.U_VIEWFORUM}">
                    <font face="verdana, arial, helvetica" size="2" color="#C4B550"><b>{forumrow.FORUM_NAME}</b></font>
                </a>
                <!-- IF forumrow.FORUM_DESC -->
                <br /><font face="verdana,arial,helvetica" size="1" color="#C4B550">{forumrow.FORUM_DESC}</font>
                <!-- ENDIF -->
            </td>
        </tr>
        <!-- ELSE -->
        <tr align="center">
            <td bgcolor="#3E4637" valign="top">
                <img src="{T_THEME_PATH}/images/<!-- IF forumrow.S_LOCKED -->offlock<!-- ELSEIF forumrow.S_UNREAD -->on<!-- ELSE -->off<!-- ENDIF -->.gif" border="0" alt="{forumrow.FORUM_FOLDER_IMG_ALT}" />
            </td>
            <td bgcolor="#3E4637" align="left">
                <a href="{forumrow.U_VIEWFORUM}">
                    <font face="verdana, arial, helvetica" size="2"><b>{forumrow.FORUM_NAME}</b></font>
                </a>
                <!-- IF forumrow.FORUM_DESC -->
                <br /><font face="verdana,arial,helvetica" size="1">{forumrow.FORUM_DESC}</font>
                <!-- ENDIF -->
            </td>
            <td bgcolor="#3E4637">
                <font face="verdana, arial, helvetica" size="2">{forumrow.POSTS}</font>
            </td>
            <td bgcolor="#3E4637">
                <font face="verdana, arial, helvetica" size="2">{forumrow.TOPICS}</font>
            </td>
            <td bgcolor="#3E4637">
                <font face="verdana,arial,helvetica" size="1">
                <!-- IF forumrow.LAST_POST_TIME -->
                    <table cellpadding="0" cellspacing="0" border="0" id="ltlink" width="100%">
                    <tr align="right">
                        <td nowrap="nowrap">
                            <font face="verdana,arial,helvetica" size="1">
                            {forumrow.LAST_POST_TIME} <font color="#D8DED3"></font>
                            <!-- IF forumrow.LAST_POSTER -->
                            <br />by <a href="{forumrow.U_LAST_POSTER}"><b>{forumrow.LAST_POSTER}</b></a>
                            <!-- ENDIF -->
                            </font>
                        </td>
                        <td nowrap="nowrap">
                            &nbsp;<a href="{forumrow.U_LAST_POST}">
                                <img src="{T_THEME_PATH}/images/lastpost.gif" border="0" alt="Go to last post" />
                            </a>
                        </td>
                    </tr>
                    </table>
                <!-- ELSE -->
                    <font color="#D8DED3">{L_NO_POSTS}</font>
                <!-- ENDIF -->
                </font>
            </td>
            <td bgcolor="#3E4637">
                <font face="verdana,arial,helvetica" size="1">
                <!-- IF forumrow.MODERATORS -->
                    {forumrow.MODERATORS}
                <!-- ELSE -->
                    <a href="{U_TEAM}">Forum Staff</a>
                <!-- ENDIF -->
                </font>
            </td>
        </tr>
        <!-- ENDIF -->
        <!-- END forumrow -->

        </table>
</td></tr></table>

<!-- INCLUDE overall_footer.html -->
