<!-- INCLUDE overall_header.html -->

<!-- breadcrumb, nav links -->
<table cellpadding="2" cellspacing="0" border="0" width="100%" align="center">
<tr>
	<td><img src="{T_THEME_PATH}/images/vb_bullet.gif" border="0" align="middle" alt="Steam Users Forums : Powered by vBulletin version 2.3.3">
<font face="verdana, arial, helvetica" size="2"><b><a href="{U_INDEX}">Steam Users Forums</a>
<!-- BEGIN navlinks -->
 &gt; <a href="{navlinks.U_VIEW_FORUM}">{navlinks.FORUM_NAME}</a>
<!-- END navlinks -->
 &gt; {TOPIC_TITLE}</b></font></td>

</tr>
</table>
<!-- /breadcrumb, nav links -->

<a name="posttop"></a>

<!-- End content area table (CREATED IN HEADER!!) -->
	</td>
</tr>
</table>

<!-- spacer -->
<table bgcolor="#4C5844" width="95%" cellpadding="0" cellspacing="0" border="0">
<tr><td width="10"><img width="10" height="1" src="{T_THEME_PATH}/images/space.gif" alt=""></td><td width="100%">
<!-- /spacer -->

<!-- pagination and next/prev -->
<table cellpadding="2" cellspacing="0" border="0" width="100%" align="center">
<tr>
	<td><font face="verdana,arial,helvetica" size="1"><!-- IF PAGINATION -->Pages ({PAGE_NUMBER}): {PAGINATION}<!-- ENDIF --> &nbsp;</font></td>
	<td align="right"><font face="verdana,arial,helvetica" size="1">
	<img src="{T_THEME_PATH}/images/prev.gif" alt="" border="0">
	<a href="{U_INDEX}">Last Thread</a>
	&nbsp;
	<a href="{U_INDEX}">Next Thread</a>
	<img src="{T_THEME_PATH}/images/next.gif" alt="" border="0">
	</font></td>
</tr>
</table>
<!-- /pagination and next/prev -->

<!-- Author/Thread header bar -->
<table cellpadding="0" cellspacing="0" border="0" bgcolor="#282E22" width="100%" align="center"><tr><td>
<table class="vb-grid" cellpadding="4" cellspacing="1" border="0" width="100%">
<tr>
	<td bgcolor="#3E4637" width="175" nowrap><font face="verdana,arial,helvetica" size="1" color="#D8DED3" class="thtcolor"><b>Author</b></font></td>
	<td bgcolor="#3E4637" width="100%">
	<!-- Thread nav and post images -->
	<table width="100%" border="0" cellpadding="0" cellspacing="0">
	<tr>
		<td width="100%"><font face="verdana,arial,helvetica" size="1" color="#D8DED3" class="thtcolor"><b>Thread</b></font></td>
		<td><a href="{U_POST_NEW_TOPIC}"><img src="{T_THEME_PATH}/images/newthread.gif" border="0" alt="Post New Thread"></a></td>
		<td><font face="verdana, arial, helvetica" size="2">&nbsp;&nbsp;</font></td>
		<td><a href="{U_POST_REPLY_TOPIC}"><img src="{T_THEME_PATH}/images/reply.gif" border="0" alt="Post A Reply"></a></td>
	</tr>
	</table>
	<!-- /Thread nav and post images -->
	</td>
</tr>
</table>
</td></tr></table>
<!-- /Author/Thread header bar -->

<!-- /spacer -->
</td><td width="10"><img width="10" height="1" src="{T_THEME_PATH}/images/space.gif" alt=""></td></tr></table>
<!-- /spacer -->

<!-- BEGIN postrow -->
<table bgcolor="#4C5844" width="95%" cellpadding="0" cellspacing="0" border="0"><tr><td width="10"><img width="10" height="1" src="{T_THEME_PATH}/images/space.gif" alt=""></td><td width="100%"><!-- spacer -->

<table cellpadding="0" cellspacing="0" border="0" bgcolor="#282E22" width="100%" align="center"><tr><td>
<table class="vb-grid" cellpadding="4" cellspacing="1" border="0" width="100%">
<tr>
	<td bgcolor="#3E4637" width="175" valign="top" nowrap>
	<a name="p{postrow.POST_ID}"></a>

	<font face="verdana, arial, helvetica" size="2"><b>{postrow.POST_AUTHOR}</b></font><br>
	<font face="verdana,arial,helvetica" size="1"><!-- IF postrow.RANK_TITLE -->{postrow.RANK_TITLE}<!-- ENDIF --></font><br>
	<p>
	<font face="verdana,arial,helvetica" size="1">Registered: <!-- IF postrow.POSTER_JOINED -->{postrow.POSTER_JOINED}<!-- ENDIF --><br>
	Location: <!-- IF postrow.POSTER_FROM -->{postrow.POSTER_FROM}<!-- ENDIF --><br>
	Posts: <!-- IF postrow.POSTER_POSTS -->{postrow.POSTER_POSTS}<!-- ENDIF --></font></p></td>

	<td bgcolor="#3E4637" width="100%" valign="top">
	<font face="verdana,arial,helvetica" size="1"> <b>{postrow.POST_SUBJECT}</b></font>
	<p><font face="verdana, arial, helvetica" size="2">{postrow.MESSAGE}</font></p>

	<!-- IF postrow.S_HAS_ATTACHMENTS -->
	<!-- BEGIN attachment -->
	<p><font face="verdana, arial, helvetica" size="2"><img src="{T_THEME_PATH}/images/{postrow.attachment.ATTACH_ICON}" width="16" height="16" border="0" alt="">Attachment: <a href="{postrow.attachment.U_DOWNLOAD_LINK}" target="_blank">{postrow.attachment.REAL_FILENAME}</a></font><br>
	<font face="verdana,arial,helvetica" size="1">This has been downloaded {postrow.attachment.DOWNLOAD_COUNT} time(s).</font></p>
	<!-- END attachment -->
	<!-- ENDIF -->

	<p></p>
	<p></p>
	<p align="right"><font face="verdana,arial,helvetica" size="1"><a href="{postrow.U_REPORT}">Report this post to a moderator</a> | IP: <a href="{postrow.U_INFO}">Logged</a></font></p>
	</td>
</tr>
<tr>
	<td bgcolor="#3E4637" width="175" height="16" nowrap><font face="verdana,arial,helvetica" size="1"><img src="{T_THEME_PATH}/images/posticon.gif" border="0" alt="Old Post">
	{postrow.POST_DATE} <font color="#D8DED3">{postrow.POST_TIME}</font></font></td>

	<td bgcolor="#3E4637" width="100%" valign="middle" height="16">
		<table width="100%" border="0" cellpadding="0" cellspacing="0">
		<tr valign="bottom">
			<td><font face="verdana,arial,helvetica" size="1"><!-- IF postrow.S_ONLINE --><img src="{T_THEME_PATH}/images/on.gif" border="0" alt="{postrow.POST_AUTHOR} is online" align="absmiddle"><!-- ELSE --><img src="{T_THEME_PATH}/images/off.gif" border="0" alt="{postrow.POST_AUTHOR} is offline" align="absmiddle"><!-- ENDIF -->
			<!-- IF postrow.U_POST_AUTHOR --><a href="{postrow.U_POST_AUTHOR}" target="_blank"><img src="{T_THEME_PATH}/images/profile.gif" border="0" alt="Click Here to See the Profile for {postrow.POST_AUTHOR}"></a><!-- ENDIF -->
			<!-- IF postrow.U_PM --><a href="{postrow.U_PM}"><img src="{T_THEME_PATH}/images/sendpm.gif" border="0" alt="Click here to Send {postrow.POST_AUTHOR} a Private Message"></a><!-- ENDIF -->
			<!-- IF postrow.U_SEARCH --><a href="{postrow.U_SEARCH}"><img src="{T_THEME_PATH}/images/find.gif" border="0" alt="Find more posts by {postrow.POST_AUTHOR}"></a><!-- ENDIF -->
			<!-- IF postrow.U_BUDDY_ADD --><a href="{postrow.U_BUDDY_ADD}"><img src="{T_THEME_PATH}/images/buddy.gif" border="0" alt="Add {postrow.POST_AUTHOR} to your buddy list"></a><!-- ENDIF -->
			<!-- IF postrow.ICQ_STATUS_IMG -->{postrow.ICQ_STATUS_IMG}<!-- ENDIF -->
			<!-- IF postrow.U_AIM --><a href="{postrow.U_AIM}"><img src="{T_THEME_PATH}/images/aim.gif" border="0" alt="AIM"></a><!-- ENDIF -->
			<!-- IF postrow.U_YIM --><a href="{postrow.U_YIM}"><img src="{T_THEME_PATH}/images/yahoo.gif" border="0" alt="Yahoo"></a><!-- ENDIF -->
			</font></td>
			<td align="right" nowrap><font face="verdana,arial,helvetica" size="1">
			<!-- IF postrow.U_EDIT --><a href="{postrow.U_EDIT}"><img src="{T_THEME_PATH}/images/edit.gif" border="0" alt="Edit/Delete Message"></a><!-- ENDIF -->
			<!-- IF postrow.U_QUOTE --><a href="{postrow.U_QUOTE}"><img src="{T_THEME_PATH}/images/quote.gif" border="0" alt="Reply w/Quote"></a><!-- ENDIF -->
			</font></td>
		</tr>
		</table>
	</td>
</tr>
</table>
</td></tr></table>

<!-- spacer --></td><td width="10"><img width="10" height="1" src="{T_THEME_PATH}/images/space.gif" alt=""></td></tr></table>
<!-- END postrow -->

<!-- Bottom timezone/buttons bar -->
<table bgcolor="#4C5844" width="95%" cellpadding="0" cellspacing="0" border="0">
<tr><td width="10"><img width="10" height="1" src="{T_THEME_PATH}/images/space.gif" alt=""></td><td width="100%">
<!-- spacer -->

<table cellpadding="0" cellspacing="0" border="0" bgcolor="#282E22" width="100%" align="center"><tr><td>
<table class="vb-grid" cellpadding="4" cellspacing="1" border="0" width="100%">
<tr>
	<td bgcolor="#3E4637" width="100%">
	<!-- time zone and post buttons -->
	<table border="0" cellspacing="0" cellpadding="0" bgcolor="#3E4637" width="100%">
	<tr>
		<td width="100%"><font face="verdana,arial,helvetica" size="1" color="#D8DED3"><b>{L_TIMEZONE}: {S_TIMEZONE}. {CURRENT_TIME}</b></font></td>
		<td><a href="{U_POST_NEW_TOPIC}"><img src="{T_THEME_PATH}/images/newthread.gif" border="0" alt="Post New Thread"></a></td>
		<td><font face="verdana, arial, helvetica" size="2">&nbsp;&nbsp;</font></td>
		<td><a href="{U_POST_REPLY_TOPIC}"><img src="{T_THEME_PATH}/images/reply.gif" border="0" alt="Post A Reply"></a></td>
	</tr>
	</table>
	<!-- /time zone and post buttons -->
	</td>
</tr>
</table>
</td></tr></table>

<!-- bottom pagination and next/prev -->
<table cellpadding="2" cellspacing="0" border="0" width="100%" align="center">
<tr>
	<td><font face="verdana,arial,helvetica" size="1"><!-- IF PAGINATION -->Pages ({PAGE_NUMBER}): {PAGINATION}<!-- ENDIF -->&nbsp;</font></td>
	<td align="right"><font face="verdana,arial,helvetica" size="1">
	<img src="{T_THEME_PATH}/images/prev.gif" alt="" border="0">
	<a href="{U_INDEX}">Last Thread</a>
	&nbsp;
	<a href="{U_INDEX}">Next Thread</a>
	<img src="{T_THEME_PATH}/images/next.gif" alt="" border="0">
	</font></td>
</tr>
</table>
<!-- /bottom pagination and next/prev -->

<!-- /spacer -->
</td><td width="10"><img width="10" height="1" src="{T_THEME_PATH}/images/space.gif" alt=""></td></tr></table>
<!-- /spacer -->

<!-- Restart content table for thread options and forum rules -->
<table cellpadding="10" cellspacing="0" border="0" width="95%" bgcolor="#4C5844" align="center">
<tr>
    <td>

<!-- thread options links -->
<table cellpadding="0" cellspacing="0" border="0" bgcolor="#282E22" align="center"><tr><td>
<table class="vb-grid" cellpadding="4" cellspacing="1" border="0" width="100%">
<tr>
	<td bgcolor="#3E4637" align="center"><font face="verdana,arial,helvetica" size="1">
	<!-- IF U_PRINT_TOPIC --><img src="{T_THEME_PATH}/images/printer.gif" alt="" border="0" align="absmiddle">
	<a href="{U_PRINT_TOPIC}">Show Printable Version</a> |<!-- ENDIF -->
	<!-- IF U_EMAIL_TOPIC --><img src="{T_THEME_PATH}/images/sendtofriend.gif" alt="" border="0" align="absmiddle">
	<a href="{U_EMAIL_TOPIC}">Email this Page</a> |<!-- ENDIF -->
	<!-- IF U_WATCH_TOPIC --><img src="{T_THEME_PATH}/images/subscribe.gif" alt="" border="0" align="absmiddle">
	<a href="{U_WATCH_TOPIC}">Subscribe to this Thread</a><!-- ENDIF -->
	</font></td>
</tr>
</table>
</td></tr></table>
<!-- /thread options links -->

<br>

<!-- forum rules -->
<table cellpadding="2" cellspacing="0" border="0" width="100%" align="center">
<tr valign="bottom">
	<td><font face="verdana,arial,helvetica" size="1"><b>Forum Rules:</b><table cellpadding="0" cellspacing="0" border="0" bgcolor="#282E22"><tr><td>
<table class="vb-grid" cellpadding="4" cellspacing="1" border="0">
<tr>
	<td bgcolor="#3E4637"><font face="verdana,arial,helvetica" size="1">
		You <b>may not</b> post new threads<br>
		You <b>may not</b> post replies<br>
		You <b>may not</b> post attachments<br>
		You <b>may not</b> edit your posts
	</font></td>
	<td bgcolor="#3E4637"><font face="verdana,arial,helvetica" size="1">
		HTML code is <b>OFF</b><br>
		<a href="{U_FAQ}">vB code</a> is <b>ON</b><br>
		<a href="{U_FAQ}">Smilies</a> are <b>ON</b><br>
		<a href="{U_FAQ}">[IMG]</a> code is <b>OFF</b>
	</font></td>
</tr>
</table>
</td></tr></table></font></td>
	<td align="right">
	&nbsp;
	</td>
</tr>
</table>
<!-- /forum rules -->

<!-- INCLUDE overall_footer.html -->
