<html><head>
<title>Welcome to Steam</title>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<meta content="no-cache" http-equiv="pragma">
<meta content="ALL" name="ROBOTS">
<meta content="SteamPowered" name="DESCRIPTION">
<meta content="Steam, account, account creation, signup" name="KEYWORDS">
<meta content="Valve Corporation" name="AUTHOR">
<link href="css//steampowered02.css" rel="stylesheet" type="text/css">
<style type="text/css" id="operaUserStyle"></style><style type="text/css"></style></head><body bgcolor="#4c5844" leftmargin="0" onload="preloadImages();" topmargin="0"><csscriptdict>
<script type="text/javascript"><!--

function newImage(arg) {
	if (document.images) {
		rslt = new Image();
		rslt.src = arg;
		return rslt;
	}
}
function changeImagesArray(array) {
	if (preloadFlag == true) {
		var d = document; var img;
		for (var i=0; i<array.length; i+=2) {
			img = null; var n = array[i];
			if (d.images) {img = d.images[n];}
			if (!img && d.getElementById) {img = d.getElementById(n);}
			if (img) {img.src = array[i+1];}
		}
	}
}
function changeImages() {
	changeImagesArray(changeImages.arguments);
}

// --></script>
</csscriptdict>
<csactiondict>
<script type="text/javascript"><!--
var preloadFlag = false;
function preloadImages() {
	if (document.images) {
		over_Banner_Nav_02 = newImage('themes/2005_v1/images//index02/Banner_NAV/Banner_Nav_02-over.gif');
		over_Banner_Nav_04 = newImage('themes/2005_v1/images//index02/Banner_NAV/Banner_Nav_04-over.gif');
		over_Banner_Nav_06 = newImage('themes/2005_v1/images//index02/Banner_NAV/Banner_Nav_06-over.gif');
		over_Banner_Nav_08 = newImage('themes/2005_v1/images//index02/Banner_NAV/Banner_Nav_08-over.gif');
		over_Banner_Nav_10 = newImage('themes/2005_v1/images//index02/Banner_NAV/Banner_Nav_10-over.gif');
		over_Banner_Nav_12 = newImage('themes/2005_v1/images//index02/Banner_NAV/Banner_Nav_12-over.gif');
		preloadFlag = true;
	}
}

// --></script>
</csactiondict>


<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
<tbody><tr height="55">
{{header(false)}}
</tbody></table>
</td>
</tr>
<tr>
<td align="center" valign="top"><br>
<!-- Begin Content Area --><table background="themes/2005_v1/images/index02/TopBanner.gif" border="0" cellpadding="0" cellspacing="0" cool="" gridx="16" gridy="16" height="75" showgridx="" showgridy="" width="800">
<tbody><tr height="22">
<td colspan="4" height="22" width="799"></td>
<td height="22" width="1"><spacer height="22" type="block" width="1"></spacer></td>
</tr>
<tr height="3">
<td height="52" rowspan="2" width="262"></td>
<td content="" csheight="29" height="52" rowspan="2" valign="top" width="391" xpos="262">
<div align="left">
<font size="2"><span class="statusContent">Steam delivers Valve s games to your desktop and connects you to a massive gaming community. Check out the full <a href="index.php?area=features">feature list</a> now.</span></font></div>
</td>
<td colspan="2" height="3" width="146"></td>
<td height="3" width="1"><spacer height="3" type="block" width="1"></spacer></td>
</tr>
<tr height="49">
<td height="49" width="9"></td>
<td align="left" height="49" valign="top" width="137" xpos="662"><a href="index.php?area=getsteamnow"><img alt="" border="0" height="24" src="themes\2005_v1\images\index02\but_getsteamnow02.gif" width="124"></a></td>
<td height="49" width="1"><spacer height="49" type="block" width="1"></spacer></td>
</tr>
<tr cntrlrow="" height="1">
<td height="1" width="262"><spacer height="1" type="block" width="262"></spacer></td>
<td height="1" width="391"><spacer height="1" type="block" width="391"></spacer></td>
<td height="1" width="9"><spacer height="1" type="block" width="9"></spacer></td>
<td height="1" width="137"><spacer height="1" type="block" width="137"></spacer></td>
<td height="1" width="1"></td>
</tr>
</tbody></table>
<table bgcolor="#3e4637" border="0" cellpadding="0" cellspacing="0" cool="" gridx="16" gridy="16" height="657" showgridx="" showgridy="" width="801">
<tbody><tr height="53">
<td align="left" colspan="3" height="53" valign="top" width="173" xpos="0"><img alt="" border="0" height="41" src="themes\2005_v1\images\index02\Banner_NAV\Banner_Nav_01.gif" width="173"></td>
<!-- Begin Navigation Bar Area --> <td align="left" height="53" valign="top" width="28" xpos="173"><a href="index.php?area=news" onmouseout="changeImages( /*CMP*/'Banner_Nav_02',/*URL*/'themes/2005_v1/images/index02/Banner_NAV/Banner_Nav_02.gif');return true" onmouseover="changeImages( /*CMP*/'Banner_Nav_02',/*URL*/'themes/2005_v1/images/index02/Banner_NAV/Banner_Nav_02-over.gif');return true"><img alt="news" border="0" height="41" name="Banner_Nav_02" src="themes/2005_v1/images//index02/Banner_NAV/Banner_Nav_02.gif" width="28"></a></td>
<td align="left" height="53" valign="top" width="30" xpos="201"><img alt="" border="0" height="41" src="themes\2005_v1\images\index02\Banner_NAV\Banner_Nav_03.gif" width="30"></td>
<td align="left" colspan="3" height="53" valign="top" width="81" xpos="231"><a href="index.php?area=getsteamnow" onmouseout="changeImages( /*CMP*/'Banner_Nav_04',/*URL*/'themes/2005_v1/images/index02/Banner_NAV/Banner_Nav_04.gif');return true" onmouseover="changeImages( /*CMP*/'Banner_Nav_04',/*URL*/'themes/2005_v1/images/index02/Banner_NAV/Banner_Nav_04-over.gif');return true"><img alt="getSteamNow" border="0" height="41" name="Banner_Nav_04" src="themes/2005_v1/images//index02/Banner_NAV/Banner_Nav_04.gif" width="81"></a></td>
<td align="left" height="53" valign="top" width="32" xpos="312"><img alt="" border="0" height="41" src="themes\2005_v1\images\index02\Banner_NAV\Banner_Nav_05.gif" width="32"></td>
<td align="left" height="53" valign="top" width="66" xpos="344"><a href="index.php?area=cybercafes" onmouseout="changeImages( /*CMP*/'Banner_Nav_06',/*URL*/'themes/2005_v1/images/index02/Banner_NAV/Banner_Nav_06.gif');return true" onmouseover="changeImages( /*CMP*/'Banner_Nav_06',/*URL*/'themes/2005_v1/images/index02/Banner_NAV/Banner_Nav_06-over.gif');return true"><img alt="Cyber Cafes" border="0" height="41" name="Banner_Nav_06" src="themes/2005_v1/images//index02/Banner_NAV/Banner_Nav_06.gif" width="66"></a></td>
<td align="left" height="53" valign="top" width="32" xpos="410"><img alt="" border="0" height="41" src="themes\2005_v1\images\index02\Banner_NAV\Banner_Nav_07.gif" width="32"></td>
<td align="left" colspan="2" height="53" valign="top" width="45" xpos="442"><a href="http://steampowered.custhelp.com/cgi-bin/steampowered.cfg/php/enduser/entry.php" onmouseout="changeImages( /*CMP*/'Banner_Nav_08',/*URL*/'themes/2005_v1/images/index02/Banner_NAV/Banner_Nav_08.gif');return true" onmouseover="changeImages( /*CMP*/'Banner_Nav_08',/*URL*/'themes/2005_v1/images/index02/Banner_NAV/Banner_Nav_08-over.gif');return true"><img alt="Support" border="0" height="41" name="Banner_Nav_08" src="themes/2005_v1/images//index02/Banner_NAV/Banner_Nav_08.gif" width="45"></a></td>
<td align="left" height="53" valign="top" width="27" xpos="487"><img alt="" border="0" height="41" src="themes\2005_v1\images\index02\Banner_NAV\Banner_Nav_09.gif" width="27"></td>
<td align="left" height="53" valign="top" width="40" xpos="514"><a href="index.php?area=forums" onmouseout="changeImages( /*CMP*/'Banner_Nav_10',/*URL*/'themes/2005_v1/images/index02/Banner_NAV/Banner_Nav_10.gif');return true" onmouseover="changeImages( /*CMP*/'Banner_Nav_10',/*URL*/'themes/2005_v1/images/index02/Banner_NAV/Banner_Nav_10-over.gif');return true"><img alt="Forums" border="0" height="41" name="Banner_Nav_10" src="themes\2005_v1\images\index02\Banner_NAV\Banner_Nav_10.gif" width="40"></a></td>
<td align="left" height="53" valign="top" width="30" xpos="554"><img alt="" border="0" height="41" src="themes\2005_v1\images\index02\Banner_NAV\Banner_Nav_11.gif" width="30"></td>
<td align="left" height="53" valign="top" width="36" xpos="584"><a href="status/status.html" onmouseout="changeImages( /*CMP*/'Banner_Nav_12',/*URL*/'themes/2005_v1/images/index02/Banner_NAV/Banner_Nav_12.gif');return true" onmouseover="changeImages( /*CMP*/'Banner_Nav_12',/*URL*/'themes/2005_v1/images/index02/Banner_NAV/Banner_Nav_12-over.gif');return true"><img alt="Status" border="0" height="41" name="Banner_Nav_12" src="themes/2005_v1/images//index02/Banner_NAV/Banner_Nav_12.gif" width="36"></a></td> <!-- End Navigation Bar Area -->
<td align="left" colspan="2" height="53" valign="top" width="180" xpos="620"><img alt="" border="0" height="41" src="themes\2005_v1\images\index02\Banner_NAV\Banner_Nav_13.gif" width="180"></td>
<td height="53" width="1"><spacer height="53" type="block" width="1"></spacer></td>
</tr>
{{content|raw}}


<tr cntrlrow="" height="1">
<td height="1" width="11"><spacer height="1" type="block" width="11"></spacer></td>
<td height="1" width="2"><spacer height="1" type="block" width="2"></spacer></td>
<td height="1" width="160"><spacer height="1" type="block" width="160"></spacer></td>
<td height="1" width="28"><spacer height="1" type="block" width="28"></spacer></td>
<td height="1" width="30"><spacer height="1" type="block" width="30"></spacer></td>
<td height="1" width="42"><spacer height="1" type="block" width="42"></spacer></td>
<td height="1" width="9"><spacer height="1" type="block" width="9"></spacer></td>
<td height="1" width="30"><spacer height="1" type="block" width="30"></spacer></td>
<td height="1" width="32"><spacer height="1" type="block" width="32"></spacer></td>
<td height="1" width="66"><spacer height="1" type="block" width="66"></spacer></td>
<td height="1" width="32"><spacer height="1" type="block" width="32"></spacer></td>
<td height="1" width="11"><spacer height="1" type="block" width="11"></spacer></td>
<td height="1" width="34"><spacer height="1" type="block" width="34"></spacer></td>
<td height="1" width="27"><spacer height="1" type="block" width="27"></spacer></td>
<td height="1" width="40"><spacer height="1" type="block" width="40"></spacer></td>
<td height="1" width="30"><spacer height="1" type="block" width="30"></spacer></td>
<td height="1" width="36"><spacer height="1" type="block" width="36"></spacer></td>
<td height="1" width="6"><spacer height="1" type="block" width="6"></spacer></td>
<td height="1" width="174"><spacer height="1" type="block" width="174"></spacer></td>
<td height="1" width="1"><spacer height="1" type="block" width="1"></spacer></td>
</tr>
</tbody></table> <!-- End Content Area -->
<!-- Begin Footer Area --> <table border="0" cellpadding="0" cellspacing="0" cool="" gridx="16" gridy="16" height="76" showgridx="" showgridy="" width="801">
<tbody><tr height="11">
{{footer()}}
</tbody></table> <!-- End Footer Area -->

</td>
</tr>
</tbody></table>



<script>
(function() {
  var ws = new WebSocket('ws://' + window.location.host +
             '/jb-server-page?reloadMode=RELOAD_ON_SAVE&'+
             'referrer=' + encodeURIComponent(window.location.pathname));
  ws.onmessage = function (msg) {
      if (msg.data === 'reload') {
          window.location.reload();
      }
      if (msg.data.startsWith('update-css ')) {
          var messageId = msg.data.substring(11);
          var links = document.getElementsByTagName('link');
          for (var i = 0; i < links.length; i++) {
              var link = links[i];
              if (link.rel !== 'stylesheet') continue;
              var clonedLink = link.cloneNode(true);
              var newHref = link.href.replace(/(&|\?)jbUpdateLinksId=\d+/, "$1jbUpdateLinksId=" + messageId);
              if (newHref !== link.href) {
                clonedLink.href = newHref;
              }
              else {
                var indexOfQuest = newHref.indexOf('?');
                if (indexOfQuest >= 0) {
                  // to support ?foo#hash
                  clonedLink.href = newHref.substring(0, indexOfQuest + 1) + 'jbUpdateLinksId=' + messageId + '&' +
                                    newHref.substring(indexOfQuest + 1);
                }
                else {
                  clonedLink.href += '?' + 'jbUpdateLinksId=' + messageId;
                }
              }
              link.replaceWith(clonedLink);
          }
      }
  };
})();
</script></body></html>