<html><head>
<title>Welcome to Steam</title>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<meta content="no-cache" http-equiv="pragma">
<meta content="ALL" name="ROBOTS">
<meta content="SteamPowered" name="DESCRIPTION">
<meta content="Steam, account, account creation, signup" name="KEYWORDS">
<meta content="Valve Corporation" name="AUTHOR">
<link href="steampowered.css" rel="stylesheet" type="text/css">
<style type="text/css" id="operaUserStyle"></style></head><body bgcolor="#4c5844" leftmargin="0" onload="preloadImages();" topmargin="0"><csscriptdict>
<script type="text/javascript"><!--

function newImage(arg) {
	if (document.images) {
		rslt = new Image();
		rslt.src = arg;
		return rslt;
	}
}
function changeImagesArray(array) {
	if (preloadFlag == true) {
		var d = document; var img;
		for (var i=0; i<array.length; i+=2) {
			img = null; var n = array[i];
			if (d.images) {img = d.images[n];}
			if (!img && d.getElementById) {img = d.getElementById(n);}
			if (img) {img.src = array[i+1];}
		}
	}
}
function changeImages() {
	changeImagesArray(changeImages.arguments);
}

// --></script>
</csscriptdict>
<csactiondict>
<script type="text/javascript"><!--
var preloadFlag = false;
function preloadImages() {
	if (document.images) {
		over_Banner_Nav_02 = newImage('Banner_NAV/Banner_Nav_02-over.gif');
		over_Banner_Nav_04 = newImage('Banner_NAV/Banner_Nav_04-over.gif');
		over_Banner_Nav_06 = newImage('Banner_NAV/Banner_Nav_06-over.gif');
		over_Banner_Nav_08 = newImage('Banner_NAV/Banner_Nav_08-over.gif');
		over_Banner_Nav_10 = newImage('Banner_NAV/Banner_Nav_10-over.gif');
		over_Banner_Nav_12 = newImage('Banner_NAV/Banner_Nav_12-over.gif');
		preloadFlag = true;
	}
}

// --></script>
</csactiondict>


<table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
<tbody>
    {{header(withButtons=false)}}
<tr>
<td align="center" valign="top"><br>
<!-- Begin Content Area -->
{{content}}
<!-- End Content Area -->
<!-- Begin Footer Area --> <table border="0" cellpadding="0" cellspacing="0" cool="" gridx="16" gridy="16" height="76" showgridx="" showgridy="" width="801">
<tbody><tr height="11">
<td height="11" width="800"></td>
<td height="11" width="1"><spacer height="11" type="block" width="1"></spacer></td>
</tr>
<tr height="64">
<td content="" csheight="64" height="64" valign="top" width="800" xpos="0">
<span class="footerfix">
{{footer()}}
</span></td>
<td height="64" width="1"><spacer height="64" type="block" width="1"></spacer></td>
</tr>
<tr cntrlrow="" height="1">
<td height="1" width="800"><spacer height="1" type="block" width="800"></spacer></td>
<td height="1" width="1"></td>
</tr>
</tbody></table> <!-- End Footer Area -->

</td>
</tr>
</tbody></table>



</body></html>