        <!-- END MAIN CONTENT AREA -->

        <!-- Footer Information -->
        <div class="footer-info">
            <p><strong><a href="#">Please Donate to Steam Forums!</a></strong> -
            <!-- IF DEBUG_OUTPUT -->{DEBUG_OUTPUT}<!-- ENDIF --> -
            <a href="{U_TERMS_USE}">Terms and Conditions</a>.</p>
        </div>

    </div> <!-- end main-content -->
    <div class="spacer-right">&nbsp;</div>
</div> <!-- end chatbear-container -->

<!-- Steam Footer (matching archived page structure) -->
<div class="steam-footer">
    <img src="{T_THEME_PATH}/images/page-bottom.gif" width="675" height="43" border="0" alt="" />

    <div class="steam-footer-content">
        <table cellpadding="0" cellspacing="0" width="679" class="footer-table">
        <tr>
            <td colspan="2" width="288">&nbsp;</td>
            <td width="81" align="center">
                <img src="{T_THEME_PATH}/images/bottom-valve.gif" width="81" height="29" border="0" alt="Valve" />
            </td>
            <td colspan="2" width="306">&nbsp;</td>
        </tr>
        <tr>
            <td width="132">&nbsp;</td>
            <td colspan="3" width="463" align="center">
                <img src="{T_THEME_PATH}/images/bottom-links.gif" width="412" height="19" border="0" alt="Navigation Links" usemap="#bottom-links" />
                <map name="bottom-links">
                    <area shape="rect" coords="6,3,40,15" href="{U_INDEX}" alt="Home" />
                    <area shape="rect" coords="44,4,76,15" href="#" alt="News" />
                    <area shape="rect" coords="88,3,167,14" href="#" alt="Games" />
                    <area shape="rect" coords="178,5,219,16" href="#" alt="Support" />
                    <area shape="rect" coords="234,4,312,15" href="#" alt="Forums" />
                    <area shape="rect" coords="319,4,346,15" href="#" alt="FAQ" />
                    <area shape="rect" coords="355,5,401,16" href="mailto:steamsupport@valvesoftware.com" alt="Contact" />
                </map>
            </td>
            <td width="83">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="5" align="center">
                <img src="{T_THEME_PATH}/images/bottom-copy.gif" width="678" height="28" border="0" alt="Copyright Valve Corporation" />
            </td>
        </tr>
        </table>
    </div>
</div>

</body>
</html>