<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="{S_CONTENT_DIRECTION}" lang="{S_USER_LANG}" xml:lang="{S_USER_LANG}">
<head>
<meta http-equiv="content-type" content="text/html; charset={S_CONTENT_ENCODING}" />
<meta http-equiv="content-language" content="{S_USER_LANG}" />
<meta http-equiv="content-style-type" content="text/css" />
<meta http-equiv="imagetoolbar" content="no" />
<meta name="resource-type" content="document" />
<meta name="distribution" content="global" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<title><!-- IF S_IN_UCP -->{L_UCP} - <!-- ENDIF --><!-- IF S_IN_MCP -->{L_MCP} - <!-- ENDIF -->{SITENAME} - {PAGE_TITLE}</title>

<link rel="stylesheet" href="{T_THEME_PATH}/stylesheet.css" type="text/css" />
<!-- IF S_CONTENT_DIRECTION eq 'rtl' -->
<link rel="stylesheet" href="{T_THEME_PATH}/stylesheet_rtl.css" type="text/css" />
<!-- ENDIF -->

<script type="text/javascript">
// <![CDATA[
// Steam 2002 JavaScript functions (matching archived page)
function MM_preloadImages() {
    var d = document;
    if (d.images) {
        if (!d.MM_p) d.MM_p = new Array();
        var i, j = d.MM_p.length, a = MM_preloadImages.arguments;
        for (i = 0; i < a.length; i++)
            if (a[i].indexOf("#") != 0) {
                d.MM_p[j] = new Image;
                d.MM_p[j++].src = a[i];
            }
    }
}
// ]]>
</script>

<!-- IF S_ENABLE_FEEDS -->
<!-- IF S_ENABLE_FEEDS_OVERALL --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {SITENAME}" href="{U_FEED}" /><!-- ENDIF -->
<!-- IF S_ENABLE_FEEDS_NEWS --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FORUM_MAP}" href="{U_NEWS_FEED}" /><!-- ENDIF -->
<!-- IF S_ENABLE_FEEDS_FORUMS --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_ALL_FORUMS}" href="{U_ALL_FORUMS_FEED}" /><!-- ENDIF -->
<!-- IF S_ENABLE_FEEDS_TOPICS --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_ALL_TOPICS}" href="{U_ALL_TOPICS_FEED}" /><!-- ENDIF -->
<!-- IF S_ENABLE_FEEDS_FORUM and S_FORUM_ID --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_FORUM} - {FORUM_NAME}" href="{U_FORUM_FEED}" /><!-- ENDIF -->
<!-- IF S_ENABLE_FEEDS_TOPIC and S_TOPIC_ID --><link rel="alternate" type="application/atom+xml" title="{L_FEED} - {L_TOPIC} - {TOPIC_TITLE}" href="{U_TOPIC_FEED}" /><!-- ENDIF -->
<!-- ENDIF -->

</head>

<body class="chatbear-2002">

<!-- ChatBear Advertisement (matching archived page) -->
<div class="chatbear-ad">
    <img src="{T_THEME_PATH}/images/chatbearad.gif" width="468" height="60" alt="Steam Forums" border="0" />
</div>

<!-- Steam Header Recreation (exact match to archived page) -->
<div class="steam-header">
    <div class="steam-logo"></div>
    <div class="steam-navigation">
        <div class="steam-nav-tabs">
            <div class="nav-tab nav-home">
                <a href="{U_INDEX}">
                    <img src="{T_THEME_PATH}/images/tabs-home.gif" alt="Home" border="0" />
                </a>
            </div>
            <div class="nav-tab nav-news">
                <img src="{T_THEME_PATH}/images/tabs-news.gif" alt="News" border="0" />
            </div>
            <div class="nav-tab nav-games">
                <img src="{T_THEME_PATH}/images/tabs-games.gif" alt="Games" border="0" />
            </div>
            <div class="nav-tab nav-support">
                <img src="{T_THEME_PATH}/images/tabs-support.gif" alt="Support" border="0" />
            </div>
            <div class="nav-tab nav-messageboard active">
                <img src="{T_THEME_PATH}/images/tabs-messageboard.gif" alt="Message Board" border="0" />
            </div>
            <div class="nav-tab nav-faq">
                <img src="{T_THEME_PATH}/images/tabs-faq.gif" alt="FAQ" border="0" />
            </div>
        </div>
    </div>
</div>

<!-- Main Container (651px matching archived page) -->
<div class="chatbear-container">
    <div class="main-content">

        <!-- User Options Bar (matching #3C4770 background) -->
        <div class="user-options">
            <table cellpadding="3" cellspacing="0" width="100%">
            <tr>
                <td width="50%">
                    <!-- IF not S_USER_LOGGED_IN -->
                    <a href="{U_REGISTER}">Signup</a> :
                    <a href="{U_SENDPASSWORD}">Forgotten Password</a> :
                    <a href="{U_LOGIN_LOGOUT}">Login</a>
                    <!-- ELSE -->
                    <a href="{U_PROFILE}">Options</a> :
                    <a href="{U_LOGIN_LOGOUT}">Logout</a>
                    <!-- ENDIF -->
                </td>
                <td width="50%" align="right">
                    <!-- IF S_USER_LOGGED_IN -->
                    You have <strong>{S_USER_NEW_PRIVMSG}</strong> <a href="{U_PRIVATEMSGS}">Private Messages</a>
                    <!-- ELSE -->
                    You have ? <a href="{U_LOGIN}">Private Messages</a>
                    <!-- ENDIF -->
                </td>
            </tr>
            </table>
        </div>

<!-- BEGIN MAIN CONTENT AREA -->