* { padding: 0px; margin: 0px;}

body {
	font-size: 62.5%;
	background-color: #4C5844;
	margin: 0px;
	padding: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	text-align: left;
}
/* this is a fix to get IE and FF to intrepret padding in a consistent manner */
/*
DIV {
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	margin:0;
	padding:0;
}
*/
.legal {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #626366;
	padding-left: 25px;
	padding-right: 15px;
	text-align: left;
}
.legal a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #999999;
	text-decoration: underline;
}
.legal a:hover {
	color: #FFFFFF;
}
/* ============================================================== */
.globalHeadBar
{
	background:#000000;
	margin: 0px;
	width: 80%;
	padding-top: 30px;
	padding-bottom: 9px;
	float: left;
}
.globalHeadBar_logo {
	background:#000000;
	margin: 0px;
	width: 20%;
	padding-top: 4px;
	padding-bottom: 9px;
	float: left;
	
}
.globalNavItem {
	display:inline;
	vertical-align: top;
	margin-bottom: 0px;
}
.globalNavItem a {
	display:inline;
	margin-right: 15px;
	margin-left: 15px;
	padding-bottom: 9px;
	background-color: #000000;
	text-decoration:none;
	
}
.globalNavItem a:hover {
	background-color: #4C5844;
	text-decoration:none;
}
.globalNavLink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	color: #FFFFFF;
	letter-spacing: 1px;
	background-color: #000000;
	text-decoration: none;
	padding-top: 3px;
	padding-bottom: 3px;
}
/* ============================================================== */
hr {
	margin: 0px;
	padding: 0px;
}
h1 {
	letter-spacing: 2px;
	font-family: "Trebuchet MS", "Arial Narrow", HelveticaNeue-Thin, Helvetica-Light;
	font-size: 28px;
	font-weight: bold;
	color: #FFFFFF;
	line-height: 10px;
	text-align: left;
	padding: 0px;
	margin-left: 25px;
	margin-top: 10px;
	margin-bottom: 7px;
}
h3 {
	font-family: "Trebuchet MS", "Arial Narrow", HelveticaNeue-Thin, Helvetica-Light;
	font-size: 1.6em;
	font-weight: bold;
	text-transform: uppercase;
	color: #CCCCCC;
	letter-spacing: 1px;
	line-height: 1px;
	text-align: left;
	padding: 0px;
	margin-left: 15px;
	margin-top: 0px;
}
p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.1em;
	line-height: 1.4em;
	font-weight: normal;
	color: #C5CAB6;
	text-decoration: none;
	text-align: left;
	padding: 0px;
	margin: 10px 20px 15px 25px;
}
p a {
	color: #B6C5CA;
}
p a:hover {
	color: #6F9FC8;
}
select {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.1em;
	color: #000000;
	text-decoration: none;
	background-color: #e6e6e6;
	text-align: left;
	margin: 0px;
	padding: 0px;
	width: 200px;
}
.formArea {
	width: 295px;
	height: 15px;
	background-image: url('../images/btn_right_wd.jpg');
	margin: 0px;
	padding-left: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
}
form {
	margin: 0px;
	padding: 0px;
}
li {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.1em;
	color: #C5CAB6;
	padding: 5px 10px 0px 0px;
	list-style-type: square;
	list-style-position: outside;
	margin: 0px 0px 0px 30px;
}
.copyHead {
	font-weight: bold;
	color: #FFFFFF;
}
/* ============================================================== */
/* ============================================================== */
.menuBar {
	float: left;
	padding-left: 15px;
}
.menu_item {
	color: #FFFFFF;
	font-family: Verdana;
	font-size: 10px;
	font-weight: normal;
	height:15px;
	margin: 0px 15px 0px 0px;
	margin-top: 4px;
}
.menu_item a {	color: #FFFFFF; text-decoration: none;}
.menu_item a:hover {	color: #999999; text-decoration: none;}
/**/
.menu_item_pub {
	color: #666666;
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	line-height:16px;
	height:20px;
	margin-right: 15px;
}
A:link.menu_item_pub {	color: #666666;}
A:hover.menu_item_pub {	color: #e6e6e6;}
/**/
.menu_item_current {
	color: #8BC53F;
	font-family: Verdana;
	font-size: 10px;
	font-weight: normal;
	text-decoration: none;
	height:15px;
	margin-right: 15px;
	margin-top: 4px;
	background-attachment: scroll;
	background-image:  url('../images/ico/ico_arrow_green.gif');
	background-repeat: no-repeat;
	background-position: 0px 3px;
	padding-left: 6px;
}
.menu_item_current a {
	color: #8BC53F;
	text-decoration: none;
	padding-left: 6px;
}
.menu_item_current a:hover {
	color: #9b9b9b;
	text-decoration: none;
	padding-left: 6px;
}
.menu_spacer {
	width: 80%;
	height:2px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	margin-top: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #626366;
	padding: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
	text-align: left;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #424242;
	border-left-color: #424242;
}
