BODY {
	margin:0px 0px 0px 0px;
	font-family:"Courier New", Courier;
	font-size:10pt;
	background:white;
	font-weight:normal;
	color:#444444;
	scrollbar-face-color: #4C5844;
	scrollbar-shadow-color: #4C5844;
	scrollbar-highlight-color: #4C5844;
	scrollbar-3dlight-color: #818D7C;
	scrollbar-darkshadow-color: #1C261E;
	scrollbar-track-color: #5A6A50;
	scrollbar-arrow-color: #969F8E;
}
h1 {
	font-weight:bold;
	font-size:10pt;
	line-height:14pt;
	text-transform:uppercase;
	margin-bottom:16px;
}
TD {
}
A:visited      {	color: #610000;	text-decoration: underline;}
A:link         {	color: #610000;	text-decoration: underline;}
A:hover        { color: #FFFFFF; text-decoration: underline }
A:active       {	color: #610000;	text-decoration: underline;}
img	{
	border:0;
	}
HR {
	height:1px;
	color:gray;
}
UL	{
	font-family:tahoma, trebuchet ms, arial, helvetica, sans-serif;
	font-size:10pt;
	font-weight:normal;
	color:#D8DED3;
	line-height:16px;
	padding:0px 0 0px 0;
	margin: 8px 0px 8px 16px;
	list-style:image;
	list-style-image:url('img/square.gif');
	}
TH {
	border-style:solid;
	border-width:1px;
	border-color:#554444;
	border-top:0px;
	border-right:0px;
	border-left:0px;
}
SELECT {
	font-family:Courier New,Courier;
}
.PaperPage {
	width:860px;
	height:1080px;
	text-align:left;
	background: url('img/paper.jpg') no-repeat;
	}
.PaperMargin {
	padding:20px 56px 56px 30px;
}
.sectionTitle {
	font-family: "trebuchet ms", "arial narrow", "helvetica narrow";
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 1px;
	color: #000000;
}
.classTitle {
	font-family: "trebuchet ms", "arial narrow", "helvetica narrow";
	color: #000000;
	border: 2px solid #000000;
	font-size: 16px;
	font-weight: bold;
	padding-right: 10px;
	padding-left: 10px;
	letter-spacing: 1px;
}
.overviewLarge {
	font-family: "Courier New", Courier, mono;
	font-size: 12px;
	border: 1px solid #000000;
	width: 400px;
	padding: 5px;
	height: 420px;
}

.overviewSmall {
	font-family: "Courier New", Courier, mono;
	font-size: 12px;
	border: 1px solid #000000;
	width: 340px;
	padding: 5px;
	height: 196px;
}
.Numerals {
	list-style-type: upper-roman;
	text-align: left;
	list-style-position: outside;
}
.MapName {
	font-family: "trebuchet ms", "arial narrow", "helvetica narrow";
	font-size: 16px;
	color: #FFFFFF;
	padding: 2px 2px 2px 6px;
	font-weight: bold;
}
.AlliedTable {
	background-color: #4D5C31;
	color: #FFFFFF;
	padding-left: 2px;
}
.AxisTable {
	background-color: #9F3A22;
	color: #FFFFFF;
	padding-right: 2px;
	padding-left: 2px;
}
.accuracyTable {
	padding-top: 6px;
	padding-right: 1px;
	padding-bottom: 6px;
	padding-left: 1px;
	border: 1px solid #666666;
}
.classTable {
	height: 110px;
	width: 740px;
	border: 1px solid #000000;
	margin-top: 2px;
	margin-bottom: 2px;
	padding: 5px 15px;
	margin-right: 0px;
	margin-left: 0px;
}
.AverageTable {

	background-color: #878272;
	color: #FFFFFF;
	padding-right: 2px;
}
.accuracyTable2 {
	margin-top: 1px;
	border: 1px solid #000000;
}
.boldText {
	font-family: "Courier New", Courier, mono;
	font-size: 10pt;
	font-weight: bold;
	color: #444444;
	letter-spacing: 1px;
}
.accuracyTableDist {

	padding-top: 1px;
	padding-right: 1px;
	padding-bottom: 0px;
	padding-left: 1px;
	border: 1px solid #666666;
}
.formDrop {
	border: 1px solid #000000;
}
