        </div>

<p align="center"><font size="2"><b><a href="#">Please Donate to Chatbear!</a></b> - 1 second(s) - <a href="#">Terms and Conditions</a>.</font></p>
</td>
</tr>
</table>
<td width="14"> </td>
</td>
</tr>
</table>
<img border="0" height="43" src="{T_THEME_PATH}/images/Page-Bottom.gif" width="675"/>
<div align="center">
<center>
<table bgcolor="#C0C0C0" border="0" cellpadding="0" cellspacing="0" cool="" gridx="20" gridy="20" showgridx="" showgridy="" width="679">
<tr height="29">
<td colspan="2" height="29" width="288"><spacer height="29" type="block" width="288"/></td>
<td align="left" height="29" valign="top" xpos="288">
<p align="center"><img border="0" height="29" src="{T_THEME_PATH}/images/Bottom-VALVE1.gif" width="81"/></p>
</td>
<td colspan="2" height="29" width="306"><spacer height="29" type="block" width="306"/></td>
<td height="29" width="1"><spacer height="29" type="block" width="1"/></td>
</tr>
<tr height="19">
<td height="19" width="132"><spacer height="19" type="block" width="132"/></td>
<td align="left" colspan="3" height="19" valign="top" width="463" xpos="132">
<img border="0" height="19" src="{T_THEME_PATH}/images/Bottom-Links.gif" width="412"/>
</td>
<td height="19" width="83"><spacer height="19" type="block" width="83"/></td>
<td height="19" width="1"><spacer height="19" type="block" width="1"/></td>
</tr>
<tr>
<td align="left" colspan="5" valign="top" width="100%" xpos="0">
<p align="center"><img border="0" height="28" src="{T_THEME_PATH}/images/Bottom-COPY1.gif" width="678"/></p>
</td>
<td width="1"><spacer type="block" width="1"/></td>
</tr>
</table>
</center>
</div>

<p></p>
<p></p>

<!-- IF DEBUG_OUTPUT --><br /><br /><div align="center"><span class="gensmall">{DEBUG_OUTPUT}</span></div><!-- ENDIF -->

<div id="page-footer" style="text-align: center; margin-top: 10px; font-size: 10px; color: #969F8E;">
    Powered by <a href="https://www.phpbb.com/" style="color: #bfba50;">phpBB</a>&reg; Forum Software &copy; phpBB Limited<br />
    Steam Support Site theme &copy; 2002 Valve Corporation
</div>

</body>
</html>