        </div>
    </td>
</tr>
</table>

<br />

<!-- Footer -->
<table align="center" border="0" cellpadding="0" cellspacing="0" height="77" width="803" class="page-footer">
<tr height="2">
    <td colspan="4" height="2" width="802"></td>
    <td height="2" width="1"></td>
</tr>
<tr height="34">
    <td colspan="2" height="34" width="356"></td>
    <td align="left" height="34" valign="top" width="420">
        <img border="0" height="23" src="{T_THEME_PATH}/images/LOGO_Valve.01.gif" width="82" class="valve-logo-footer" />
    </td>
    <td height="74" rowspan="2" width="26"></td>
    <td height="34" width="1"></td>
</tr>
<tr height="40">
    <td height="40" width="24"></td>
    <td align="left" colspan="2" height="40" valign="top" width="752" class="footer-content">
        <div align="center">
            <p>
                <b><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2" class="footer-links">
                    <a href="{U_INDEX}">Home</a>
                </font></b> |
                <b><a href="#">Support</a></b> |
                <b><a href="{U_INDEX}">Forums</a></b> |
                <b><a href="#">Bugs</a></b> |
                <b><a href="#">Troubleshooting</a></b> |
                <b><a href="#">Contact</a></b>
                <br />
                <font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1" class="footer-copyright">
                    2001 Valve, L.L.C. All rights reserved. Steam, the Steam logo, Valve, and the Valve logo are trademarks and/or registered trademarks of Valve, L.L.C.
                </font>
                <br />
                <font size="2" class="chatbear-footer">
                    <b><a href="#">Please Donate to Chatbear!</a></b> - 0 second(s) - <a href="#">Terms and Conditions</a>.
                </font>
            </p>
        </div>
    </td>
    <td height="40" width="1"></td>
</tr>
</table>

<p></p>
<p></p>

<!-- IF DEBUG_OUTPUT --><br /><br /><div align="center"><span class="gensmall">{DEBUG_OUTPUT}</span></div><!-- ENDIF -->

<div id="page-footer" style="text-align: center; margin-top: 10px; font-size: 10px; color: #969F8E;">
    Powered by <a href="https://www.phpbb.com/" style="color: #bfba50;">phpBB</a>&reg; Forum Software &copy; phpBB Limited<br />
    Steam Support Site theme &copy; 2002 Valve Corporation
</div>

</body>
</html>