* { padding: 0px; margin: 0px;}

body {
	font-size: 62.5%;
	background-color: #4C5844;
	margin: 0px;
	padding: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	text-align: left;
}
.legal {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #626366;
	padding-left: 25px;
	padding-right: 15px;
	text-align: left;
}
.legal a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #999999;
	text-decoration: underline;
}
.legal a:hover {
	color: #FFFFFF;
}
.legal select {
	margin: 0px 0px 3px;
	padding: 0px;
	border: 1px solid #000000;
}

.headerBar {
	text-align:left;
	margin:0;
	padding:0;
	background-color:#111111;
	width:100%;
	color:#545454;
	font-family:tahoma, helvetica, arial, trebuchet ms, sans-serif;
	font-size:10px;
	margin-bottom:7px;
}

.headerBar p, .headerBar a {
	font-family:tahoma, helvetica, arial, trebuchet ms, sans-serif;
	font-size:10px;
}

a.headerLink,a.headerLink:active,a.headerLink:visited,a.headerLink:hover {
	text-decoration:none;
	color:#959595;
}

.headerBar p {
	margin-bottom:0;
	padding-bottom:0;
	margin:0;
	padding:0;
	margin-top:1px;
	margin-left:5px;
	line-height:1em;
}

.headerLinkActive {
	color:#cfcfcf;
	font-weight:bold;
}

.steamLogo {
	float:left;
	margin:0;
	padding:0;
	border:0;
	width:105px;
	height:54px;
}

.steamText {
	margin:0;
	padding:0;
	border:0;
	height:35px;
}

.steamText img, .steamLogo img {
	border:0;
}

.headerLinks {
	margin:0;
	padding:0;
	height:19px;
}

.headerLinks>p {
	padding-left:6px;
}

/* ============================================================== */
.globalHeadBar
{
	background:#000000;
	margin: 0px;
	width: 80%;
	padding-top: 30px;
	padding-bottom: 9px;
	float: left;
}
.globalHeadBar_logo {
	background:#000000;
	margin: 0px;
	width: 20%;
	padding-top: 4px;
	padding-bottom: 9px;
	float: left;
	
}
.globalNavItem {
	display:inline;
	vertical-align: top;
	margin-bottom: 0px;
}
.globalNavItem a {
	display:inline;
	margin-right: 15px;
	margin-left: 15px;
	padding-bottom: 9px;
	background-color: #000000;
	text-decoration:none;
	
}
.globalNavItem a:hover {
	background-color: #4C5844;
	text-decoration:none;
}
.globalNavLink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8px;
	color: #FFFFFF;
	letter-spacing: 1px;
	background-color: #000000;
	text-decoration: none;
	padding-top: 3px;
	padding-bottom: 3px;
}
/* ============================================================== */
hr {
	margin: 0px;
	padding: 0px;
}
h1 {
	letter-spacing: 2px;
	font-family: "Trebuchet MS", "Arial Narrow", HelveticaNeue-Thin, Helvetica-Light;
	font-size: 28px;
	font-weight: bold;
	color: #FFFFFF;
	line-height: 10px;
	text-align: left;
	padding: 0px;
	margin-left: 25px;
	margin-top: 10px;
	margin-bottom: 7px;
}
h3 {
	font-family: "Trebuchet MS", "Arial Narrow", HelveticaNeue-Thin, Helvetica-Light;
	font-size: 1.6em;
	font-weight: bold;
	text-transform: uppercase;
	color: #CCCCCC;
	letter-spacing: 1px;
	line-height: 1px;
	text-align: left;
	padding: 0px;
	margin-left: 15px;
	margin-top: 0px;
}
p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.1em;
	line-height: 1.4em;
	font-weight: normal;
	color: #C5CAB6;
	text-decoration: none;
	text-align: left;
	padding: 0px;
	margin: 10px 20px 15px 25px;
}
p a {
	color: #B6C5CA;
}
p a:hover {
	color: #6F9FC8;
}
select {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	text-decoration: none;
	background-color: #9C9EA0;
	border: 1px solid #000000;
	text-align: left;
	margin: 0px;
	padding: 2px;
	width: 200px;
}
input {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	background-color: #9C9EA0;
	border: 1px solid #000000;
	padding: 2px;
}
.formArea {
	width: 295px;
	height: 15px;
	background-image: url(../img/btn/btn_right_wd.jpg);
	margin: 0px;
	padding-left: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
}
form {
	margin: 0px;
	padding: 0px;
}
ul {
	margin: 0px;
	padding: 0px;
}
li {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1.1em;
	color: #C5CAB6;
	padding: 5px 10px 0px 0px;
	list-style-type: square;
	list-style-position: outside;
	margin: 0px 0px 0px 30px;
}
.copyHead {
	font-weight: bold;
	color: #FFFFFF;
}
/* ============================================================== */
/* ============================================================== */
.menuBar {
	float: left;
	padding-left: 15px;
}
.menu_item {
	color: #FFFFFF;
	font-family: Verdana;
	font-size: 10px;
	font-weight: normal;
	height:15px;
	margin: 0px 15px 0px 0px;
	margin-top: 4px;
}
.menu_item a {	color: #FFFFFF; text-decoration: none;}
.menu_item a:hover {	color: #999999; text-decoration: none;}
/**/
.menu_item_pub {
	color: #666666;
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	line-height:16px;
	height:20px;
	margin-right: 15px;
}
A:link.menu_item_pub {	color: #666666;}
A:hover.menu_item_pub {	color: #e6e6e6;}
/**/
.menu_item_current {
	color: #8BC53F;
	font-family: Verdana;
	font-size: 10px;
	font-weight: normal;
	text-decoration: none;
	height:15px;
	margin-right: 15px;
	margin-top: 4px;
	background-attachment: scroll;
	background-image:  url("../img/ico/ico_arrow_green.gif");
	background-repeat: no-repeat;
	background-position: 0px 3px;
	padding-left: 6px;
}
.menu_item_current a {
	color: #8BC53F;
	text-decoration: none;
	padding-left: 6px;
}
.menu_item_current a:hover {
	color: #9b9b9b;
	text-decoration: none;
	padding-left: 6px;
}
.menu_spacer {
	width: 80%;
	height:2px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	margin-top: 5px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #626366;
	padding: 0px;
	margin-right: 0px;
	margin-bottom: 5px;
	margin-left: 0px;
	text-align: left;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #424242;
	border-left-color: #424242;
}
/* =========================================== */
/* class for right-collumn collapsible headers */
.usr_edit_right_header {
	margin: 1px 0px 0px 0px;
	padding: 4px 10px 2px 15px !important;
	padding: 2px 10px 2px 15px;
	height: 16px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	color: #BBBDBF;
	letter-spacing: 1px;
	background-attachment: scroll;
	background-image: url(../img/header/img_rightHeader.gif);
	background-repeat: repeat-y;
	background-position: 0px 0px;
	clear:both;
	overflow: visible;
	line-height: 16px;
}
.usr_edit_right_control {
	float: right;
	display: inline;
}
/* =========================================== */
/* Right Collumn News Links*/
.rightLink_news_area {
	overflow: hidden;
	width: 310px;
	clear: both;
	padding-top: 5px;
}
/*
padding-top: 8px;	
background-image: url(img/home/ice/ice_right.jpg);
background-repeat: no-repeat;
*/
.rightLink_news_area li {
	list-style-position: outside;
	list-style-image: url(../img/ico/ico_arrow_grey.gif);
	margin: 0px;
	margin-left: 30px !important;
	margin-left: 22px;
	margin-top: 3px;
	padding: 0px;
	text-indent: -1px !important;
	text-indent: 6px;
	line-height: 16px;
}
.rightLink_news {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	display:block;
	margin: 0px;
	padding: 0px 0px 0px 0px;
	width:295px !important;
	width:310px;
	text-transform: none;
	color: #6F9FC8;
	text-decoration:none;
	height: auto;
}
.rightLink_moreNews {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	display:block;
	margin: 0px 0px 7px 0px;
	padding: 7px 0px 0px 0px;
	width:295px !important;
	width:310px;
	text-transform: uppercase;
	color: #8BC53F;
	text-decoration:none;
	height: auto;
}
.rightLink_moreUpdates {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	display:block;
	margin: 0px 0px 7px 0px;
	padding: 7px 0px 0px 0px;
	width:225px !important;
	width:240px;
	text-transform: uppercase;
	color: #6F9FC8;
	text-decoration:none;
	height: auto;
}
a:hover.rightLink_news, a:hover.rightLink_moreNews, a:hover.rightLink_moreUpdates {
	color: #FFFFFF;
}
.rightLink_news p {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	display:block;
	width:260px;
	margin-top: 1px;
	padding-top: 0px;
	padding-left: 0px;
	text-transform: none;
	color: #999999;
	text-decoration:none;
	margin-right: 0px;
	margin-left: 10px;
	padding-right: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	cursor:pointer;
}
.rightFindSearch {
	margin: 10px 0px 20px 0px;
}
a.btn_search {
	color: #6F9FC8;
	background-color: #000000;
	text-decoration: none;
	padding: 3px 6px;
	margin: 0px;
	font-size: 10px;
	text-transform: capitalize;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	letter-spacing: 0em;
	line-height: 10px;
}
a.btn_search:hover {
	color: #FFFFFF;
	background-color: #333333;
	text-decoration: none;
}
/* ============================================================ */
.ico_game {
	width: 26px;
	height: 16px;
	background-image: url(../img/ico/ico_mouse_lg.gif);
	background-repeat: no-repeat;
}
.ico_demo {
	width: 26px;
	height: 16px;
	background-image: url(../img/ico/ico_demo.gif);
	background-repeat: no-repeat;
}
.ico_trailer {
	width: 26px;
	height: 16px;
	background-image: url(../img/ico/ico_film_lg.gif);
	background-repeat: no-repeat;
}

.gift_promo {
	width: 150px;
	height: 53px;
	background: url(https://web.archive.org../img/gift/gift_promo.gif) no-repeat;
	font-size: 12px;
	font-family: trebuchet ms, verdana;
	font-weight: bold;
	text-transform: uppercase;
	color: #decd74;
	padding-left: 52px;
	padding-top: 7px;
	margin-top: 10px;
}
.gift_promo_secondary {
	font-size: 10px;
	font-family: verdana;
	color: #e1dab1;
	padding-left: 11px;
	width: 150px;
	background-color: #424242 ;
	padding-top: 5px;
	padding-bottom: 5px;
}


/*
     FILE ARCHIVED ON 21:25:38 Mar 14, 2008 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 10:44:12 Jun 25, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.476
  exclusion.robots: 0.019
  exclusion.robots.policy: 0.008
  esindex: 0.009
  cdx.remote: 103.551
  LoadShardBlock: 253.868 (3)
  PetaboxLoader3.datanode: 284.51 (4)
  load_resource: 350.639
  PetaboxLoader3.resolve: 264.881
*/