
<html><head>
<style type="text/css">
<!--
a {color: #bfba50; text-decoration: none}
a:hover {color: #938f3c; text-decoration:;
font-weight: regular}
-->
</style>
<meta content="text/html;charset=utf-8" http-equiv="content-type">
<title>Steam - Support Site</title>
<style type="text/css" id="operaUserStyle"></style></head>
<body alink="#938f3c" bgcolor="#626d5c" link="#bfba50" text="#c4cabe" vlink="#938f3c">
<div align="center">
<table bgcolor="black" border="0" cellpadding="0" cellspacing="0" cool="" gridx="16" gridy="16" height="135" showgridx="" showgridy="" width="800">
<tbody><tr height="16">
<td colspan="5" height="16" width="799"><spacer height="16" type="block" width="799"></spacer></td>
<td height="16" width="1"><spacer height="16" type="block" width="1"></spacer></td>
</tr>
<tr height="38">
<td colspan="2" height="38" width="17"><spacer height="38" type="block" width="17"></spacer></td>
<td align="left" colspan="3" height="38" valign="top" width="782" xpos="17">
<img border="0" height="29" src="Images/Type_SupportSite2.jpg" width="770"></td>
<td height="38" width="1"><spacer height="38" type="block" width="1"></spacer></td>
</tr>
<tr height="18">
<td colspan="3" height="18" width="224"><spacer height="18" type="block" width="224"></spacer></td>
<td align="left" content="" csheight="80" height="80" rowspan="2" valign="top" width="562" xpos="224">
<div align="right">
<font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2">
    {{ nav_buttons() }}
    <br></font></div>
</td>
<td height="80" rowspan="2" width="13"><spacer height="80" type="block" width="13"></spacer></td>
<td height="18" width="1"><spacer height="18" type="block" width="1"></spacer></td>
</tr>
<tr height="62">
<td height="62" width="15"><spacer height="62" type="block" width="15"></spacer></td>
<td align="left" colspan="2" height="62" valign="top" width="209" xpos="15">
<img border="0" height="52" src="Images/SteamTM.jpg" width="202">
</td>
<td height="62" width="1"><spacer height="62" type="block" width="1"></spacer></td>
</tr>
<tr cntrlrow="" height="1">
<td height="1" width="15"><spacer height="1" type="block" width="15"></spacer></td>
<td height="1" width="2"><spacer height="1" type="block" width="2"></spacer></td>
<td height="1" width="207"><spacer height="1" type="block" width="207"></spacer></td>
<td height="1" width="562"><spacer height="1" type="block" width="562"></spacer></td>
<td height="1" width="13"><spacer height="1" type="block" width="13"></spacer></td>
<td height="1" width="1"><spacer height="1" type="block" width="1"></spacer></td>
</tr>
</tbody></table>
<br>
<table bgcolor="#626d5c" border="0" cellpadding="0" cellspacing="0" width="801">
<tbody><tr valign="top">
<td align="left" bgcolor="#4c5844" width="571">
<table border="0" cellpadding="0" cellspacing="0" cool="" gridx="16" gridy="16" height="189" showgridx="" showgridy="" width="569">
<tbody><tr height="16">
<td colspan="3" height="16" width="568"></td>
<td height="16" width="1"><spacer height="16" type="block" width="1"></spacer></td>
</tr>
<tr height="172">
<td height="172" width="16"></td>
<td align="left" content="" csheight="149" height="172" valign="top" width="537" xpos="16">
<p>
<!-- Begin Main Content Title-->
{{ content|raw }}
<!-- End Main Content -->
</p>
</td>
<td height="172" width="15"></td>
<td height="172" width="1"><spacer height="172" type="block" width="1"></spacer></td>
</tr>
<tr cntrlrow="" height="1">
<td height="1" width="16"><spacer height="1" type="block" width="16"></spacer></td>
<td height="1" width="537"><spacer height="1" type="block" width="537"></spacer></td>
<td height="1" width="15"><spacer height="1" type="block" width="15"></spacer></td>
<td height="1" width="1"></td>
</tr>
</tbody></table>
</td>
<td>
<table align="left" border="0" cellpadding="0" cellspacing="0" cool="" gridx="16" gridy="16" height="424" showgridx="" showgridy="" width="226">
<tbody><tr height="42">
<td colspan="3" height="214" rowspan="2" width="16"></td>
<td align="left" height="42" valign="top" width="194" xpos="16">
<!-- Begin sidebar header -->
<img border="0" height="30" src="Images/Type_Top5Bugs.jpg" width="92">
<!-- Endsidebar header -->
</td>
<td colspan="2" width="15" height="42"></td>
<td height="42" width="1"><spacer height="42" type="block" width="1"></spacer></td>
</tr>
<tr height="172">
<td align="left" colspan="2" content="" csheight="159" height="172" valign="top" width="198" xpos="16">
<p>
<!-- Begin Sidebar Content -->
<font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2">Sidebar Content</font>
<!-- End Sidebar Content -->
</p>
<p>&nbsp;</p>
</td>
<td height="172" width="11"></td>
<td height="172" width="1"><spacer height="172" type="block" width="1"></spacer></td>
</tr>
<tr cntrlrow="" height="1">
<td height="1" width="14"><spacer height="1" type="block" width="14"></spacer></td>
<td height="1" width="1"><spacer height="1" type="block" width="1"></spacer></td>
<td height="1" width="1"><spacer height="1" type="block" width="1"></spacer></td>
<td height="1" width="194"><spacer height="1" type="block" width="194"></spacer></td>
<td height="1" width="4"><spacer height="1" type="block" width="4"></spacer></td>
<td height="1" width="11"><spacer height="1" type="block" width="11"></spacer></td>
<td height="1" width="1"></td>
</tr>
</tbody></table>
</td>
</tr>
</tbody></table>
<br>
<table border="0" cellpadding="0" cellspacing="0" cool="" gridx="16" gridy="16" height="74" showgridx="" showgridy="" width="803">
<tbody><tr height="2">
<td colspan="4" height="2" width="802"></td>
<td height="2" width="1"><spacer height="2" type="block" width="1"></spacer></td>
</tr>
<tr height="34">
<td colspan="2" height="34" width="356"></td>
<td align="left" height="34" valign="top" width="420" xpos="356"><a href="http://www.valvesoftware.com"><img border="0" height="23" src="Images/Valve_CircleR.gif" width="95"></a></td>
<td height="71" rowspan="2" width="26"></td>
<td height="34" width="1"><spacer height="34" type="block" width="1"></spacer></td>
</tr>
<tr height="37">
<td height="37" width="24"></td>
<td align="left" colspan="2" content="" csheight="37" height="37" valign="top" width="752" xpos="24">
<div align="center">
<p><font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="2"><b>{{ nav_buttons() }}</font>
</br>
<font face="Arial,Helvetica,Geneva,Swiss,SunSans-Regular" size="1">{{ footer() }}</font></p>
</div>
</td>
<td height="37" width="1"><spacer height="37" type="block" width="1"></spacer></td>
</tr>
<tr cntrlrow="" height="1">
<td height="1" width="24"><spacer height="1" type="block" width="24"></spacer></td>
<td height="1" width="332"><spacer height="1" type="block" width="332"></spacer></td>
<td height="1" width="420"><spacer height="1" type="block" width="420"></spacer></td>
<td height="1" width="26"><spacer height="1" type="block" width="26"></spacer></td>
<td height="1" width="1"></td>
</tr>
</tbody></table>
</div>

</body></html>