<html>
<head>
<style type="text/css">
<!--
a {color: #bfba50; text-decoration: none}
a:hover {color: #938f3c; text-decoration:;
font-weight: regular}
-->
</style>
<meta content="text/html;charset=utf-8" http-equiv="content-type"/>
<meta content="Microsoft FrontPage 4.0" name="generator"/>
<title>Steam Powered</title>
<style media="screen" type="text/css"><!--
#layer1 { position: absolute; top: 230px; left: 171px; width: 734px; height: 523px; visibility: visible }
--></style>
</head>
<body bgcolor="#626d5c">
<div align="center">
<table bgcolor="black" border="0" cellpadding="0" cellspacing="0" cool="" gridx="16" gridy="16" height="159" showgridx="" showgridy="" width="800">
<tr height="16">
<td colspan="5" height="16" width="799"><spacer height="16" type="block" width="799"/></td>
<td height="16" width="1"><spacer height="16" type="block" width="1"/></td>
</tr>
<tr height="35">
<td height="35" width="16"><spacer height="35" type="block" width="16"/></td>
<td align="left" colspan="3" height="35" valign="top" width="770" xpos="16"><img border="0" height="29" src="Type_steampowered.gif" width="770"/></td>
<td height="142" rowspan="3" width="13"><spacer height="142" type="block" width="13"/></td>
<td height="35" width="1"><spacer height="35" type="block" width="1"/></td>
</tr>
<tr height="14">
<td colspan="3" height="14" width="310"><spacer height="14" type="block" width="310"/></td>
<td align="left" content="" csheight="92" height="107" rowspan="2" valign="top" width="476" xpos="310">
{{ nav_buttons() }}
</td>
<td height="14" width="1"><spacer height="14" type="block" width="1"/></td>
</tr>
<tr height="93">
<td colspan="2" height="93" width="17"><spacer height="93" type="block" width="17"/></td>
<td align="left" height="93" valign="top" width="293" xpos="17"><img border="0" height="71" src="LOGO_Steam2.gif" width="288"/></td>
<td height="93" width="1"><spacer height="93" type="block" width="1"/></td>
</tr>
<tr cntrlrow="" height="1">
<td height="1" width="16"><spacer height="1" type="block" width="16"/></td>
<td height="1" width="1"><spacer height="1" type="block" width="1"/></td>
<td height="1" width="293"><spacer height="1" type="block" width="293"/></td>
<td height="1" width="476"><spacer height="1" type="block" width="476"/></td>
<td height="1" width="13"><spacer height="1" type="block" width="13"/></td>
<td height="1" width="1"><spacer height="1" type="block" width="1"/></td>
</tr>
</table>
<br/>
<table bgcolor="#4c5844" border="0" cellpadding="0" cellspacing="0" cool="" gridx="16" gridy="16" height="557" showgridx="" showgridy="" width="800">
<tr height="31">
<td colspan="6" height="31" width="799"><spacer height="31" type="block" width="799"/></td>
<td height="31" width="1"><spacer height="31" type="block" width="1"/></td>
</tr>
<tr height="444">
<td height="444" width="15"><spacer height="444" type="block" width="15"/></td>
<td align="left" colspan="4" content="" csheight="441" height="444" valign="top" width="769" xpos="15">
    <div align="center">
        {{ content|raw }}
    </div>
</td>
<td height="444" width="15"><spacer height="444" type="block" width="15"/></td>
<td height="444" width="1"><spacer height="444" type="block" width="1"/></td>
</tr>
<tr height="28">
<td colspan="3" height="28" width="351"><spacer height="28" type="block" width="351"/></td>
<td align="left" height="28" valign="top" width="432" xpos="351"><img border="0" height="23" src="Valve_CircleR.gif" width="95"/></td>
<td colspan="2" height="81" rowspan="2" width="16"><spacer height="81" type="block" width="16"/></td>
<td height="28" width="1"><spacer height="28" type="block" width="1"/></td>
</tr>
<tr height="53">
<td colspan="2" height="53" width="16"><spacer height="53" type="block" width="16"/></td>
<td align="left" colspan="2" content="" csheight="53" height="53" valign="top" width="767" xpos="16">
{{ footer() }}
</td>
<td height="53" width="1"><spacer height="53" type="block" width="1"/></td>
</tr>
<tr cntrlrow="" height="1">
<td height="1" width="15"><spacer height="1" type="block" width="15"/></td>
<td height="1" width="1"><spacer height="1" type="block" width="1"/></td>
<td height="1" width="335"><spacer height="1" type="block" width="335"/></td>
<td height="1" width="432"><spacer height="1" type="block" width="432"/></td>
<td height="1" width="1"><spacer height="1" type="block" width="1"/></td>
<td height="1" width="15"><spacer height="1" type="block" width="15"/></td>
<td height="1" width="1"><spacer height="1" type="block" width="1"/></td>
</tr>
</table>
</div>
<p></p>
</body>
</html>
